<div class="container">
    <div class="col--hidden col-md-12" style="margin-top: 10px; padding-left: 0px;padding-right: 0px;">
        <h3 class="col-form-label">Produtos proibidos</h3>
        <div class="bg-white rounded p-2 mt-1" style="text-align: justify;text-justify: inter-word;">

            <b>Importante:</b> Os anúncios de produtos que não respeitem as nossas Políticas de Cadastro de Produtos ou qualquer lei vigente terão seus estoques zerados e poderão ser suspensos sem aviso prévio. Essa infração poderá levar à suspensão da sua conta e à informação dos seus dados às autoridades cabíveis.
            <br>
            <br>
            <br>
            <p>
                <b>
                    Regras Gerais
                </b>
            </p> 
            <p>
                – Produtos usados<br>
                – Produtos roubados<br>
                – Produtos novos frutos de carga roubada ou furtada<br>
                – Produtos falsificados<br>
                – Produtos remanufaturados<br>
                – Produtos remanufaturados vendidos como novos<br>
                – Produtos adulterados<br>
                – Produtos a granel<br>
                – Produtos personalizados<br>
                – Produtos vendidos e entregues sem Nota Fiscal<br>
                – Produtos vendidos e entregues com Nota Fiscal adulterada, falsificada ou referentes a produtos diferentes aos vendidos.<br>
                – Produtos que demandem licenças e autorizações sem as devidas licenças e autorizações<br>
                – Produtos ou acessórios relacionados ao consumo de substâncias ilegais<br>
                – Produtos ofensivos e discriminatórios<br>
            </p>

            <p>
                <b>
                    Ossos, órgãos e membros humanos, Não é permitido anunciar e/ou solicitar: 
                </b>
            </p>
            <p>
                – Ossos e esqueletos.<br>
                – Sangue ou esperma.<br>
                – Órgãos, membros, resíduos humanos. <br>
                – Cadáveres.<br>
                – Pessoas.<br>
                – Barriga de aluguel.<br>
            </p>

            <p>
                <b>
                        Produtos ou serviços para adultos e roupa íntima usada Não é permitido anunciar e/ou solicitar: 
                </b>
            </p>
            <p>
                – Produtos da categoria Adulto ou SexShop .<br>
                – Produtos ou ofertas de anúncios de natureza pornográfica proibidos por lei, como: prostituição, pedofilia, zoofilia, necrofilia, incesto. <br>
                – Anúncios com conotação sexual fora da categoria adultos.<br>
                – Serviços sexuais, incluindo serviços sexuais por meio de exibição por webcam. <br>
                – Anúncios fora da categoria Adultos, links para eShops ou produtos anunciados nesta categoria. <br>
                – Fotografias pornográficas ou de conteúdo sexual. <br>
                – Revistas ou livros de conteúdo pornográfico ou que contenham pessoas nuas. <br>
                – Vídeos, filmes e jogos pornográficos ou de conteúdo sexual. <br>
                – Produtos afrodisíacos ou que contenham feromônios. <br>
                – Figuras ou brinquedos que mostrem pessoas nuas ou em posições sexuais. <br>
                – Qualquer produto que tenha conotação sexual.
            </p>

            <br><br><b>Queremos saber</b><br>
            Caso encontre algum produto proibido listado em alguma das lojas Olissy dentro dos marketplaces você poderá enviar um email para informar sobre a questão. O relato será rapidamente analisado e, sendo realmente comprovada a irregularidade na publicação/anúncio do produto, o lojista terá imediatamente o estoque zerado e o item será retirado da base da Olissy, além de outras medidas, quando necessário.<br><br>
        </div>
    </div>
</div>




 
 







