  <div class="container">
  <div class="col-md-12 col-xs-12" style="bottom: 10px; margin-top: 25px">
    <button type="submit" class="btn btn-success col-md-12 col-xs-12" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#cadastrarFornecedor" style="height: 60px; font-size: 16px;z-index: 1;">
      <b>Novo fornecedor</b>
    </button>
  </div>
  <!--
  <div class="col-md-12 col-xs-12" style="bottom: 10px; margin-top: 25px">
    <button (click)="cadastroNovoProduto_ExibirImagemPadrao()" type="submit" class="btn btn-success col-md-12 col-xs-12" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#cadastro" style="height: 60px; font-size: 16px">
      <b>Novo cadastro de produtos</b>
    </button>
  </div>
  -->
  <form [formGroup]="formularioCadastro" novalidate>
    <div class="modal-body">
      <span class="menu-item-info-box-detail" style="width:100%;">
        <img class="img-responsive center-block" autocomplete="off"  style="margin-bottom: 15px"  [src]="this.formularioCadastro.controls.imageDisplay.value"   width="120" alt="User Avatar">
        <label class="filebutton" style="width:100%;">
          <div class="widget-user-image" >
            <div style="width:100%;  padding: 15px;" class="btn btn-default" [class.alert-success]="this.formularioCadastro.controls['imageNew'].valid && (this.formularioCadastro.controls['imageNew'].dirty || this.formularioCadastro.controls['imageNew'].touched)" [class.alert-danger]="this.formularioCadastro.controls['imageNew'].invalid && (this.formularioCadastro.controls['imageNew'].dirty || this.formularioCadastro.controls['imageNew'].touched)">
              <b>
                Inserir Imagems
              </b>
            </div>
          </div>
          <span hidden>
            <input type="file" class="filebutton2" (change)="uploadFileCadastrar($event)"/>
          </span>
        </label>
      </span>
      <span class="menu-item-info-box-detail" style="width:100%;">
        <label style="width:100%;">
          Nome
          <input type="text" class="form-control" autocomplete="off" id="productName" style="width:100%;" formControlName="productName" required>
          <span class="help-block" style="color:green" *ngIf="this.formularioCadastro.controls['productName'].valid && (this.formularioCadastro.controls['productName'].dirty || this.formularioCadastro.controls['productName'].touched)">
            <i class="fa fa-check"></i>
            Ok
          </span>
          <span class="help-block" style="color:red" *ngIf="this.formularioCadastro.controls['productName'].invalid && (this.formularioCadastro.controls['productName'].dirty || this.formularioCadastro.controls['productName'].touched)">
            <i class="fa fa-remove"></i>
            Campo Obrigatorio
          </span>
        </label>
      </span>
      <span class="menu-item-info-box-detail" style="width:100%;">
        <label style="width:100%;">
          Descricao
          <div class="col-md-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
            <button type="submit" class="btn col-md-12 col-xs-12" data-toggle="modal" data-target="#editarDescricaoProduto">
              <b>Click para inserir Descrição do produto</b>
            </button>
          </div>
        </label>
        <div class="reset-test-descricao-produto" [innerHTML]="descricaoProdutoHTML"></div>
      </span>
      <span class="menu-item-info-box-detail" style="width:100%;">
        <label style="width:100%;">
          Preco
          <input type="text"class="form-control" [imask]="currencyMask" [unmask]="true"  style="font-weight: 500;" autocomplete="off" formControlName="productPrice">
          <span class="help-block" style="color:green" *ngIf="formularioCadastro.controls.productPrice.valid && (formularioCadastro.controls.productPrice.dirty || formularioCadastro.controls.productPrice.touched)">
            <i class="fa fa-check"></i>
            Ok
          </span>
          <span class="help-block" style="color:red" *ngIf="formularioCadastro.controls.productPrice.invalid && (formularioCadastro.controls.productPrice.dirty || formularioCadastro.controls.productPrice.touched)">
            <i class="fa fa-remove"></i>
            Campo Obrigatorio
          </span>
        </label>
      </span>
      <span class="menu-item-info-box-detail" style="width:100%;">
        <label>
          sessão
        </label>
        <select class="form-control" formControlName="productSession" (change)="setProductSession($event.target.value)">
          <option  value="null" disabled hidden>
            << Tipo? >>
          </option>
          <option *ngFor="let session of productSession" [value]="[session.productSession, session.productSessionIndece ]" >
            {{ session.productSession }}
          </option>
        </select>
      </span>
      <span class="menu-item-info-box-detail" style="width:100%;">
        <label>
          categoria
        </label>
        <select class="form-control" formControlName="productCategory" (change)="setProductCategory($event.target.value)">
          <option  value="null" disabled hidden>
            << catálogo? >>
          </option>
          <option *ngFor="let category of productCategory" [value]="[category.productCategory, category.productCategoryIndece]">
            {{ category.productCategory }}
          </option>
        </select>
      </span>
      <span class="menu-item-info-box-detail" style="width:100%;">
        <label>
          Tipo
        </label>
        <select class="form-control" formControlName="productType">
          <option  value="null" disabled hidden>
            << Nome? >>
          </option>
          <option *ngFor="let type of productType" [value]="type.productType">
            {{ type.productType }}
          </option>
        </select>
      </span>
      <span class="menu-item-info-box-detail" style="width:100%;">
        <label>
          Fornecedor
        </label>
        <select class="form-control" formControlName="provider">
          <option  value="null" disabled hidden>
            << Fornecedor? >>
          </option>
          <option *ngFor="let provider of providerListRegistered | async" [value]="provider.providerName">
            {{ provider.providerName }}
          </option>
        </select>
      </span>
      <label>
        Remedio é Generico?
      </label>
      <select class="form-control" formControlName="andGeneric" >
        <option  value="null" disabled hidden>
          << Remedio é Generico? >>
        </option>
        <option  *ngFor="let andGeneric of andGeneric" [value]="andGeneric">
          {{ andGeneric }}
        </option>
      </select>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="cadastroNovoProduto()" class="btn btn-success" >
        Cadastar Produto
      </button>
    </div>
  </form>
  <form novalidate>
    <div class="modal fade" id="cadastrarFornecedor">
      <div class="modal-dialog">
        <div class="modal-content" style="padding: 10px;">
          <div class="modal-header" style="border-bottom: 0px; padding-left: 0px;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
              Novo fornecedor
            </h4>
          </div>
          <div class="modal-body">
            <span class="menu-item-info-box-detail" style="width:100%;">
              <label style="width:100%;">
                Nome do fornecedor
                <input type="text" class="form-control" #providerName autocomplete="off" id="providerName" style="width:100%;" required>
              </label>
            </span>
            <label>
            Lista de Fornecedor ja <b>Cadastrado</b>
            </label>
            <select class="form-control" >
              <option  *ngFor="let provider of providerListRegistered | async">
                {{ provider.providerName }}
              </option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
              Cancelar
            </button>
            <button type="button" (click)="cadastrarFornecedor(providerName.value)" class="btn btn-success" data-dismiss="modal">
              Cadastar
            </button>
        </div>
        </div>
      </div>
    </div>
  </form>
  <form novalidate>
    <div class="modal fade" id="editarDescricaoProduto">
      <div class="modal-dialog">
        <div class="modal-content" style="padding: 10px;">
          <div class="modal-body">
            <form>
              <textarea #DescricaoProduto class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
              Cancelar
            </button>
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
              Limpar
            </button>
            <button type="button" (click)="editarDescricaoProduto(DescricaoProduto.value)" class="btn btn-success" data-dismiss="modal">
              Salvar
            </button>
        </div>
        </div>
      </div>
    </div>
  </form>
</div>