a:focus, a:hover {
  color: #23527c;
  text-decoration:none;
}

.img-circle {
  height: 100px;
}

.box.box-primary {
  border-top-color: #c71582;
}

.btn-primary {
  color: #fff;
  background-color: #c71582;
  border-color: #b31374;
}