<div class="container">
  <div class="col--hidden col-md-12" style="margin-top: 10px; padding-left: 0px;padding-right: 0px;">
    <h3 class="col-form-label">Termo de Adesão</h3>
    <div class="bg-white rounded p-2 mt-1" style="text-align: justify;text-justify: inter-word;">
      <div class="row">
        <div class="col-12">
        </div>
      </div>
      <p>
        <b>Termos de Adesão ao Site e/ou Aplicativo web.olissy.com/ app.olissy.com</b>
      </p>
      <p>São partes deste instrumento, de um lado, <b>olissy S.A.</b>, pessoa jurídica de
        direito privado, com sede na Rua ***************, CEP: 00000-000, na cidade de *******
        - ES, inscrita no CNPJ sob o n° 00.000.000/0000-00, doravante denominada olissy e, do outro, o <b>USUÁRIO</b>,
        pessoa física, assim doravante designado.
      </p>
      <p>
        <br>
      </p>
      <p>
        <b>
          Considerações Iniciais
        </b>
      </p>
      <p></p>
      <ul>
        <li>
          A olissy oferece aos USUÁRIOS, através do aplicativo “olissy.com”, a opção de comprar cosméticos,
          medicamentos permitidos, suplementos, itens para saúde e higiene pessoal, entre outros doravante designados de
          Produtos;<br>
        </li>
        <li>
          Os produtos divulgados são comercializados por farmácias, drogarias, varejistas de cosméticos, suplementos
          produtos de beleza e higiene pessoal, entre outros, doravante designados de ANUNCIANTES;<br>
        </li>
        <li>
          O USUÁRIO recebe os produtos por ele escolhidos na forma oferecida pela olissy neste termo;<br>
        </li>
        <li>
          As partes acima identificadas e qualificadas resolvem firmar o presente acordo, que se regerá pelas seguintes
          cláusulas e condições descritas neste termo.<br>
        </li>
      </ul>
      <p>
      </p>
      <p>
        <b>
          O Aplicativo
        </b>
      </p>
      <p>
      </p>
      <ul>
        <li>
          Ao se cadastrar no aplicativo olissy.com o USUÁRIO terá a sua disposição ferramentas para aquisição de
          produtos ofertados pelos ANUNCIANTES credenciados, poderá visualizar quais estão mais próximas à sua
          localização, conseguirá solicitar cotações mediante o envio do receituário, ter acesso a todos os Produtos
          ofertados pelo Anunciante em sua plataforma e-commerce integrado ao olissy.com bem como, programar a data de
          recebimento dos produtos adquiridos, entre outras funcionalidades;<br>
        </li>
        <li>
          O serviço do olissy.com consiste, portanto, em aproximar, através do aplicativo, o USUÁRIO e os ANUNCIANTES
          cadastrados, possibilitando que o USUÁRIO encaminhe aos Anunciantes, pedidos de entregas, e efetue on-line o
          pagamento dos produtos adquiridos e do frete, sendo a olissy um mero facilitador de negócios/pagamentos;<br>
        </li>
        <li>
          Fica esclarecido ao USUÁRIO – o qual declara-se ciente – que o serviço oferecido pela olissy se relaciona
          apenas à intermediação (facilitador de compra) para comercialização dos produtos divulgados, não abarcando o
          armazenamento, disponibilização e entrega física (via motoboy ou outros meios) dos produtos, sendo estes itens
          de responsabilidade integral dos ANUNCIANTES cadastrados, a quem deverão ser direcionadas quaisquer reclamações
          acerca de problemas decorrentes de vício, defeito ou inexatidão dos pedidos e produtos;<br>
        </li>
        <li>
          O aplicativo poderá ser acessado por pessoas físicas, nacionais ou estrangeiras, com idade igual ou superior a
          18 (dezoito) anos;<br>
        </li>
        <li>
          Neste ato o Usuário, sob as penas da lei, declara não se enquadrar em qualquer hipótese impeditiva, legal ou
          contratual, para cadastrar-se no aplicativo.<br>
        </li>
      </ul>
      <p>
      </p>
      <p>
        <b>
          O Cadastro
        </b>
      </p>
      <p>
      </p>
      <ul>
        <li>
          O USUÁRIO declara que leu e concorda com todos os termos e condições previstos neste instrumento;<br>
        </li>
        <li>
          Para participar do programa, o USUÁRIO deverá ser previamente cadastrado no aplicativo olissy.com;<br>
        </li>
        <li>
          A partir do cadastro, a olissy procederá à checagem das informações cadastradas pelo USUÁRIO;<br>
        </li>
        <li>
          A olissy reserva-se no direito de excluir o USUÁRIO do programa na hipótese de qualquer indício de fraude ou
          irregularidade no cadastro, bem como insuficiência de informações;<br>
        </li>
        <li>
          O USUÁRIO reconhece que a atribuição de confiabilidade e segurança às transações eletrônicas é um ativo
          intangível do serviço. Portanto, a olissy reserva-se o direito de utilizar todos meio válidos e possíveis
          para, se entender necessário e a qualquer momento, confirmar os dados fornecidos pelo usuário quando seu
          cadastramento e a situação econômico-financeira e de crédito, especialmente para assegurar o cumprimento das
          transações comerciais que vierem a ser contratadas nos termos deste contrato, estando autorizada a consultar
          bancos de dados mantidos por terceiros e bases de restrições creditícias, tais como SPC e SERASA;<br>
        </li>
        <li>
          Caso a olissy constate haver, entre as informações fornecidas pelo USUÁRIO, informações incorretas,
          incompletas e/ou inverídicas, caso o USUÁRIO deixe de enviar os documentos e esclarecimentos solicitados, ou
          caso, ainda, a olissy constate haver restrições à situação econômico-financeira e/ou ao crédito do USUÁRIO,
          está autorizada poderá bloquear a aquisição de produtos pelo USUÁRIO;<br>
        </li>
        <li>
          O USUÁRIO é responsável pela atualização permanente de seus dados cadastrais;<br>
        </li>
        <li>
          O USUÁRIO, para utilizar os serviços aqui descritos, deverá ter capacidade jurídica para atos civis e deverá,
          necessariamente, prestar as informações exigidas no cadastro, assumindo integralmente a responsabilidade
          (inclusive civil e criminal) pela exatidão e veracidade das informações fornecidas no cadastro;<br>
        </li>
        <li>Após a validação do cadastro, o USUÁRIO será liberado para o uso do APLICATIVO.<br>
        </li>
      </ul>
      <p>
        <b>
          Funcionamento da Compra
        </b>
      </p>
      <ul>
        <li>
          O USUÁRIO cadastrado no aplicativo olissy.com, ao aderir ao presente termo, terá uma senha (password) para
          o uso do serviço, a qual deverá ser informada, juntamente com o login cadastrado, toda vez que desejar utilizar
          as funcionalidades do aplicativo. O USUÁRIO obriga-se a manter sua senha em sigilo e a não a revelar a qualquer
          terceiro; <br>
        </li>
        <li>
          O USUÁRIO obriga-se a tomar todas as precauções necessárias a fim de evitar que terceiros utilizem o serviço
          em seu nome. O USUÁRIO concorda em responsabilizar-se pelas Transações Comerciais e Pagamentos feitos em seu
          nome por terceiros, ainda que sem sua autorização, caso esses terceiros tenham, sem culpa exclusiva da olissy,
          tido acesso à senha ou a outros dados do USUÁRIO;<br>
        </li>
        <li>
          Somente estarão acessíveis à aquisição por meio do aplicativo ou plataforma web, os produtos que estiverem
          disponíveis no estoque dos ANUNCIANTES, sendo de responsabilidade destes o controle de disponibilidade;<br>
        </li>
        <li>
          As compras dos produtos poderão ser pagas através do aplicativo ou plataforma web, nos casos de pagamento com
          cartão de crédito ou débito e boleto bancário, ou diretamente para o ANUNCIANTE credenciado, no momento da
          entrega dos produtos, nos casos de pagamento em dinheiro;<br>
        </li>
        <li>O USUÁRIO se obriga, a pagar integralmente o preço dos produtos solicitados e entregues a si ou a terceiros
          por sua ordem, seja pela modalidade on-line, seja por qualquer outra forma, diretamente ao portador dos produtos
          encomendados;<br>
        </li>
        <li>
          O olissy.com se reserva no direito de excluir determinados produtos deste programa, a qualquer tempo e a
          seu critério;<br>
        </li>
        <li>
          É de responsabilidade do ANUNCIANTE credenciado, a entrega dos produtos após a finalização da compra pelo
          USUÁRIO, de acordo o prazo previamente informado por ela;<br>
        </li>
        <li>
          Existindo custos com frete, estes serão informados no aplicativo, pelo ANUNCIANTE credenciado, no momento de
          aquisição do produto pelo USUÁRIO;<br>
        </li>
        <li>
          Nos casos de atrasos no prazo de entrega ou de entrega de produtos trocados, desconformes ou extraviados, o
          USUÁRIO poderá abrir reclamação no aplicativo ou site, seguindo a política de troca, devolução e cancelamento do
          ANUNCIANTE, ou contatar diretamente a central de atendimento desta;<br>
        </li>
        <li>
          Ao concluir o pedido, o USUÁRIO receberá uma mensagem da olissy contendo informações do ANUNCIANTE e os
          dados da compra na conta de e-mail fornecida no cadastro. O status do pedido poderá ser consultado pelo USUÁRIO
          no aplicativo;<br>
        </li>
        <li>
          Para estabelecer contato entre olissy e o USUÁRIO fica disponibilizado no endereço eletrônico da internet
          <b>www.farmaciasapp.com.br </b>ou aplicativo, no menu <b>Fale Conosco</b>, sendo certo que o USUÁRIO se obriga,
          igualmente, a manter em seu cadastro endereço eletrônico atual, por intermédio do qual, poderão ser dirigidas as
          comunicações da olissy, desde logo emprestando-se validade jurídica e efetividade a esse meio eletrônico de
          troca de informações recíproca;<br>
        </li>
        <li>
          Durante as compras, o USUÁRIO deverá atentar para informações como preço, forma de pagamento,
          disponibilidades, forma e prazo de entrega dos produtos e serviços e a reputação dos ANUNCIANTES decorrente da
          avaliação dos demais consumidores.<br>
        </li>
      </ul>
      <p>
        <b>
          Serviços
        </b>
      </p>
      <ul>
        <li>
          O USUÁRIO declara que leu e concorda com todos os termos e condições previstos na Política de Troca, Devolução
          e Cancelamento, disponibilizadas no aplicativo e site da olissy, e que está ciente de que é responsabilidade
          dos ANUNCIANTES, a solução de reclamações acerca de problemas decorrentes de vícios, defeitos, inexatidão dos
          pedidos, produtos e entregas;<br>
        </li>
        <li>
          O USUÁRIO poderá exercer o direito de arrependimento dos produtos adquiridos pelo aplicativo, nos termos do
          Código de Defesa do Consumidor e das Políticas de Troca/Devolução/Cancelamento do ANUNCIANTE da qual adquiriu o
          produto. Os produtos adquiridos não poderão ser devolvidos, sob nenhuma hipótese, nas lojas, sedes ou sucursais
          da olissy;<br>
        </li>
        <li>
          O USUÁRIO concorda e reconhece que a olissy disponibiliza para os USUÁRIOS tão somente os serviços
          discriminados neste Termo. Assim sendo, eventuais negociações ou participações do USUÁRIO, em promoções
          veiculadas por anunciantes, incluindo pagamento ou entrega de bens e serviços, condições, garantias e
          apresentações associadas a tal negociação, ocorrem exclusivamente, por conta e responsabilidade do USUÁRIO, do
          ANUNCIANTE e dos prestadores dos serviços. O USUÁRIO concorda que a olissy não é responsável por quaisquer
          prejuízos originários da falha ou falta de qualquer serviço/produto disponibilizado pelos anunciantes;<br>
        </li>
        <li>
          O USUÁRIO reconhece e concorda que a olissy não será responsável pelo conteúdo, propaganda, produtos,
          serviços ou outros materiais contidos ou disponibilizados pelos anunciantes através de links contidos no
          aplicativo ou onde o serviço está sendo disponibilizado;<br>
        </li>
        <li>
          A olissy não poderá ser responsabilizada por qualquer falha ou não funcionamento dos serviços provenientes
          de terceiros ou decorrentes de caso fortuito ou força maior.<br>
        </li>
      </ul>
      <p>
        <b>
          Responsabilidade
        </b>
      </p>
      <ul>
        <li>
          A olissy aconselha aos usuários que mantenham os seus antivírus atualizados e utilizem firewall, diminuindo
          consideravelmente as chances de terem seus dados interceptados por pessoas mal intencionadas;<br>
        </li>
        <li>
          Tendo em vista as características inerentes ao ambiente da Internet, a olissy não se responsabiliza por
          interrupções ou suspensões de conexão ocasionadas por caso fortuito ou de força maior, bem como por falhas,
          interrupções, suspensões de conexão, configurações e/ou mau funcionamento eletrônico de qualquer rede,
          "hardware"ou "software", disponibilidade e acesso à internet por parte do USUÁRIO, assim como qualquer
          informação incorreta ou incompleta fornecida por este no seu cadastro;<br>
        </li>
        <li>
          O USUÁRIO declara, reconhece e aceita como de sua responsabilidade e risco de operar o sistema e utilizar os
          serviços. O USUÁRIO atesta que utiliza sua própria escolha livre e desimpedida para participar voluntariamente
          nesta atividade. O USUÁRIO se compromete a tomar o devido cuidado durante a compartilhamento, participação, uso
          e/ou operação dos serviços. O USUÁRIO reconhece, compreende e tem consciência de todos os riscos que se
          relacionam ao uso dos SERVIÇOS;<br>
        </li>
        <li>
          A olissy não se responsabilizará, em hipótese alguma, por roubo, perdas ou danos relacionados ao uso dos
          serviço;<br>
        </li>
        <li>
          O USUÁRIO isenta a olissy de toda responsabilidade, a qualquer título, por quaisquer danos, tais como danos
          materiais, pessoais, morais, estéticos, que venha a causar a si ou a terceiros, ou que venha a sofrer em razão
          de quaisquer eventos ocorridos ou relacionados ao uso do aplicativo ou dos serviços;<br>
        </li>
        <li>
          O aplicativo permite que o USUÁRIO acesse e veja uma variedade de conteúdos, inclusive, sem limitações,
          imagens fotográficas, textos, dados de mapas e terrenos, listagens de empresas, comentários e outras informações
          relacionadas fornecidas pela olissy, seus licenciantes e seus usuários (o "Conteúdo"). O USUÁRIO entende e
          concorda com o seguinte: <br>
        </li>
      </ul>
      <p>
        (a) dados de mapas, trânsito, rotas e conteúdo relacionado são fornecidos somente para fins de referência e a
        olissy se exime de qualquer tipo de responsabilidade no que se refere aos serviços prestados. Ademais, é
        possível que as condições do tempo, obras, interdições ou outros eventos alterem as condições das estradas ou as
        rotas sejam diferentes dos resultados do mapa. O USUÁRIO deve usar o bom senso ao usar esse Conteúdo;&nbsp;
      </p>
      <p>
        (b) imagens, textos e conteúdos de terceiros são fornecidos sem qualquer tipo de responsabilidade por parte da
        olissy. Caso o USUÁRIO se sinta ofendido ou infrinja direito próprio ou de terceiros, requer a olissy que seja
        imediatamente notificada, a fim de que tome as devidas providências perante os devidos responsáveis;&nbsp;
      </p>
      <p>(c) Determinado Conteúdo pode ser fornecido nos termos de licença de outras sociedades e empresas que não sejam a
        olissy, e está sujeito aos direitos autorais e a outros direitos de propriedade intelectual detidos por outros
        terceiros. O USUÁRIO poderá ser responsabilizado por qualquer cópia ou divulgação não autorizada do Conteúdo.
      </p>
      <p>
        <br>
      </p>
      <p>
        <b>
          Privacidade da Informação
        </b>
      </p>
      <ul>
        <li>A olissy tomará todas as medidas possíveis para manter a confidencialidade e a segurança das compras
          efetuadas, porém não responderá por prejuízo que possa ser derivado da violação dessas medidas por parte de
          terceiros que utilizem as redes públicas ou a internet, subvertendo os sistemas de segurança para acessar as
          informações de influenciadores e clientes.<br>
        </li>
      </ul>
      <p>
        <b>
          Violação no Sistema ou Base de Dados
        </b>
      </p>
      <ul>
        <li>
          Não é permitida a utilização de nenhum dispositivo, software, ou outro recurso que venha a interferir nas
          atividades e operações do olissy.com, bem como nas publicações das ofertas, descrições, contas ou seus bancos
          de dados;<br>
        </li>
        <li>
          Qualquer intromissão, tentativa de, ou atividade que viole ou contrarie as leis de direito de propriedade
          intelectual e/ou as proibições estipuladas neste termo, tornarão o responsável passível das ações legais
          pertinentes, bem como das sanções aqui previstas, sendo ainda responsável pelas indenizações por eventuais danos
          causados;<br>
        </li>
        <li>
          A olissy se reserva no direito de comunicar às autoridades, sem comunicação prévia ao USUÁRIO, caso constate
          qualquer indício de fraude ou violação de segurança do aplicativo ou site.<br>
        </li>
      </ul>
      <p>
        <b>
          Propriedade Intelectual
        </b>
      </p>
      <ul>
        <li>
          O uso comercial da expressão olissy.com como marca, nome empresarial ou nome de domínio, bem como os
          conteúdos das telas relativas aos serviços da olissy assim como os programas, bancos de dados, redes e
          arquivos, que permitem que o USUÁRIO acesse e use sua conta, são propriedade exclusiva da olissy e estão
          protegidos pelas leis e tratados internacionais de direito autoral, marcas, patentes, modelos e desenhos
          industriais. O uso indevido e a reprodução total ou parcial dos referidos conteúdos são proibidos, salvo a
          autorização expressa da olissy.<br>
        </li>
      </ul>
      <p>
        <b>
          Disposições Gerais
        </b>
      </p>
      <ul>
        <li>
          Este Termo de Adesão vigorará por tempo indeterminado, a contar da aceitação do USUÁRIO;<br>
        </li>
        <li>
          A qualquer tempo, qualquer das partes pode denunciar este ajuste imotivadamente, bastando que comunique a
          outra parte por escrito ou através dos canais de atendimento;<br>
        </li>
        <li>
          O USUÁRIO declara que avaliou todos os termos e condições do presente instrumento, e que aceita e concorda
          todas as disposições aqui contidas. Reconhece, também, que a olissy poderá, a qualquer tempo, solicitar
          informações do USUÁRIO, por qualquer motivo que seja;<br>
        </li>
        <li>
          O presente TERMO DE USO poderá, a qualquer tempo, ter seu conteúdo, ou parte dele, modificados para adequações
          e inserções, tudo com vistas ao aprimoramento dos serviços disponibilizados;<br>
        </li>
        <li>
          As novas condições entrarão em vigência assim que sejam veiculadas no site, sendo possível ao USUÁRIO
          manifestar oposição a quaisquer dos termos modificados, desde que o faça por escrito, através do site FARMÁCIAS
          APP, o que gerará o cancelamento automático de seu CADASTRO;<br>
        </li>
        <li>
          O Usuário que desejar encerrar/rescindir o presente contrato de poderá fazê-lo a qualquer momento, através da
          desativação do APLICATIVO (APP), permanecendo responsável pelos pagamentos pendentes e compras em andamento;<br>
        </li>
        <li>
          OS ANUNCIANTES cadastrados determinam seus fluxos e regras para a comercialização de seus produtos ou serviços
          conforme conveniência e sem qualquer interferência da olissy. Por este motivo, os Usuário Compradores deverão
          verificar as informações de cada ANUNCIANTE cadastrado referentes às entregas dos produtos, políticas de
          retorno/trocas/devoluções, informações de serviço ao consumidor, termos de uso e política de privacidade,
          disponibilizados pelos ANUNCIANTES. Assim, é esperado que o Usuário esteja ciente e de acordo com estas regras
          estabelecidas pelo ANUNCIANTE do qual for adquirir os produtos, antes concluir o pedido.<br>
        </li>
      </ul>
      <p>
        <b>
          O Foro
        </b>
      </p>
      <ul>
        <li>
          As partes elegem o Foro do domicílio do USUÁRIO, como competente para dirimir quaisquer dúvidas ou
          controvérsias oriundas deste instrumento.<br>
        </li>
      </ul>
    </div>
  </div>
</div>

