
<div *ngIf=" PopularOrder == '' " class="notHaveOrder-main">
  <img src="{{ iconeOrder }}">
  <span>
    Você não possui pedidos
  </span>
</div>

<div class="col-md-12 col-xs-12" style="top: 25px;" *ngFor="let order of PopularOrder">
  <div [routerLink]="['/order-detail', order.PRIMARY_KEY]"  class="info-box">
    <span  class="info-box-icon no-padding" style="padding: 0px; background:  transparent; margin-top: -3px;">
      <img [src]="order.clientImageUrl" width="70" height="70" class="img-circle"/>
    </span>
    <div class="info-box-content">
      <div class="product-info">
        <span class="label pull-right"
          [ngClass]="{
            'label-success': order.orderState == 'Enviado',
            'label-info':    order.orderState == 'Entregando',
            'label-danger':  order.orderState == 'Desistência',
            'label-primary':order.orderState == 'Finalizado',
            'label-warning': order.orderState == 'Em processamento'
          }">
          {{ order.orderState }}
        </span>
      </div>
      <span class="info-box-text text-nome-pedido font-weight-bold" [ngClass]="{ 'text-blue': order.storeViewedTheOrder == false }">
        {{ order.clientName }} {{ order.clientLastName }}
      </span>
      <span class="info-box-number" [ngClass]="{ 'text-blue': order.storeViewedTheOrder == false }">
        {{ order.totalOrderValue | currency: 'BRL' }}
      </span>
      <span class="progress-description" [ngClass]="{ 'text-blue': order.storeViewedTheOrder == false }">
        {{ formatDataOrderList(order.orderDate) }}
      </span>
    </div>
  </div>
</div>