
<ul class="nav nav-tabs" style="top: 58px;" >
    <li class="active">
        <a href="#tab_1" data-toggle="tab">
            <b>Conversas</b>
        </a>
    </li>             
    <li>
        <a href="#tab_2" data-toggle="tab">
            <b>Contatos</b>
        </a>
    </li>
    <li>
        <a href="#tab_3" data-toggle="tab">
            <b>Perfil</b>
        </a>
    </li> 
</ul>	
<div class="tab-content" style="margin-bottom:0px;margin-top:0px">   
    <div class="tab-pane active" id="tab_1" >
        <section  class="content">
            <div class="row contato-center-desktop">
                <div class="col-sm-9 " style="margin-bottom:0px;margin-top:50px;">
                    <div *ngFor="let conversa of newMessage" class="box box-widget widget-user-2" [routerLink]="['/client-message-text', conversa.PRIMARY_KEY]">
                        <div *ngIf="conversa.message != null" class="box-body">
                            <ul class="products-list product-list-in-box">
                                <li class="item">
                                    <div class="product-img">
                                        <img class="img-circle" [src]="conversa.photoStore" alt="User Avatar">
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title" style="color:#c71582">
                                            {{ conversa.nameStore }}
                                            <span class="pull-right badge bg-green">
                                                <!-- {{ conversa.message.length }}  -->
                                                {{ countNewMensage(conversa.message) }} 
                                            </span>
                                        </a>
                                        <span class="product-description" style="color: green">
                                            <b>
                                                {{ showLestNewMensage(conversa.message) }}
                                            </b>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div *ngFor="let conversa of ConversationView"  class="box box-widget widget-user-2" [routerLink]="['/client-message-text', conversa.PRIMARY_KEY]">
                        <div *ngIf="conversa.message != null" class="box-body">
                            <ul class="products-list product-list-in-box">
                                <li class="item">
                                    <div class="product-img">
                                        <img class="img-circle" [src]="conversa.photoStore" alt="User Avatar">
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title" style="color:#c71582">
                                            {{ conversa.nameStore }}
                                            <span class="pull-right badge bg-green"></span>
                                        </a>
                                        <span class="product-description" style="color:#000">
                                            <b>
                                                <i *ngIf="faCheckMensage(conversa.message) == true" class="fa fa-check check-green"></i> 
                                                <i *ngIf="faCheckMensage(conversa.message) == false" class="fa fa-check check-black"></i>
                                                {{ showLestMensage(conversa.message) }}
                                            </b>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="tab-pane" id="tab_2">
        <section  class="content">
            <div class="row contato-center-desktop">
                <div class="col-sm-9" style=" margin-bottom:0px;margin-top:50px;">
                    <div *ngFor="let conversa of contact" class="box box-widget widget-user-2" [routerLink]="['/client-message-text', conversa.PRIMARY_KEY]">
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                <li class="item">
                                    <div class="product-img">
                                        <img class="img-circle" [src]="conversa.photoStore" alt="User Avatar">
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title" style="color:#c71582">
                                            {{ conversa.nameStore }}
                                        </a>
                                        <span class="product-description " style="color: #000">
                                            <b>
                                                <i *ngIf="faCheckMensage(conversa.message) == true" class="fa fa-check check-green"></i> 
                                                <i *ngIf="faCheckMensage(conversa.message) == false" class="fa fa-check check-black"></i>
                                                {{ showLestMensage(conversa.message) }}
                                            </b>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
                    
    <div class="tab-pane" id="tab_3">             
        <div class="row contato-center-desktop">
            <div class="col-sm-9" style=" margin-bottom:0px;margin-top:47px;"> 
                <div class="box-widget widget-user" style="border-radius:0; "> 
                    <div class="widget-user-header" style="border-radius:0;  background:transparent">
      
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle" [src]="client.clientImageUrl"  alt="User Avatar" style="width: 106px;height: 106px;">
                    </div>
                    <div class="box-footer" style="background:  transparent; border:0px; ">
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h3 class="widget-user-username" style="text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); ">{{ client.clientName }} {{ client.clientLastName  }}</h3>
                                </div>
                            </div>
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">
                                Contatos
                                    </h5>
                                    <span class="description-text">
                                        {{ client.clientCellPhone }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header"><i class="fa  fa-ellipsis-h"></i></h5>
                                    <span class="description-text">
                                        {{ client.clientCity }}
                                    </span>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>    
      