<div class="container">
  <div class="col--hidden col-md-12" style="margin-top: 10px; padding-left: 0px;padding-right: 0px;">
    <h3 class="col-form-label">Sobre a olissy delivery</h3>
    <div class="bg-white rounded p-2 mt-1" style="text-align: justify;text-justify: inter-word;">
      <div class="row">
        <div class="col-12">
        </div>
      </div>
      <p>
        A Olissy delivery  trata-se de uma Marketplace local de compras e vendas de produtos. No ambiente online isso se traduz em um espaço
        virtual onde a farmacia empresa permite que outros lojistas anunciem seus produtos e serviços através da
        plataforma da olissy. Assim, o olissy, é como se fosse um shopping center virtual, onde vários
        lojistas vendem seus produtos e serviços diretamente aos consumidores. Podemos dizer então que o olissy é
        um facilitador de compras através de uma plataforma web/mobile, onde um usuário Vendedor pode oferecer seus
        próprios produtos e/ou serviços diretamente a usuários Compradores. O serviço prestado pelo olissy é o
        oferecimento desta plataforma aos usuários, com inúmeras funcionalidades, permitindo que usuários Vendedores e
        Compradores se aproximem e realizem transações diretamente entre si.
      </p>
    </div>
  </div>
</div>