.users-list>div img {
    border-radius: 0%;
    max-width: 100px;
  }
  .abra-sua-loja{
    position: relative;
  }
  
  .welcome-jumbotron p {
    margin-bottom: 20px;
  }
  
  
  @media screen and (min-width: 768px) {
    .jumbotron-abra-sua-loja {
      padding-right: 0px;
      padding-left: 0px;
    }
    .welcome-jumbotron h1 {
      margin-bottom: 10px;
      margin-top: 60px;
    }
  }
  
  .jumbotron-abra-sua-loja {
    border: 1px solid rgb(224, 224, 224);
  }
  
  
  a:focus, a:hover {
    color: #444;
    text-decoration: none;
  }
  a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: #444;
  }
  
  @media only screen and (max-width: 890px) {
    .content {
      padding-right: 0px;
      padding-left: 0px;
    }
    .abra-sua-loja{
      display: flex;
      flex-direction: column ;
      justify-content: center;
      align-items: center;
    }
    .welcome-jumbotron p {
      font-size: 14px;
    }
    .welcome-jumbotron h1 {
      margin-bottom: 10px;
      margin-top: 60px;
    }
   }
  
   .info-box {
    display: flex;
    justify-content: center;
  }
  
  .info-box {
    min-height: 90px;
    background: transparent;
    box-shadow: 0 0px 0px rgba(0,0,0,0.1);
  }