<div class="container">
  <section class="content">
    <br />
    <div class="box box-widget">
      <div class="box-body">
        <div class="col-hidden col-md-12" style="margin-top: 10px; padding-left: 0px;padding-right: 0px;">
          <h3 class="col-form-label" style="margin-bottom: 20px; display: flex;justify-content: center;">Sobre a Olissy</h3>
        </div>
        <p style="text-align: justify;text-justify: inter-word;">
          Olissy trata-se de uma Marketplace, local de compras e vendas de produtos, no ambiente online, isso se traduz em um espaço virtual, aonde a olissy permite que farmácias e drogarias anunciem seus produtos e serviços através da plataforma da olissy. Assim, a olissy, é como se fosse um shopping center virtual, onde vários lojistas vendem seus produtos e serviços diretamente aos consumidores.
        </p>
        <p style="text-align: justify;text-justify: inter-word;">
          Podemos dizer então que o olissy é um facilitador de compras através de uma plataforma web/mobile, onde uma farmácia pode oferecer seus próprios produtos e/ou serviços diretamente a usuários Compradores. O serviço prestado pela olissy oferecer inúmeras funcionalidades, permitindo que farmácias e seus clientes se aproximem, e realizem transações diretamente entre si.
        </p>
      </div>
    </div>
  </section>

  <section class="content">
    <br />
    <div class="box box-widget">
      <div class="box-body">
        <div class="col-hidden col-md-12" style="margin-top: 10px; padding-left: 0px;padding-right: 0px;">
          <h3 class="col-form-label" style="margin-bottom: 20px; display: flex;justify-content: center;">Regra de negocios</h3>
        </div>
        <p style="text-align: justify;text-justify: inter-word;">
          
            - A Olissy e um marketplace, ou seja, uma espécie de um shopping online, onde a loja farmacêutica fisica, cadastra seu produto na plataforma Olissy.<br><br>
            
            - A operação da plataforma é caracterizada pela intermediação. Ou seja, a Olissy prover os meios para compradores e vendedores fecharem  negócios.<br><br>
            
            - A plataforma Olissy, tem como fonte de receita, a cobrança da taxa de 0.25, do cliente, por pedido finalizado, e da responsabilidade da loja colher este valor, e repaça para a plataforma.<br><br>
            
            - O cliente acessa a plataforma e escolhe o produto desejado, de uma determinada loja, e faz um pedido, contendo telefone, endereço de entrega, produtos(total do valor dos produtos + taxa da plataforma de 0.25) e a forma de pagamento.<br><br>
            
            - O logista vai ate o endereço informado e entrega o produto, o cliente paga valor do produto(s) + a taxa da plataforma, e o pedido e finalizado.<br><br>
            
            - O logista guarda as taxas da plataforma, paga pelos clientes, ate a data de envio<br><br>
            
            - A loja repaça este acumulativo para a plataforma, pois o sistema gera um boleto, com o valor acumulado, das taxas da plataforma, que o cliente pagou.<br><br>              
        </p>
      </div>
    </div>
  </section> 
  

  <br />
      
  <section class="content">

    <div class="jumbotron welcome-jumbotron jumbotron-abra-sua-loja" style="padding-bottom: 0px;">
      <div class="col-hidden col-md-12" style="margin-top: 0px; padding-left: 0px;padding-right: 0px;">
        <h3 class="col-form-label" style="margin-bottom: 20px;">Por que ultilizar a plataforma Olissy</h3>
      </div>
      <div class="row" class="users-list clearfix abra-sua-loja">
        <div class="col-md-3 col-sm-4 col-xs-12" style="padding-bottom: 25px;">
          <img src="/assets/plataform/crie-sua-loja-virtual-gratis.png"alt="User Image"/>
          <a class="users-list-name">
            Loja virtual grátis
          </a>
          <span class="users-list-date">
            <!-- Nós também acreditamos no seu sonho. -->
          </span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12" style="padding-bottom: 25px;" >
          <img src="/assets/plataform/sem-mensalidade-fixa.png" alt="User Image"/>
          <a class="users-list-name">
            Sem mensalidade fixa
          </a>
          <span class="users-list-date">
            <!-- uma plataforma sem planos de adesão ou taxa. -->
          </span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12" style="padding-bottom: 25px;">
          <img src="/assets/plataform/sem-limitacoes.png" alt="User Image"/>
          <a class="users-list-name">
            Sem limitações
          </a>
          <span class="users-list-date">
            <!-- Seja livre! Sem limite de produtos. -->
          </span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12" style="padding-bottom: 25px;">
          <img src="/assets/plataform/sem-taxa-quando-vender.png" alt="User Image"/>
          <a class="users-list-name">
            Sem taxa quando vender
          </a>
          <span class="users-list-date">
            <!-- Crie sua loja grátis e sem paga taxa quando vender. -->
          </span>
        </div>
      </div>
      <br />
    </div>
  </section>

  <section class="content">
    <br />
    <div class="box box-widget">
      <div class="box-body">
        <div class="col-hidden col-md-12" style="margin-top: 10px; padding-left: 0px;padding-right: 0px;">
          <h3 class="col-form-label" style="margin-bottom: 20px; display: flex;justify-content: center;">Tecnologias Ultilizadas</h3>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank">
                <img src="/assets/developer/css.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://www.w3.org/html/" target="_blank">
                <img src="/assets/developer/html.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://getbootstrap.com.br/" target="_blank">
                <img src="/assets/developer/bootstrap.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://developer.mozilla.org/" target="_blank">
                <img src="/assets/developer/js.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://www.hostgator.com/" target="_blank">
                <img src="/assets/developer/hostgator.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://www.typescriptlang.org/" target="_blank">
                <img src="/assets/developer/typescript.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://angular.io/" target="_blank">
                <img src="/assets/developer/angular.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://firebase.google.com/" target="_blank">
                <img src="/assets/developer/firebase.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://www.mongodb.com/" target="_blank">
                <img src="/assets/developer/mongo.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://nodejs.org/en/" target="_blank">
                <img src="/assets/developer/nodejs.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://www.heroku.com/" target="_blank">
                <img src="/assets/developer/heroku.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://pagar.me/" target="_blank">
                <img src="/assets/developer/pagarme.jpg" width="90px">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <br />
    <div class="box box-widget">
      <div class="box-body">
        <div class="col-hidden col-md-12" style="margin-top: 10px; padding-left: 0px;padding-right: 0px;">
          <h3 class="col-form-label" style="margin-bottom: 20px; display: flex;justify-content: center;">Vamos conversar</h3>
          <p style="text-align: center;text-justify: inter-word;">
            Não hesite em falar conosco por meio das informações de contato abaixo.            
          </p>
        </div>

        <div class="social-auth-links text-center">
            <a href="mailto:olissy.app@gmail.com">
              <button class="btn btn-primary btn-block btn-flat" >
              Quero enviar um 
              <b>Email!</b>
            </button>
            </a>
          <br><br><br>
          <p>- OU -</p>
          <br>
        </div>
        <div class="col-hidden col-md-12">
          <h3 class="col-form-label" style="margin-bottom: 20px; display: flex;justify-content: center;">Mensagem</h3>
        </div>
        <form class="form-horizontal">
          <div class="box-body">
            <div class="form-group">         
               <input type="text" class="form-control" id="inputName" placeholder="Nome:">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="inputName" placeholder="Assunto:">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email:">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Mensagem..."></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-envelope-o"></i> Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section> 
     

</div>
