
<div class="container">
  <section class="content collumn-mobile">
    <div class="row">
      <div *ngFor="let store of stores | async" class="col-sm-6 col-xs-12">
        <a [routerLink]="['/store-page', store.FOREIGN_KEY]">
          <div class="place-info-box">
            <span class="place-info-box-icon" style="background: #fff;">
              <img [src]="store.storeImageUrl" width="120px" height="120px" />
            </span>
            <div class="place-info-box-content" style=" display: block; ">
              <span class="place-info-box-text" style="margin-left: 5px; width: 95%;">
                {{ store.storeName }}
              </span>
              <span class="place-info-box-text" style="margin-left: 5px; font-size: 12px; font: caption; width: 95%;">
                {{ store.storeCity }}
              </span>
              <span class="place-info-box-text" style="margin-left: 5px; font-size: 12px; font-weight: bold; width: 95%;">
                {{ store.storeNeighborhood }}
              </span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <div class="row" *ngIf="!loading">
    <div class="login-logo">
      <i class="fa fa-refresh fa-spin fa-2x"></i>
    </div>
  </div>
</div>