<div class="container">
  <section class="content login-content" style="margin-bottom: 70% auto; padding-left: 0px; padding-right: 0px;">
    <div class="login-logo" *ngIf="mensagem.loading == false">
      Aguarde efetuando
    </div>
    <div class="row" *ngIf="mensagem.loading == false">
      <div class="login-logo">
        <i class="fa fa-refresh fa-spin fa-2x"></i>
      </div>
    </div>
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body" style="margin-bottom: 70px;" *ngIf="mensagem.loading">
      <p class="login-box-msg" style="font-size: 30px; font-weight: 700; font-family: monospace;">
        Cadastro
      </p>
      <div class="box-body" *ngIf="mensagem.status">
        <div class="callout callout-danger">
          <h4>Atenção!</h4>
          <p>{{ mensagem.mensagem }}</p>
        </div>
      </div>
  
      <form [formGroup]="formulario" (ngSubmit)="ValidarCadastro()">
        <div class="form-group has-feedback">
          <input
            type="text"
            formControlName="userName"
            required
            autocomplete="off"
            class="form-control"
            placeholder="Seu nome"
          />
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input
            type="email"
            formControlName="userEmail"
            required
            autocomplete="off"
            class="form-control"
            placeholder="Seu Email"
          />
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input
            type="password"
            formControlName="password"
            required
            autocomplete="off"
            class="form-control"
            placeholder="Digite sua senha"
          />
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input
            type="password"
            formControlName="retypePassword"
            required
            autocomplete="off"
            class="form-control"
            placeholder="Repete sua senha"
          />
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="icheck">
              <label class="chk" style="margin-bottom: 0px;">
                <input type="checkbox" formControlName="userTerms" required />
                Eu aceito os
                <a data-keyboard="false" data-toggle="modal" data-target="#termsModal">termos</a>
              </label>
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  this.formulario.controls['userTerms'].valid &&
                  (this.formulario.controls['userTerms'].dirty ||
                  this.formulario.controls['userTerms'].touched)
                "
              >
                <i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  this.formulario.controls['userTerms'].invalid &&
                  (this.formulario.controls['userTerms'].dirty ||
                  this.formulario.controls['userTerms'].touched)
                "
              >
                <i class="fa fa-remove"></i>Campo TERMOS é Obrigatorio
              </span>
            </div>
          </div>
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">
              Cadastrar
            </button>
          </div>
        </div>
      </form>
      <div class="social-auth-links text-center">
        <p>- OU -</p>
        <a class="btn btn-primary btn-block btn-flat" routerLink="/login">
          Já sou cadastrado,
          <b>quero entrar!</b>
        </a>
      </div>
    </div>
  </section>
  <form>
    <div class="modal fade" id="termsModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="box-footer" style="border-top: 0px solid #f4f4f4;">
              <ul class="nav nav-tabs" style="display: flex">
                <li routerLinkActive="active"><a routerLink="terms-of-accession">1</a></li>
                <li routerLinkActive="active"><a routerLink="adhesion-contract">2</a></li>
                <li routerLinkActive="active"><a routerLink="exchange-devolution">3</a></li>
                <li routerLinkActive="active"><a routerLink="privacy-policy">4</a></li>
                <li routerLinkActive="active"><a routerLink="terms-of-use">5</a></li>
                <li data-dismiss="modal"><a><i class="fa fa-fw fa-close"></i></a></li>
              </ul>
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>



