<div class="container">
  <div class="col--hidden col-md-12" style="margin-top: 10px; padding-left: 0px;padding-right: 0px;">
    <h3 class="col-form-label">Troca e Devolução</h3>
    <div class="bg-white rounded p-2 mt-1" style="text-align: justify;text-justify: inter-word;">
      <br />
      <p>
        <b>
          Política de Troca, Devolução e Cancelamento
        </b>
      </p>
      <p>
        A <b>Olimssy </b>apresenta a presente POLÍTICA DE TROCA, DEVOLUÇÃO E CANCELAMENTO, com o objetivo de
        orientar os usuários sobre seus direitos perante o Código de Defesa do Consumidor e as normas da ANVISA, bem como,
        apresentar sugestões dos procedimentos que poderão adotar nas situações adiante descritas, ressalvando que os
        usuários deverão seguir as orientações e políticas dos ANUNCIANTES credenciados de que tenham adquirido os
        produtos.
      </p>
      <p>
        <b>
          Recusa do Recebimento do Produto
        </b>
      </p>
      <ul>
        <li>
          A Olimssy orienta a todos os usuários que confiram os dados do produto recebido com o pedido realizado
          por meio do aplicativo logo no momento da entrega; <br>
        </li>
        <li>
          A recusa do seu pedido pode ocorrer devido ao recebimento de produto avariado, embalagem violada, produto em
          desacordo com o pedido, entre outros motivos. Lembre-se que este direito deve ser exercido no ato do
          recebimento, caso contrário não será classificado como recusa e sim como arrependimento;<br>
        </li>
        <li>
          Após a recusa, o usuário poderá contatar diretamente o serviço de atendimento ao cliente do ANUNCIANTE
          credenciado, comunicando o ocorrido, ou poderá abrir reclamação no aplicativo ou no endereço eletrônico
          <b>www.olimssy.com </b>no link <b>Fale Conosco</b>, situação na qual A Olimssy comunicará o
          ocorrido ao ANUNCIANTE do qual o usuário adquiriu o produto, para que tome as providências devidas;<br>
        </li>
        <li>
          Caso o produto tenha sido recebido, siga os procedimentos indicados para desistência, estando atento para o
          prazo de 7 (sete) dias contados da data do recebimento.<br>
        </li>
      </ul>
      <p>
        <b>
          Arrependimento ou Devolução
        </b>
      </p>
      <ul>
        <li>
          De acordo com o artigo 41 do Código de Defesa do Consumidor, nas compras realizadas fora do estabelecimento
          comercial, o consumidor tem até 07 (sete) dias corridos para se arrepender do pedido e comunicar a desistência
          ao ANUNCIANTE conveniado, da qual adquiriu o produto;<br>
        </li>
        <li>
          As solicitações de desistência da compra serão acatadas desde que: <br>
          a) Sejam efetuadas por meio de contato com a Central de Atendimento do ANUNCIANTE, em até 07 (sete) dias
          corridos após o recebimento do produto, mediante a informação do número do pedido, Nota Fiscal de compra e
          demais informações solicitadas pela central;<br>
          b) A mercadoria seja devolvida ao ANUNCIANTE, de acordo com as orientações e procedimentos repassados pela
          central de atendimento, na embalagem original (interna/externa quando for o caso), sem indícios de uso, sem
          violação do lacre original do fabricante.<br>
        </li>
        <li>
          O direito de arrependimento leva ao cancelamento da compra e, assim como o consumidor recebe restituição dos
          valores pagos, o ANUNCIANTE deve receber o produto intacto, em condições de ser novamente vendido, não sendo
          admitido qualquer indício de uso ou avaria do produto, de seus componentes ou de suas embalagens.<br>
        </li>
      </ul>
      <p>
        <b>
          Troca
        </b>
      </p>
      <ul>
        <li>
          Em caso de vícios ou defeitos dos produtos, o cliente deverá comunicar a Central de Atendimento do ANUNCIANTE,
          do qual o adquiriu, e seguir as instruções recebidas, para que o pedido de troca seja analisado e processado. Os
          prazos para troca neste tipo de situação serão de acordo com o previsto no Código de Defesa do Consumidor;<br>
        </li>
        <li>
          Aconselhamos que, ao contatar a central de atendimento do ANUNCIANTE, o cliente informe o número do pedido, o
          produto e o motivo da troca;<br>
        </li>
        <li>
          Ficará sob a responsabilidade do ANUNCIANTE, tomar as medidas necessárias para o transporte e recebimento do
          produto, dentro das normas aplicáveis;<br>
        </li>
        <li>
          Ao ser constatado que a troca pode ser realizada, o ANUNCIANTE emitirá um reembolso para o cliente, no valor
          do produto e do frete (se existir).<br>
        </li>
      </ul>
      <p>
        <b>
          Ressarcimento de Valores
        </b>
      </p>
      <ul>
        <li>
          O ressarcimento do valor do produto e respectivo frete, serão de responsabilidade do ANUNCIANTE credenciado, e
          seguirão sua Política de Troca e Devolução.<br>
        </li>
      </ul>
      <p>
        <b>
          Disposições Gerais
        </b>
      </p>
      <ul>
        <li>
          A Olimssy esclarece aos usuários que os serviços oferecidos se relacionam apenas à intermediação
          (agenciamento de negócios com opção de pagamento on-line) para comercialização dos produtos divulgados, não
          abarcando o armazenamento, disponibilização e entrega física (via motoboy ou outros meios) dos produtos, sendo
          estes itens de responsabilidade integral dos ANUNCIANTES credenciados, a quem deverão ser direcionadas quaisquer
          reclamações acerca de problemas decorrentes de vício, defeito ou inexatidão dos pedidos.<br>
        </li>
        <li>
          A Olimssy poderá atualizar a sua Política de Troca, Devolução e Cancelamento periodicamente, sempre
          informando sobre alterações em nosso site e na atualização do presente documento;<br>
        </li>
        <li>
          Para fins deste instrumento, o termo ANUNCIANTES engloba farmácias, drogarias, cosméticas, lojas de
          suplementos, farmácias de manipulação, homeopáticas, entre outros que estiverem devidamente cadastrados no
          Olimssy com produtos divulgados pelo aplicativo.<br>
        </li>
      </ul>
      <p>
        <br>
      </p>
      <p>
        <b>
          Dúvidas sobre Privacidade
        </b>
      </p>
      <ul>
        <li>
          Se você tiver algum questionamento ou dúvida com relação à Política de Troca, Devolução e Cancelamento do
          Olimssy ou qualquer prática descrita aqui, entre em contato conosco através do link <b>Fale Conosco</b> ou
          através do e-mail <b>contato@olimssy.com.br</b>.<br>
        </li>
      </ul>
    </div>
  </div>
</div>