<div class="container">
  <br />
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="/assets/developer/developer.jpg" alt="User profile picture">
        <h3 class="profile-username text-center">Saulo Silva</h3>
        <p class="text-muted text-center">Front End Developer</p>
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <i class="fa fa-envelope"></i>
            <a class="pull-right email">2033.xyz@gmail.com</a>
          </li>
          <li class="list-group-item">
            <i class="fa fa-fw fa-phone"></i>
            <a class="pull-right tel">(27) 9 9904-1192</a>
          </li>
        </ul>
        <div style="display:flex; justify-content: center; cursor: pointer;">
            <a href="https://www.linkedin.com/in/saulo-silva-0a1640197/" target="_blank"><i class="fa fa-fw fa-linkedin-square" style=" font-size: 32px;"></i></a>
            <a href="https://github.com/olissy" target="_blank"><i class="fa fa-fw fa-github" style=" font-size: 32px;"></i></a>
        </div>
      </div>
    </div>

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Sobre Mim</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <strong><i class="fa fa-book margin-r-5"></i> Graduação</strong>

        <p class="text-muted">
          Graduação de nível superior com titulação de Bacharelado em Ciências da Computação
        </p>

        <hr>

        <strong><i class="fa fa-map-marker margin-r-5"></i> Localização</strong>

        <p class="text-muted">Espirito Santo</p>

        <hr>

        <strong><i class="fa fa-pencil margin-r-5"></i>Tecnologias Ultilizadas</strong>
        <br><br><br>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank">
                <img src="/assets/developer/css.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://www.w3.org/html/" target="_blank">
                <img src="/assets/developer/html.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://getbootstrap.com.br/" target="_blank">
                <img src="/assets/developer/bootstrap.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://developer.mozilla.org/" target="_blank">
                <img src="/assets/developer/js.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://www.hostgator.com/" target="_blank">
                <img src="/assets/developer/hostgator.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://www.typescriptlang.org/" target="_blank">
                <img src="/assets/developer/typescript.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://angular.io/" target="_blank">
                <img src="/assets/developer/angular.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://firebase.google.com/" target="_blank">
                <img src="/assets/developer/firebase.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://www.mongodb.com/" target="_blank">
                <img src="/assets/developer/mongo.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://nodejs.org/en/" target="_blank">
                <img src="/assets/developer/nodejs.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://www.heroku.com/" target="_blank">
                <img src="/assets/developer/heroku.jpg" width="90px">
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <a href="https://pagar.me/" target="_blank">
                <img src="/assets/developer/pagarme.jpg" width="90px">
              </a>
            </div>
          </div>
        </div>

        <hr>

        <strong></strong>
        <p>Graduado em Ciências da Computação, sou desenvolvedor junior desde o início de 2017,
          atualmente trabalhando neste projeto, como Full Stack com foco no Frond end. Eu Sempre fiquei preocupado com a experiência do usuário, por isso resolvir desenvolver este produto
          para, facilitar as compras através de uma plataforma web/mobile, onde um usuário Vendedor pode oferecer seus próprios produtos e/ou serviços diretamente a usuários Compradores.
        </p>
      </div>
    </div>
  </div>
</div>