<br />
<ul class="sidebar-menu" data-widget="tree">
  <li routerLinkActive="active">
    <a routerLink="/store">
      <i class="fa fa-group"></i><span>Lojas</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="store-message-contact">
      <i class="fa fa-envelope"></i> <span>Mensagens</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="store-order">
      <i class="fa fa-bell"></i>
      <span>Pedidos</span>
      <span class="pull-right-container">
        <small class="label pull-right bg-green"></small>
      </span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="store-product-registration">
      <i class="fa fa-plus"></i>
      <span>Novo produtos</span>
      <span class="pull-right-container">
        <small class="label pull-right bg-green"></small>
      </span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="store-product-record">
      <i class="fa fa-shopping-cart"></i>
      <span>Meus produtos</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="store-panel">
      <i class="fa fa-user"></i>
      <span>Loja</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="store-user-change-registration">
      <i class="fa fa-user"></i>
      <span>Usuario</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="payment-list">
      <i class="fa fa-dollar"></i>
      <span>Pagamentos</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="invoice-list">
      <i class="fa fa-folder-open"></i>
      <span>Documentos</span>
    </a>
  </li>
</ul>
