
<div *ngIf="store.commentStore > 0"  class="col-md-12 col-xs-12 center">
  <div class="box box-solid card">
    <div class="box-header with-border">
      <div class="user-block">
        <div class="row" *ngIf="comments.status">
          <div class="login-logo">
            <i class="fa fa-refresh fa-spin fa-2x" style="margin-top: 20px;"></i>
          </div>
        </div>
        <div  *ngIf="!comments.status" class="modal-header" style=" background-color: #C71585">
          <h4 class="modal-title" style="color: #fff;">{{ store.commentStore }} Comentarios</h4>
        </div>
        <div  *ngIf="!comments.status" class="modal-body" style="padding: 0px;">
          <div *ngIf="comments.post.length != 0">
            <div *ngFor="let comment of comments.post" class="box-footer box-comments" style="border-top: 1px solid #eadae0;">
              <div class="box-comment">
                <img class="img-circle img-sm" [src]="comment.commentImageUrl" alt="User Image">
                <div class="comment-text">
                  <span class="username">
                    {{ comment.commentName }}
                    <span class="text-muted pull-right">
                      <!-- {{ comment.commentDate | ProductPipe }} -->
                    </span>
                  </span>
                  {{ comment.commentText }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!comments.status" class="modal-footer" style="padding: 0px; text-align: start; border-top: 0px solid #e5e5e5;background-color: #d2d6de;">
          <div *ngIf="false" class="box box-default collapsed-box box-solid" style="cursor: pointer; margin-bottom: 0px; box-shadow: none;">
            <div class="box-header with-border">
              <div *ngIf="commentPlus" class="box-title" (click)="setCommentPlus()" style="align-items: center; display: flex; justify-content: center;">
                Mais Comentarios 
              </div>
              <div *ngIf="!commentPlus" class="box-title" style="align-items: center; display: flex; justify-content: center;">
                <i class="fa fa-refresh fa-spin fa-1x"></i>
              </div>
            </div>
          </div>
          <form *ngIf="LOGIN" [formGroup]="formularioComentario" style="margin: 5px 2px 5px 4px; background-color: #d2d6de; display: flex;">
            <div class="img-push" style="width: 100%;">
              <input type="text" formControlName="commentText" class="form-control input-sm" (keyup.enter)="publicarComentario()" placeholder="Comente Você Também ...">
            </div>
            <div class="img-responsive img-circle pull-right"> 
              <button type="button" (click)="publicarComentario()" class="btn btn-default btn-xs">
                <i class="fa  fa-send-o" style="font-size: 24px"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="store.commentStore == 0"  class="col-md-12 col-xs-12 center">
  <div class="box box-solid card">
      <div class="box-header with-border">
          <div class="user-block" style=" padding: 10px; ">
            <span class="username center">
              Esta loja não possui comentario 
            </span>
          </div>
      </div>
  </div>
</div>