
<div class="container">
    <div class="col--hidden col-md-12" style="margin-top: 10px; padding-left: 0px;padding-right: 0px;">
        <h1 class="col-form-label">Regra de negocios</h1>
        <div class="bg-white rounded p-2 mt-1" style="text-align: justify;text-justify: inter-word;">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <p>
            - A Olissy delivery e um marketplace, ou seja, uma espécie de um shopping online, onde a loja farmacêutica fisica, cadastra seu produto na plataforma Olissy.<br><br>
            
            - A operação da plataforma é caracterizada pela intermediação. Ou seja, a Olissy prover os meios para compradores e vendedores fecharem  negócios.<br><br>
            
            - A plataforma Olissy, tem como fonte de receita, a cobrança da taxa de 0.25, do cliente, por pedido finalizado, e da responsabilidade da loja colher este valor, e repaça para a plataforma.<br><br>
            
            - O cliente acessa a plataforma e escolhe o produto desejado, de uma determinada loja, e faz um pedido, contendo telefone, endereço de entrega, produtos(total do valor dos produtos + taxa da plataforma de 0.25) e a forma de pagamento.<br><br>
            
            - O logista vai ate o endereço informado e entrega o produto, o cliente paga valor do produto(s) + a taxa da plataforma, e o pedido e finalizado.<br><br>
            
            - O logista guarda as taxas da plataforma, paga pelos clientes, ate a data de envio<br><br>
            
            - A loja repaça este acumulativo para a plataforma, pois o sistema gera um boleto, com o valor acumulado, das taxas da plataforma, que o cliente pagou.<br><br>              
        </p>
        </div>
    </div>
</div>

    
    