<div class="container">
  <div class="col--hidden col-md-12" style="margin-top: 10px; padding-left: 0px;padding-right: 0px;">
    <h3 class="col-form-label">Contrato de Adesão</h3>
    <div class="bg-white rounded p-2 mt-1" style="text-align: justify;text-justify: inter-word;">
      <div class="row">
        <div class="col-12"></div>
      </div>
      <p>CONTRATO DE PRESTAÇÃO DE SERVIÇOS DE DIVULGAÇÃO DE PRODUTOS POR MARKETPLACE</p>
      <br>
      <br>
      <p>
        <b>olissy APP LTDA</b>, pessoa jurídica de direito privado, com sede na Rua ********,
        ***********, CEP: 000000-000, na cidade de ********** - ES, inscrita no CNPJ sob o n°
        00.000.000/0000-00, doravante denominada "olissy".
      </p>
      <br>
      <br>
      <p>
        A ANUNCIANTE IDENTIFICADA, doravante simplesmente denominado(a) “CONTRATANTE” ou “VENDEDOR(A)"
      </p>
      <p>
        <br>
      </p>
      <ul>
        <p>
          <b>
            CAPÍTULO I - ACEITAÇÃO DO CONTRATO E DOCUMENTOS INTEGRANTES
          </b>
        </p>
        <ul>
          <li>
            Faz parte integrante do presente contrato, para todos os fins, as regras de confidencialidade contratadas
            através do Termo de Confidencialidade, cuja vigência estender-se-á por todo o período de validade deste
            contrato, as regras de uso do olissy.com, as políticas da olissy e as condições gerais para a utilização
            dos serviços, que estão disponíveis no site:
            olissy.com/terms-of-accession.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE declara ter lido e aceito, sem reservas, todas as cláusulas e condições do presente
            Contrato.
            <br>
          </li>
        </ul>
        <p>
          <b>
            CAPÍTULO II - DEFINIÇÕES
          </b>
        </p>
        <ul>
          <li>
            As seguintes palavras e expressões, quando iniciadas por maiúscula neste Contrato, terão os seguintes
            significados:
            <br>
          </li>
          <br>
          <br>
          <li>
            <b>COMPRADOR</b>: pessoa física ou jurídica que deseje adquirir produtos e/ou serviços ofertados pelo(a)
            CONTRATANTE, utilizando-se dos serviços da olissy.
            <br>
          </li>
          <li>
            <b>SERVIÇO</b>: os serviços, a serem prestados pela olissy ao(à) CONTRATANTE, descritos na cláusula 3.1
            abaixo.
            <br>
          </li>
          <li>
            <b>USUÁRIO</b>: comprador que tenha se cadastrado junto a olissy por meio do preenchimento de dados no
            próprio marketplace.
            <br>
          </li>
          <li>
            <b>TRANSAÇÃO COMERCIAL</b>: compra de produtos e/ou serviços oferecidos por Vendedores, através do
            marketplace.
            <br>
          </li>
          <li>
            <b>olissy.com</b>: Canal de vendas, marketplace, desenvolvido para as plataformas Web e Mobile pertencente
            à olissy.
            <br>
          </li>
        </ul>
        <p>
          <b>
            CAPÍTULO III – OBJETO
          </b>
        </p>
        <ul>
          <li>
            O presente instrumento tem por objeto a divulgação e venda, não exclusiva, de produtos e serviços do(a)
            CONTRATANTE no marketplace “olissy.com” de propriedade exclusiva da olissy. A plataforma de comunicação e
            divulgação de produtos, olissy.com é um marketplace criado para aproximar farmácias, cosméticas e lojas de
            suplementos de seus clientes, através do qual, o(a) CONTRATANTE terá divulgado o rol de ofertas dos produtos
            que comercializa, através da integração de sua plataforma e-commerce com o olissy.com, também receberá
            solicitações de cotação de produtos, mediante a visualização do receituário, bem como terá a sua disposição
            todos os dados necessários para a entrega e faturamento dos produtos adquiridos pelos clientes, entre outras
            funcionalidades do marketplace.
            <br>
          </li>
          <li>
            O Serviço poderá abranger também outras ações da olissy, a seu exclusivo critério, que visem ao objetivo
            acima previsto.
            É garantido pela olissy que as informações sobre o(a) CONTRATANTE geradas pelo marketplace, tais como marca,
            faturamento, estratégias de mercado, clientes, entre outras, não serão divulgadas para outros Anunciantes.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE terá acesso a todas as informações de seus clientes, as transações comerciais realizadas
            com eles e aos resultados e estatísticas de suas vendas.
            Para acesso ao Serviço, o(a) CONTRATANTE deverá ter internet, equipamentos compatíveis à utilização do
            Serviço, pessoas habilitadas ao manuseio do painel do olissy.com, que deverão alimentar e atualizar o
            marketplace com informações sobre os produtos, preços, promoções, características do medicamentos e
            quantidades em estoque.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE é o(a) único(a) responsável pela obtenção, manutenção e custeio dos equipamentos, da
            conexão à Internet e dos acessórios, mesmo quando a olissy lhe oferecer eventual auxílio em seu
            desenvolvimento.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE será responsável por todos os custos com a entrega dos produtos ora comercializados,
            isentando a olissy de todas as despesas com a logística.
            <br>
          </li>
          <li>
            O CONTRATANTE declara-se ciente de que o Serviço não é e nem se destina a ser comparável aos serviços
            financeiros oferecidos por instituições bancárias ou administradoras de cartão de crédito, consistindo apenas
            em uma forma de facilitação e acompanhamento da realização de Transações Comerciais entre um Comprador e o(a)
            CONTRATANTE.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE declara-se ciente de que o Serviço não é e nem se destina a ser comparável aos serviços de
            venda de medicamentos pela internet (e-commerce), consistindo apenas em uma forma de divulgação dos produtos
            do(a) CONTRATANTE, não sendo de responsabilidade da olissy a venda e a entrega destes produtos, sendo
            portanto, de responsabilidade do(a) CONTRATANTE a obtenção e manutenção de todas a licenças, alvarás e
            autorizações necessárias à atividade de comércio de medicamentos, bem como o cadastro de farmacêutico para
            atuação nas unidades/lojas, a olissy é um mero facilitador de negócios/pagamentos.
            <br>
          </li>
          <li>
            A olissy reserva todos os direitos que não foram expressamente concedidos ao(à) CONTRATANTE neste
            contrato. O marketplace é protegido por pela Lei de Software (Lei nº 9.609/98), Lei de Direitos Autorais (Lei
            nº 9.610/98) e outras leis e tratados de propriedade intelectual. A titularidade, direitos autorais e outros
            direitos de propriedade intelectual relativos ao marketplace olissy.com são de propriedade exclusiva da
            olissy.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE deverá possuir uma conta bancária de sua titularidade, mantida no Brasil junto a uma
            instituição financeira devida e regularmente constituída ou autorizada a funcionar no território nacional,
            para a finalidade deste Contrato, bem como deverá possuir um endereço de e-mail válido e informá-lo a
            olissy.
            <br>
          </li>
        </ul>
        <p>
          <b>
            CAPÍTULO IV - TRANSAÇÕES COMERCIAIS
          </b>
        </p>
        <ul>
          <li>
            O(A) CONTRATANTE ao proceder seu cadastramento, deverá fazê-lo com informações precisas, verdadeiras e
            completas e deverá atualizar os seus dados, no prazo máximo de 5 (cinco) dias úteis, sempre que neles ocorrer
            uma alteração.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE responsabiliza-se civil e criminalmente pela veracidade e exatidão das informações
            fornecidas nos dados enviados a olissy.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE terá uma senha (password) para o uso do Serviço, a qual deverá ser informada, juntamente
            com seu e-mail cadastrado (login), toda vez que o(a) CONTRATANTE desejar utilizar o marketplace. O(A)
            CONTRATANTE obriga-se a manter sua senha em sigilo e a responsabilizar-se pelo uso indevido de terceiros se
            assim o designar.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE obriga-se a tomar todas as precauções necessárias a fim de evitar que terceiros utilizem o
            Serviço em seu nome. O(A) CONTRATANTE concorda em responsabilizar-se pelas Transações Comerciais e Pagamentos
            feitos em seu nome por terceiros, ainda que sem sua autorização, caso esses terceiros tenham, sem culpa
            exclusiva da olissy, tido acesso à senha ou a outros dados do(a) CONTRATANTE, de forma a realizar em nome
            do(a) CONTRATANTE quaisquer Transações de Comércio Eletrônico, Pagamentos ou Movimentações.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE reconhece que a atribuição de confiabilidade e segurança às transações eletrônicas é um
            ativo intangível do Serviço. Portanto, a olissy reserva-se o direito de utilizar todos os meios válidos e
            possíveis para, se entender necessário e a qualquer tempo, confirmar os dados fornecidos pelo(a) CONTRATANTE
            quando de seu cadastramento e a situação econômico-financeira e de crédito do(a) CONTRATANTE, especialmente
            para assegurar o cumprimento das Transações Comerciais que vierem a ser contratadas nos termos deste Contrato
            e o pagamento das respectivas remunerações a olissy. A olissy poderá, entre outras medidas, solicitar
            ao(à) CONTRATANTE dados adicionais e documentos que julgue pertinentes, bem como consultar bancos de dados
            mantidos por terceiros e bases de restrições creditícias, tais como SPC e SERASA. Caso a olissy constate
            haver, entre as informações fornecidas pelo(a) CONTRATANTE, informações incorretas, incompletas e/ou
            inverídicas, caso o(a) CONTRATANTE deixe de enviar prontamente e de forma satisfatória a olissy, os
            documentos e esclarecimentos solicitados, ou caso, ainda, a olissy constate haver restrições à situação
            econômico-financeira e/ou ao crédito do(a) CONTRATANTE, a olissy poderá bloquear o registro de ofertas e
            produtos do(a) CONTRATANTE, suspendendo e/ou revogando a aprovação de quaisquer Transações de Comércio
            Eletrônico e a realização de quaisquer Pagamentos ou Movimentações, sem prejuízo de outras medidas previstas
            no presente Contrato e sem que assista ao(à) CONTRATANTE qualquer sorte de indenização ou ressarcimento.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE autoriza expressamente que o seu cadastramento como Vendedor, acima mencionado, seja feito
            e mantido pela olissy, bem como autoriza a olissy a fornecer as informações constantes de referido
            cadastro a autoridades públicas competentes que as solicitarem formalmente, nos termos da Constituição Federal
            brasileira e demais legislações aplicáveis. Ademais, o(a) CONTRATANTE declara expressamente e concorda que a
            olissy colete informações para realização de acompanhamento de tráfego, com intuito de identificar grupos de
            perfil de Usuários e para fins de orientação publicitária, sendo vedada a divulgação destas informações a
            outros anunciantes.
            <br>
          </li>
          <li>
            A olissy deverá possibilitar a inclusão e a divulgação de produtos e serviços ao(à) CONTRATANTE no
            marketplace descrito na cláusula 3.1, solucionar eventuais falhas estruturais próprias do desenvolvimento do
            marketplace, dentro do prazo de vigência do contrato, bem como manter a tecnologia atualizada, evoluir as
            linguagens de programação, ambientes operacionais e legislação.
            <br>
          </li>
          <li>
            A olissy responsabiliza-se em transmitir informações referente os pedidos/vendas realizadas pelo
            marketplace, através do formato de integração via plataforma homologada entre as partes, onde por meio desta,
            serão enviadas informações cadastrais do cliente e do pedido (informações do produto, quantidade e variações
            deste). Fica por responsabilidade do(a) CONTRATANTE manter ativo e em pleno funcionamento sua
            plataforma/aplicação de retaguarda, da qual foi homologada, para que seja possível a transmissão das
            informações por meio desta.
            <br>
          </li>
          <li>
            As informações do pedido/compra, serão enviadas ainda, via e-mail cadastrado junto ao formulário de
            homologação (Anexo B), e exibidas no Painel / Dashboard do Anunciante credenciado, disponibilizado pela
            olissy.
            O Serviço prestado ao(à) CONTRATANTE tem como premissa que o(a) CONTRATANTE forneça seus produtos ou serviços
            segundo as condições e no prazo em que os ofertou. O(A) CONTRATANTE declara ainda estar ciente de que arcará
            com todo e qualquer custo, despesa ou taxas eventualmente relacionadas com o descumprimento da Transação
            Comercial nos termos deste Contrato ou aos atrasos na entrega de produtos.
            <br>
          </li>
          <li>
            Caso o(a) CONTRATANTE alterar qualquer informação, registro ou dados, mesmo que cadastrais, da Transação
            Comercial já finalizada no marketplace, o(a) CONTRATANTE será o(a) único(a) pelos riscos decorrentes de
            fraudes praticadas na Transação Comercial, bem como arcará com todo e qualquer custo, despesa ou taxas que vir
            a incorrer nos termos do presente Contrato.
            <br>
          </li>
          <li>
            As vendas originadas das ofertas anúnciadas do(a) CONTRATANTE, poderão ser pagas através do olissy.com,
            nos casos de pagamento com cartão de crédito e boleto bancário, onde estes pagamentos serão processados e
            analisados através do checkout/adquirente do(a) CONTRATANTE, por meio de integração/API entre as plataformas.
            A olissy somente notificará o cliente da aprovação da compra realizada, após receber o retorno com o status
            da transação de pagamento do(a) CONTRATANTE.
            Nos casos de atrasos no prazo de entrega ou de entrega de medicamentos/produtos trocados, desconformes ou
            extraviados, o Comparador entrará em contato com o(a) CONTRATANTE, e este(a) deverá adotar os procedimentos
            legais previstos no Código de Defesa do Consumidor para solucionar a situação.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE está ciente de que deve cumprir suas obrigações legais e contratuais decorrentes da
            Transação Comercial zelando pela alta qualidade, bem como pela segurança e satisfação do Comprador. Desta
            forma, caso, ao realizar qualquer Transação Comercial, não entregue no prazo contratado os produtos e/ou
            serviços vendidos, o(a) CONTRATANTE, sem prejuízo das medidas que a olissy possa tomar segundo o presente
            contrato, deverá informar a olissy, esclarecendo os motivos e passando a envidar seus melhores esforços para
            que problemas deste tipo não ocorram novamente e nem prejudiquem outros usuários.
            <br>
          </li>
          <li>
            Caso o Comprador resolva exercer o direito legal de arrependimento, o(a) CONTRATANTE desde já se compromete
            a cumprir com exatidão seus deveres legais, nos termos previstos no Código de Defesa do Consumidor, tratando
            diretamente com o Comprador e mantendo a olissy a salvo de qualquer responsabilização.
            <br>
          </li>
          <li>
            A fim de manter e atender os últimos requisitos de mercado e de desenvolvimento tecnológicos, a olissy
            poderá, a seu exclusivo critério e a qualquer tempo, alterar, tanto em forma como em conteúdo, suspender
            temporariamente os serviços do marketplace, cancelar quaisquer dos serviços, produtos, utilidade ou aplicação,
            disponibilizados. A olissy informará previamente o(a) CONTRATANTE da mudança da forma prevista no item 9.2.
            <br>
          </li>
          <li>
            Sem prejuízo do acima disposto, a olissy poderá, a qualquer tempo, suspender e/ou revogar a aprovação de
            quaisquer Transações de Comércio eletrônico, suspendendo, revertendo e/ou cancelando a realização dos
            respectivos pagamentos ou movimentações, bem como cobrando, se necessário, as respectivas quantias do(a)
            CONTRATANTE, nos seguintes casos:
            <br>
          </li>
          <li>
            Se a olissy constatar que as informações relativas às mencionadas transações comerciais são incompletas,
            inverídicas ou imprecisas;
            <br>
          </li>
          <li>Se a olissy constatar que as transações comerciais, em razão de suas características, produtos e/ou
            serviços transacionados, volumes e/ou prazos de entrega, expõem a risco excessivo os consumidores e/ou a
            própria olissy;
            <br>
          </li>
          <li>
            Se o(a) CONTRATANTE, quando solicitado(a) pela olissy, não prestar informações adequadas e/ou não
            comprovar a entrega ao Comprador do produto ou serviço em conformidade com a transação comercial;
            <br>
          </li>
          <li>
            Se a olissy for envolvida em qualquer ação judicial relativa à Transação Comercial e o(a) CONTRATANTE não
            isentá-la de quaisquer responsabilidades, não comprovar o cumprimento da Transação Comercial nem solucionar,
            por qualquer meio, a causa de tal ação judicial.
            <br>
          </li>
          <li>
            São obrigações da olissy, além das outras previstas neste Contrato, seus anexos e legislação aplicável:
            <br>
          </li>
          <li>Administrar a execução da prestação de serviços em tela com observância aos Anexos deste contrato,
            empregando técnicas eficientes e adequadas;
            <br>
          </li>
          <li>
            Cuidar para que seja empregada mão de obra adequada e tecnicamente qualificada e em quantidade suficiente
            para assegurar a execução da prestação de serviços de acordo com o prazo acordado;
            <br>
          </li>
          <li>
            Fornecer ao(à) CONTRATANTE, sempre que solicitado(a), todas e quaisquer informações disponíveis em seus
            arquivos, relacionadas com a prestação dos serviços ora contratados, bem como outras atividades previstas
            neste Contrato;
            <br>
          </li>
          <li>
            Garantir e não discriminar ou assediar qualquer funcionário, prestador ou cliente do(a) CONTRATANTE, devendo
            sempre tratá-los de forma respeitosa e profissional;
            Aportar seu know-how e experiência em prestação de serviços adquirida em projetos similares já realizados em
            diferentes empresas;
            <br>
          </li>
          <li>
            Praticar todos os atos necessários para preservar a boa reputação do(a) CONTRATANTE e de suas atividades, e
            informar imediatamente se tomar conhecimento de qualquer ação contrária ao código de conduta e demais
            políticas do(a) CONTRATANTE, seja esta de iniciativa de seus funcionários ou de funcionários do(a)
            CONTRATANTE;
            <br>
          </li>
          <li>
            Não fazer uso de qualquer informação privilegiada obtida por força deste Contrato;
            <br>
          </li>
          <li>
            Garantir, a qualquer momento, que não há qualquer conflito ou óbice para a celebração deste Contrato,
            devendo informar imediatamente caso ocorram no curso da vigência;
            <br>
          </li>
          <li>
            Agir no cumprimento das condições e obrigações estabelecidas neste Contrato, dentro dos mais elevados
            padrões de conduta ética, moral e profissional, submetendo-se fielmente ao princípio da boa-fé, e, seguindo
            rigorosamente a lei, regulamentos, políticas internas e código de conduta da Contratante, bem como os códigos
            profissionais vigentes e aplicáveis à execução dos serviços;
            <br>
          </li>
          <li>
            Possuir e manter válidas e vigentes todas as licenças previstas em lei e necessárias para o seu regular
            funcionamento e aplicáveis a este contrato.
            <br>
          </li>
          <li>
            Não figurar, de qualquer forma ou por qualquer razão, como representante da Contratante, além do que vier a
            ser expressamente autorizado por esta neste Contrato;
            Responder exclusivamente a reclamações que eventualmente sejam feitas em decorrência da atuação de seus
            empregados, subcontratadas ou empregados das subcontratadas.
            <br>
          </li>
        </ul>
        <p>
          <b>
            CAPÍTULO V - PREÇO E PAGAMENTO DO SERVIÇO
          </b>
        </p>
        <ul>
          <li>
            O(A) CONTRATANTE deverá pagar à olissy pela prestação do Serviço, uma remuneração calculada em
            conformidade com a utilização do Serviço, de acordo com os valores constantes da tabela de preços anexa (ANEXO
            A).
            <br>
          </li>
          <li>
            Ao final de cada mês, será enviada uma fatura com o detalhamento das Transações Comerciais realizadas pelos
            Compradores dos produtos do(a) CONTRATANTE e o boleto decorrente da remuneração devida, para pagamento.
            <br>
          </li>
          <li>
            Sempre que pretender efetuar uma revisão do valor de sua remuneração e dos custos e despesas do Serviço, a
            olissy informará os novos valores por e-mail enviado ao(à) CONTRATANTE com, no mínimo, 30 (trinta) dias de
            antecedência da data pretendida para a revisão. Caso o(a) CONTRATANTE não concorde com os novos valores
            informados pela olissy, poderá rescindir o presente contrato a qualquer tempo dentro dos mesmos 30 (trinta)
            dias. Caso não solicite a rescisão do presente contrato dentro do prazo estipulado, entender-se-á que o(a)
            CONTRATANTE aceitou tacitamente os novos valores da remuneração do olissy.com e dos custos e despesas do
            Serviço.
            <br>
          </li>
          <li>
            A olissy poderá, a seu critério, conceder ao(à) CONTRATANTE condições promocionais para utilização do
            Serviço, tais como descontos, reduções temporárias de remuneração, períodos de testes e ofertas de brindes,
            cujas regras para fruição estarão disponíveis no site da olissy e deverão ser observadas pelo(a) CONTRATANTE
            a partir da contratação dos serviços. A oferta de condições promocionais será considerada mera liberalidade da
            olissy, que as poderá a qualquer tempo alterar e retirar, sem que fique caracterizada novação ou renúncia
            aos direitos ora pactuados.
            <br>
          </li>
          <li>
            NA HIPÓTESE DE O(A) CONTRATANTE NÃO EFETUAR O PAGAMENTO DE QUAISQUER QUANTIAS DEVIDAS À olissy, ESTA, POR
            SI OU POR INTERMÉDIO DE TERCEIRO, PODERÁ SE UTILIZAR DE QUALQUER MEDIDA JUDICIAL OU EXTRAJUDICIAL PARA RECEBER
            O PAGAMENTO DEVIDO, COM O ACRÉSCIMO DE ATUALIZAÇÃO MONETÁRIA PELA VARIAÇÃO POSITIVA DO IGP-M/PGV, DOS JUROS DE
            1% AO MÊS, ALÉM DE MULTA NÃO COMPENSATÓRIA DE 2% (DOIS POR CENTO) SOBRE O TOTAL DO DÉBITO, ESTANDO A olissy
            AUTORIZADA, A SEU CRITÉRIO, A APONTAR O NOME DO(A) CONTRATANTE AOS ÓRGÃOS DE PROTEÇÃO AO CRÉDITO, A PROTESTAR
            OS TÍTULOS QUE SEJAM EMITIDOS COM BASE NA PRESTAÇÃO DOS SERVIÇOS E A AJUIZAR AS AÇÕES ADEQUADAS À SATISFAÇÃO
            DE SEUS CRÉDITOS.
            <br>
          </li>
        </ul>
        <p>
          <b>
            CAPÍTULO VI - PROIBIÇÃO DE PRÁTICAS ILÍCITAS E IMORAIS E RESPONSABILIDADES
          </b>
        </p>
        <ul>
          <li>
            O Serviço não poderá ser utilizado de nenhuma forma que não esteja expressamente prevista e autorizada no
            presente contrato. O(A) CONTRATANTE obriga-se a observar, ao utilizar o Serviço, em suas Transações de
            Comércio Eletrônico:
            <br>
          </li>
          <li>
            As cláusulas e condições do presente contrato;
            <br>
          </li>
          <li>
            A Política de Privacidade e do Termo e Condições de Uso do Marketplace olissy.com da olissy;
            <br>
          </li>
          <li>
            As cláusulas e condições estabelecidas em seus contratos com os Compradores para as Transações de Comércio
            Eletrônico;
            <br>
          </li>
          <li>
            Os prazos e condições acordadas com o consumidor, e;
            A legislação brasileira aplicável, inclusive as normas de proteção do consumidor.
            Em especial, o Serviço não poderá ser utilizado para, a pretexto de realizar-se Transação Comercial,
            realizar-se negócio jurídico:
            <br>
          </li>
          <li>
            Que o(a) CONTRATANTE esteja impedido(a) de celebrar, em virtude de normas legais, regulamentares,
            contratuais, estatutárias ou outras, aplicáveis ao(à) CONTRATANTE;
            <br>
          </li>
          <li>
            Que o(a) CONTRATANTE saiba ou deva saber que o Comprador está impedido de celebrar, em virtude de normas
            legais, regulamentares, contratuais, estatutárias ou outras, aplicáveis ao Comprador;
            <br>
          </li>
          <li>
            Cujo objeto seja ilícito ou contrário a moral ou aos bons costumes, ou viole este contrato ou a Política de
            Privacidade;
            <br>
          </li>
          <li>
            Cujo motivo determinante, comum ao(à) CONTRATANTE e ao Comprador, seja ilícito;
            Cujo objetivo seja o de fraudar a lei ou direitos de terceiros;
            <br>
          </li>
          <li>
            Que constitua simulação, no sentido do art. 167, § 1.°, do Código Civil brasileiro; ou
            Que o(à) CONTRATANTE saiba ou deva saber ser nulo ou estar maculado de vício que o torne anulável.
            <br>
          </li>
          <li>
            Ademais, o(a) CONTRATANTE não poderá, em nenhuma hipótese, por meio das Transações Comerciais realizadas ou
            através das informações/imagens/vídeos divulgados pelo(a) CONTRATANTE através do marketplace da olissy:
            <br>
          </li>
          <li>
            Desrespeitar a lei, seja a brasileira ou a do local onde esteja sendo utilizado o Serviço, inclusive as
            normas relativas à transmissão de dados e as normas de direito autoral e/ou propriedade industrial;
            <br>
          </li>
          <li>
            Desrespeitar a moral, os bons costumes ou os direitos de terceiros à honra, à vida privada, à imagem e à
            intimidade pessoal e familiar;
            <br>
          </li>
          <li>
            Usar linguagem ou imagem obscena, ofensiva ou indecente;
            <br>
          </li>
          <li>
            Transmitir ou propagar mensagem ou material ilegal, calunioso, injurioso, difamatório, prejudicial, abusivo,
            ameaçador, vulgar, obsceno, ou de qualquer outra forma censurável;
            <br>
          </li>
          <li>
            Transmitir ou propagar informações sobre atividades ilegais e incitação ao crime;
            Enviar material publicitário não solicitado, inclusive spam, junk mail ou correntes de correspondência (chain
            letters);
            <br>
          </li>
          <li>
            Enviar mala direta, corrente ou pirâmide, capital de giro, agiotagem, empréstimos, entre outros, envolvendo
            o(a) próprio(a) CONTRATANTE ou terceiros;
            Obter ou tentar obter acesso não-autorizado a outros sistemas ou redes de computadores conectados ao Serviço;
            <br>
          </li>
          <li>
            Interferir ou interromper o Serviço ou os servidores ou redes, conectados ao Serviço;
            <br>
          </li>
          <li>Utilizar a marca da olissy ou de empresas de seu Grupo Econômico fora dos estritos limites que
            eventualmente lhe sejam autorizados.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE, em sua qualidade de fornecedor de produtos ou serviços por meio da Internet, obriga-se a
            cumprir todas as disposições legais e regulamentares aplicáveis à sua atividade, em especial as referentes à
            proteção do consumidor, inclusive com respeito à oferta, publicidade e fornecimento dos produtos e serviços
            ofertados no marketplace, isentando a olissy de qualquer responsabilidade que não decorra diretamente do
            descumprimento pela olissy das expressas disposições do presente contrato. Em particular, o(a) CONTRATANTE
            manterá a olissy a salvo e indene de qualquer responsabilização que diga respeito:
            <br>
          </li>
          <li>
            Aos riscos, inclusive potencial nocividade ou periculosidade, aos defeitos, aos vícios de qualidade ou aos
            vícios de quantidade dos produtos ou serviços ofertados pelo(a) CONTRATANTE;
            <br>
          </li>
          <li>
            À insuficiência ou inadequação das informações referentes aos produtos ou serviços ofertados pelo(a)
            CONTRATANTE;
            <br>
          </li>
          <li>
            A disparidades com as indicações constantes de ofertas ou mensagens publicitárias ou com as indicações
            constantes dos recipientes ou embalagens dos produtos ou serviços ofertados pelo(a) CONTRATANTE;
            <br>
          </li>
          <li>
            À inadequação dos produtos ou serviços ofertados pelo(a) CONTRATANTE aos fins a que se destinam;
            <br>
          </li>
          <li>
            A publicidade enganosa ou abusiva relativa aos produtos e serviços ofertados pelo(a) CONTRATANTE;
            <br>
          </li>
          <li>
            Ao descumprimento pelo(a) CONTRATANTE de quaisquer cláusulas e condições das Transações Comerciais,
            inclusive de prazos de fornecimento e garantia;
            <br>
          </li>
          <li>
            A ausência ou irregularidade da(a) CONTRATANTE na obtenção de licenças, autorizações, alvarás e cadastros
            necessários à comercialização dos produtos;
            <br>
          </li>
          <li>
            A transmissão e divulgação pelo marketplace de propagandas, mensagens ou materiais ilegais, caluniosos,
            injuriosos, difamatórios, prejudiciais, abusivos, ameaçadores, vulgares, obscenos, de qualquer outra forma
            censurável, que desrespeitem a moral, os bons costumes ou os direitos de terceiros, ou que configurem
            publicidade enganosa ou abusiva;
            <br>
          </li>
          <li>
            A venda de produtos controlados sem a correspondente apresentação do receituário e/ou notificação, termo de
            responsabilidade ou termo de consentimento, nos termos da lei;
            <br>
          </li>
          <li>
            O armazenamento e transporte inadequado aos medicamentos;
            <br>
          </li>
          <li>
            Os problemas de saúde ocasionados nos pacientes por atraso na entrega dos medicamentos, ou nos casos de
            trocas, desconformidades ou extravio dos mesmos.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE declara estar ciente de que o Serviço a que tiver acesso em decorrência deste contrato,
            será para seu uso exclusivo, e que não os poderá comercializar, repassar ou ceder a terceiros a qualquer
            título.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE declara estar ciente de que o Serviço a que tiver acesso em decorrência deste contrato,
            será para seu uso exclusivo, e que não os poderá comercializar, repassar ou ceder a terceiros a qualquer
            título. A olissy não revisa, monitora ou fiscaliza qualquer das informações, conteúdo ou dados inseridos
            pelo(a) CONTRATANTE no marketplace. Porém, caso possa ser interpretado que quaisquer informações, conteúdo ou
            dados inseridos pelo(a) CONTRATANTE violam a legislação aplicável, o presente contrato ou a política de
            privacidade, ou caso haja indício de violação ao presente contrato, de fraude ou de outro ilícito por parte
            do(a) CONTRATANTE, incluindo dano ou ameaça de dano à imagem da olissy perante o usuário comum, ou caso haja
            denúncia, a olissy poderá, a seu critério, sem necessidade de prévio aviso ao(à) CONTRATANTE e até que se
            esclareça a situação, disponibilizar a qualquer tempo às autoridades competentes toda e qualquer informação
            sobre o(à) CONTRATANTE, bem como cancelar o registro do produto e das Transações Comerciais em andamento, sem
            prévio aviso, respondendo o(a) CONTRATANTE civil e penalmente pelos atos praticados, bem como poderá excluir,
            parcial ou integralmente, qualquer conteúdo disponibilizado pelo(a) CONTRATANTE.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE assumirá toda a responsabilidade civil e criminal perante a olissy e terceiros pelo
            descumprimento de suas obrigações, pela inexatidão das declarações por ele prestadas e por qualquer outra
            conduta ilícita por ele praticada.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE indenizará a olissy prontamente de quaisquer prejuízos, inclusive despesas, honorários de
            advogado e custas judiciais, sofridos pela olissy em decorrência do descumprimento das obrigações
            contratuais ou legais do(a) CONTRATANTE, da inexatidão das declarações do(a) CONTRATANTE ou de reclamações de
            terceiros relativas à conduta do(a) CONTRATANTE, sem prejuízo do direito da olissy de rescindir o presente
            contrato conforme estabelecido no Capítulo IX.
            <br>
          </li>
          <li>
            A olissy não se responsabiliza pelas consequências de quaisquer imprecisões ou erros nas informações que
            lhe houverem sido prestadas pelo(a) CONTRATANTE e/ou pelo Comprador, exceto quando por falha sistêmica, o
            marketplace não promover as atualizações e/ou alterações realizadas pelo(a) CONTRATANTE, ou por qualquer
            motivo acarretado por culpa exclusiva da olissy.
            <br>
          </li>
          <li>
            O(A) CONTRATANTE será o(a) único(a) responsável por todos os atos que praticar durante a efetivação da
            transação comercial, no armazenamento, transporte e entrega das mercadorias e no comprimento das providências
            necessárias à venda de medicamentos com receituário controlado, respeitando a Legislação de Dispensação de
            Medicamentos, devendo manter a olissy isenta de qualquer responsabilidade perante o Comprador e/ou a fonte
            de recursos em questão e/ou a quaisquer terceiros.
            <br>
          </li>
          <li>
            Na ocorrência de ação interposta por consumidor do(a) CONTRATANTE em face da olissy, ou qualquer outro ato
            de natureza administrativa ou judicial, que venha a ser proposto contra a olissy e comprovadamente seja de
            responsabilidade exclusiva do(a) CONTRATANTE, seja a que título for e a que tempo ocorrer, o(a) CONTRATANTE se
            compromete a requerer a substituição da olissy no polo passivo dos eventuais processos judiciais ou
            administrativos, ou a arcar com os custos de honorários advocatícios e custas judiciais, caso esta
            substituição não seja possível. O(A) CONTRATANTE concorda ainda, desde já, que a olissy denuncie à lide ou
            chame ao processo, se necessário, o(a) CONTRATANTE.<br>
          </li>
          <li>
            6.10.1. Responsabiliza-se o(a) CONTRATANTE, para todos os fins e efeitos de direito, de forma exclusiva,
            incomunicável e irretratável pelo adimplemento de todas as respectivas obrigações e/ou condenações decorrentes
            dessas ações judiciais.<br>
          </li>
          <li>
            Todas as custas e demais despesas processuais eventualmente despendidas pela olissy nas ações movidas
            pelos consumidores do(a) CONTRATANTE em que reste comprovada a responsabilidade exclusiva deste(a) último(a),
            serão única e exclusivamente suportadas pelo(a) CONTRATANTE, bem como os honorários advocatícios judiciais. Os
            comprovantes servirão como valor de dívida líquida e certa em favor da olissy a ser reembolsada pelo(a)
            CONTRATANTE mediante o pagamento pelo(a) CONTRATANTE da correspondente quantia em dinheiro, por meio de boleto
            bancário, em prazo a ser ajustado de comum acordo entre as Partes, enviado ao(à) CONTRATANTE pela olissy, ou
            qualquer outro meio à escolha da olissy.<br>
          </li>
          <li>
            O não pagamento dos valores aqui mencionados até a data do seu vencimento, ensejará a aplicação de juros
            legais e multa equivalente a 2% (dois por cento) sobre os valores efetivamente despendidos pela
            olissy.<br>
          </li>
        </ul>
        <p>
          <b>
            CAPÍTULO VII - ACEITAÇÃO DO RECEBIMENTO DE MENSAGENS
          </b>
        </p>
        <ul>
          <li>O(A) CONTRATANTE expressamente reconhece que a olissy poderá contatar o(a) CONTRATANTE por meio
            telefônico, de aplicativos que permitem a troca de mensagens, áudios e vídeos pelo celular, mensagens via
            correio eletrônico, mensagens via SMS e envio de mala direta, com cunho institucional, técnico, comercial e
            informativo, a fim de viabilizar a comunicação multicanal entre as partes, referentes ao serviço e demais
            produtos disponíveis, tais como novidades da olissy.<br>
          </li>
        </ul>
        <p>
          <b>
            CAPÍTULO VIII - DECLARAÇÕES DO CONTRATANTE
          </b>
        </p>
        <ul>
          <li>
            O(A) CONTRATANTE declara:<br>
          </li>
          <li>
            Se pessoa física, ser maior de 18 (dezoito) anos;<br>
          </li>
          <li>
            Se pessoa jurídica, que tem poderes para representá-la e obrigá-la a pessoa responsável pela aceitação do
            presente contrato;<br>
          </li>
          <li>
            Possuir capacidade jurídica para celebrar e cumprir este contrato e realizar Transações de Comércio
            Eletrônico, não havendo nenhum impedimento a tanto;<br>
          </li>
          <li>
            Ter condições econômicas de arcar com os pagamentos, custos e despesas decorrentes deste contrato, bem como
            das Transações de Comércio Eletrônico que realizar, e;<br>
          </li>
          <li>
            Ter as licenças, alvarás e autorizações necessárias a atividades de comércio de produtos de seu ramo de
            atuação.<br>
          </li>
        </ul>
        <p>
          <b>
            CAPÍTULO IX - PRAZO, ALTERAÇÕES E RESCISÃO DO CONTRATO
          </b>
        </p>
        <ul>
          <li>
            O presente Contrato entrará em vigor na data de sua assinatura e terá o prazo de vigência de 12 (doze)
            meses, contados da data de sua assinatura, prorrogando-se automaticamente por períodos adicionais de 12 (doze)
            meses, a menos que qualquer uma das Partes notifique a outra Parte por escrito.<br>
          </li>
          <li>
            A olissy poderá modificar, adicionar ou remover quaisquer cláusulas ou condições deste contrato, desde que
            haja concordância expressa pelo(a) CONTRATANTE. Quando a alteração implicar restrição das condições
            inicialmente pactuadas, a olissy informará o(a) CONTRATANTE da mudança, por e-mail ou via postal, com pelo
            menos 30 (trinta) dias de antecedência da entrada em vigor da alteração. O(A) CONTRATANTE terá o prazo de 15
            (quinze) dias contados do recebimento, para apresentar contraproposta às alterações sugeridas. Caso a olissy
            não receba ou não aceite a contraproposta, as alterações entrarão em vigor de imediato, após completados os 30
            dias. O(A) CONTRATANTE poderá rescindir o presente contrato a qualquer tempo e caso não o faça, entender-se-á
            que o(a) CONTRATANTE a aceitou tacitamente.<br>
          </li>
          <li>
            Qualquer das partes poderá rescindir o presente contrato a qualquer momento durante seu período de vigência,
            mediante aviso enviado por correio, com pelo menos 30 (trinta) dias de antecedência, comunicando o
            cancelamento do Serviço.<br>
          </li>
          <li>
            O presente contrato será rescindido, de pleno direito, independentemente de qualquer notificação ou
            interpelação, judicial ou extrajudicial, no caso de descumprimento por uma das partes de suas obrigações ou de
            inexatidão das declarações assumidas ou prestadas pelo(a) CONTRATANTE no presente
            contrato.<br>
          </li>
          <li>
            O presente contrato será também rescindido de pleno direito, independentemente de qualquer notificação ou
            interpelação, judicial ou extrajudicial, no caso de o(a) CONTRATANTE, de qualquer forma, comprometer a imagem
            pública da olissy e/ou de qualquer empresa associada a olissy.<br>
          </li>
          <li>
            A rescisão do presente contrato, por qualquer motivo, não prejudicará o direito da olissy de haver as
            quantias porventura devidas pelo(a) CONTRATANTE referentes aos serviços prestados, objeto deste contrato,
            anteriormente à rescisão.<br>
          </li>
          <li>
            A olissy poderá desvincular qualquer unidade farmacêutica pertencente ou franqueada ao(à) CONTRATANTE,
            comunicando esta dos motivos e data a partir da qual, deixará de divulgar as ofertas da unidade, cancelando
            seu cadastro no marketplace. Esta medida não implicará na rescisão do presente contrato.<br>
          </li>
          <li>Nos casos em que o(a) CONTRATANTE receber, juntamente com a prestação do Serviço, outros serviços prestados
            por empresas parceiras ou do mesmo grupo econômico da olissy, a rescisão do presente contrato poderá
            acarretar, a exclusivo critério dos controladores da olissy, o cancelamento motivado de tais outros
            serviços, sem que tal cancelamento gere qualquer direito ao(à) CONTRATANTE de receber
            indenização.<br>
          </li>
        </ul>
        <p>
          <b>
            CAPÍTULO X – POLÍTICA DE ANTICORRUPÇÃO E ANTISSUBORNO
          </b>
        </p>
        <ul>
          <li>10.1 Ao celebrar este Contrato, olissy a concorda em cumprir e aderir à política de anticorrupção e
            antissuborno do(a) CONTRATANTE (“FCPA”) detalhada no Anexo C do presente Contrato, a qual poderá, a exclusivo
            critério do(a) CONTRATANTE ser alterada sem prévio aviso.<br>
          </li>
          <li>10.2 A olissy também se obriga aos termos da legislação local no que se diz respeito à Lei de
            Anticorrupção e Antissuborno.<br>
          </li>
          <li>10.3 A olissy será responsável por fiscalizar e fazer com que a Subcontratada cumpra com todas as
            obrigações legais, aplicando-se à Subcontratada todas as regras sobre esses temas estipuladas neste Contrato
            para a olissy.<br>
          </li>
        </ul>
        <p>
          <b>
            CAPÍTULO XI - DISPOSIÇÕES GERAIS
          </b>
        </p>
        <ul>
          <li>
            A olissy não se responsabiliza pelo pagamento dos tributos devidos pelo(a) CONTRATANTE ou por Compradores
            em razão das Transações Comerciais realizadas.
            As PARTES não poderão ceder o presente contrato sem a prévia e expressa anuência da outra
            parte.<br>
          </li>
          <li>
            A tolerância de uma parte relativamente ao descumprimento de qualquer das obrigações da outra não será
            considerada novação ou renúncia a qualquer direito, constituindo mera liberalidade, que não impedirá a parte
            tolerante de exigir da outra, seu cumprimento, a qualquer tempo.<br>
          </li>
          <li>
            Apesar de, tecnicamente, o Serviço ser passível de utilização a partir de qualquer parte do mundo, a relação
            entre o(a) CONTRATANTE e a olissy estará sempre, em qualquer hipótese e independentemente do local de onde
            esteja sendo acessado o Serviço, sujeita à legislação brasileira e ao presente contrato. Não obstante, o(a)
            CONTRATANTE deverá informar-se sobre as leis, normas e regulamentos do lugar no qual o Serviço estiver sendo
            utilizado e cumpri-los rigorosamente. <br>
          </li>
          <li>
            O(A) CONTRATANTE autoriza, desde já, o uso de sua marca, seu respectivo logotipo e/ou logomarca, link do
            Site do Vendedor, ícones e/ou slogans, todos previamente aprovados e disponibilizados por este(a), nas
            campanhas publicitárias desenvolvidas pela olissy.<br>
          </li>
          <li>
            Quaisquer direitos, inclusive direitos relativos a marcas, patentes e invenções de qualquer gênero, ou
            ainda, direitos autorais ou direitos de propriedade intelectual, NÃO são outorgados ou cedidos por meio deste
            contrato.<br>
          </li>
          <li>As partes elegem o Foro da Comarca de Blumenau, como competente para dirimir quaisquer controvérsias
            oriundas do presente contrato, à exclusão de qualquer outro, por mais privilegiado que
            seja.<br>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>