<header class="main-header">
  <a class="logo" style="background-color: #c71582;">
    <span class="logo-mini">
      <b><img src="assets/logo/logo.png"></b>
    </span>
    <span class="logo-lg">
      <b><img src="assets/logo/logo.png"></b>
    </span>
  </a>
  <nav class="navbar navbar-static-top">
    <a class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/product">
            <i class="fa fa-newspaper-o"></i>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/store">
            <i class="fa fa-cubes"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
