<header class="main-header">
  <!-- <a class="logo" style="background-color: #c71582;">
    <span class="logo-mini">
      <b><img src="assets/logo/logo.png"></b>
    </span>
    <span class="logo-lg">
      <b><img src="assets/logo/logo.png"></b>
    </span>
  </a> -->
  <nav class="navbar navbar-static-top">
    <a class="sidebar-toggle" data-toggle="push-menu" role="button" style="font-size: 20px">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a data-keyboard="false" data-toggle="modal" data-target="#displaySearch" style="font-size: 20px;padding-top: 20px;">
            <i class="fa fa-search"></i>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/product" style="font-size: 22px;padding-top: 19px;">
            <i class="fa fa-home"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<form>
  <div class="modal fade" id="displaySearch">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="box-footer" style="border-top: 0px;">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
               <mt-pesquisa (searchProductDB_Output)="searchProductDB_Output($event)"></mt-pesquisa>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
 