<form [formGroup]="formularioPesquisa">
  <div class="col-md-12 col-xs-12 query-mobile">
    <div class="input-group col-md-12 col-xs-12" style="margin: 0px">
      <ul *ngIf="digite" id="dropdown-buscar-produto-sugestao" class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="info-box" style=" box-shadow: 0 0px 0px rgba(0,0,0,0.1); ">
              <span class="info-box-icon" style="margin-left: -20px;background-color: transparent ">
                <i class="fa fa-fw fa-search fa-2x"></i>
              </span>
              <div class="info-box-content">
                <span>
                  <b>
                    Digite {{ Digite_tres_ou_mais_caracteres_total }} ou mais caracteres
                  </b>
                </span>
                <br />
                <span>
                  Caracteres que podem ser usados, para que possamos exibir resultados para você
                </span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul *ngIf="aguarde" id="dropdown-buscar-produto-sugestao" class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="info-box" style=" box-shadow: 0 0px 0px rgba(0,0,0,0.1); ">
              <span class="info-box-icon" style="background-color: transparent ">
                <i class="fa fa-refresh fa-spin fa-2x"></i>
              </span>
              <div class="info-box-content">
                <span>
                  <b>
                    Aguarde... Alguns instantes os resultados serão carregado
                  </b>
                </span>
                <br />
                <span>
                  Exclua alguns refinamentos de busca para que possamos exibir resultados para você
                </span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul *ngIf="desculpe" id="dropdown-buscar-produto-sugestao" class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="info-box" style=" box-shadow: 0 0px 0px rgba(0,0,0,0.1); ">
              <span class="info-box-icon" style="margin-left: -16px;background-color: transparent ">
                <i class="fa fa-fw fa-search fa-2x"></i>
              </span>
              <div class="info-box-content">
                <span>
                  <b>
                    Desculpe! Não encontramos resultados para a sua busca
                  </b>
                </span>
                <br />
                <span>
                  Exclua alguns refinamentos de busca para que possamos exibir resultados para você
                </span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul *ngIf="produto" id="dropdown-buscar-produto-sugestao" class="dropdown-menu dropdown-buscar-produto" aria-labelledby="dropdownMenu1">
        <li *ngFor="let produto of listProduct" (click)="sendProductSearch(produto)" class="list-product-search">
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="info-box" style=" box-shadow: 0 0px 0px rgba(0,0,0,0.1); ">
              <span class="info-box-icon" style="background-color: #fff;">
                <img [src]="produto.productImageUrl" style=" margin-top: 0px;" width="100%"/>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">
                  <b>
                    {{ produto.productName }}
                  </b>
                </span>
                <span class="info-box-text">
                  {{ produto.store.storeCity }},
                  {{ produto.store.storeNeighborhood }}
                </span>
                <span class="info-box-number">
                  {{ produto.productPrice | currency: "BRL" }}
                </span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <input
        type="text"
        (keyup)="pesquisarProdutoSugerido($event.target.value, $event)"
        class="form-control"
        placeholder="Buscar..."
        autocomplete="off"
        formControlName="pesquisa"
        id="input-buscar-produto"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true"
      />
    </div>
  </div>
</form>
<form [formGroup]="formularioPesquisa">
  <div class="modal fade" id="filtro-pesquisa">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLabel">
            Filtrar Produtos
          </h4>
        </div>
        <div class="modal-body">
          <span class="menu-item-info-box-detail">
            <label style="width:100%;  font-size: 14px">
              Buscar Por
            </label>
            <select id="id_select3" formControlName="buscarPor" class="form-control select-buscar-por">
              <option value="todos">Todos</option>
              <option value="productName">Nome</option>
              <option value="productDescription">Descrição</option>
            </select>
          </span>
          <span class="menu-item-info-box-detail">
            <label style="width:100%;  font-size: 14px">Em venda</label>
            <select id="id_select" formControlName="emVenda" class="form-control select-em-venda">
              <option value="todos">Todos</option>
              <option value="sim">Sim</option>
              <option value="nao">Não</option>
            </select>
          </span>
          <span class="menu-item-info-box-detail">
            <label style="width:100%;  font-size: 14px">Preço Minimo</label>
            <input type="text" formControlName="precoMin" class="form-control input-buscar-produto" autocomplete="off"/>
          </span>
          <span class="menu-item-info-box-detail">
            <label style="width:100%;  font-size: 14px">Preço Maximo</label>
            <input type="text" formControlName="precoMax" class="form-control input-buscar-produto" autocomplete="off"/>
          </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default  pull-left" data-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-success" data-dismiss="modal">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
