.dropdown-menu {
  width: 100%;
}

.dropdown-menu a:hover {
  background-color: transparent;
}

.dropdown-buscar-produto{
  width: 100%;
  overflow-y: scroll;
  height: 300px;
}

.form-control:focus {
  box-shadow: inset 0 0px 0px rgba(0,0,0,.0), 0 0 0px rgba(41, 42, 43, 0);
}

@media only screen and (max-width: 600px) {
  .query-mobile{
    padding-right: 0px;
    padding-left: 0px;
  }
}

.form-control {
  height: 40px;
  border-radius: 0px;
}

.input-group-addon, .input-group-btn {
  width: 0%;
}

.list-product-search{
  cursor: pointer;
}