  @media only screen and (max-width: 600px) {
    .page-header>small {
      margin-top: 15px;
    }
  }
  
  .center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .modal-footer{
    border-top: 0px;
  }
  
  .modal-header {
    border-bottom: 0px;
  }
  
  
  .btn-finish {
    background: #dddddd;
    border-color: #7777775c;
    color: #777;
  }
  
  .btn-finish:hover {
    background: #dddddd;
    border-color: #7777775c;
    color: #777;
  }
  
  .btn-finish:focus{
    outline:none !important;
  }
  
  .fa-spin {
    animation: fa-spin 1s infinite linear;
  }

  .btn-margin{
    margin-left: 15px;
  }


  
  
  
  