<div class="container">
  <div class="col--hidden col-md-12" style="margin-top: 10px; padding-left: 0px;padding-right: 0px;">
    <h3 class="col-form-label">Política de Privacidade</h3>
    <div class="bg-white rounded p-2 mt-1" style="text-align: justify;text-justify: inter-word;">
      <div class="row">
        <div class="col-12">
        </div>
      </div>
      <p>
        <br>
      </p>
      <p>
        A <b>olissy</b> respeita o sigilo e a segurança das informações e disponibiliza a seguir sua Política de
        Privacidade que disciplina a maneira pela qual as informações são armazenadas, utilizadas e divulgadas.</p>
      <p>
        <br>
      </p>
      <p>
        <b>
          Obtenção de Informações Pessoais
        </b>
      </p>
      <ul>
        <ol style="padding-inline-start: 0px;">
          <li>
            As informações pessoais correspondem a todos os dados que podem ser usados para identificar individualmente ou
            entrar em contato com o cliente específico;<br>
          </li>
          <li>
            Ao se cadastrar no aplicativo, coletamos seu nome, e-mail, endereço de entrega e cobrança, telefone de
            contato, CPF, RG, data de nascimento, sexo, dados de saúde, histórico de comorbidades, preferências de contato,
            informações de cartão de crédito, entre outros itens. O cliente pode optar por não fornecer algumas informações,
            porém, algumas delas são essenciais para a conclusão de pedidos e melhor experiência de navegação;<br>
          </li>
          <li>
            Você poderá ser solicitado a fornecer suas informações pessoais a qualquer momento, enquanto estiver em
            contato com o aplicativo ou plataforma web da olissy.<br>
          </li>
      </ol>
      </ul>
      <p>
        <b>
          Uso de Informações Pessoais
        </b>
      </p>
      <ul>
        <ol style="padding-inline-start: 0px;">
          <li>
            Ao visitar, utilizar e/ou se cadastrar no aplicativo olissy você nos autoriza expressamente a cadastrar
            e tratar sua informação pessoal para os seguintes fins, dentre outros: oferecer produtos e serviços; enviar
            confirmações e as atualizações; processar o faturamento; responder às suas perguntas e comentários; entrar em
            contato com você, realizar enquetes, estatísticas ou análise dos costumes de consumo ou preferências; enviar por
            e-mail as ofertas especiais e os produtos e serviços relacionados que possam ser de seu interesse. Tudo isso,
            salvo que você não o deseje. Do mesmo modo, utilizamos a informação dos cartões de crédito (tais como nome do
            titular do cartão, número do cartão de crédito e data de vencimento) só para os fins de completar as compras que
            você realizar em nosso aplicativo ou na plataforma web, inclusive o envio dos dados aos ANUNCIANTES dos produtos
            para que seja processado o pagamento;<br>
          </li>
          <li>
            Registro de Usuário: A conta de usuário para seu uso do serviço é criado a partir das informações pessoais
            fornecidas;<br>
          </li>
          <li>
            Localização: Usaremos as informações de sua localização, para apresentação dos ANUNCIANTES mais próximos, bem
            como, para efetivar a entrega dos produtos e apresentação de ofertas regionais;<br>
          </li>
          <li>
            Usaremos informações para nos ajudar a desenvolver, fornecer e melhorar os nossos produtos e serviços. Também
            poderemos utilizar informações para fins internos, tais como auditoria, análise de dados e pesquisas.<br>
            <br>
          </li>
        </ol>
      </ul>

      <p>
        <br>
      </p>
      <p>
        <b>
          Proteção de Informações Pessoais
        </b>
      </p>
      <ul>
        <ol style="padding-inline-start: 0px;">
          <li>
            A olissy toma precauções, entre elas medidas administrativas, técnicas e físicas, para proteger as suas
            informações pessoais contra perda, roubo, uso indevido, bem como contra acesso não autorizado, divulgação,
            alteração e destruição;<br>
          </li>
          <li>
            Todas as informações pessoais do usuário são criptografadas de acordo com as normas internacionais.<br>
          </li>
        </ol>
      </ul>
      <p>
        <b>
          Obtenção e Uso de Informações Não-Pessoais
        </b>
      </p>
      <ul>
        <ol style="padding-inline-start: 0px;">
          <li>
            Nós também obteremos informações não-pessoais, ou seja, dados que não permitem a associação direta com
            qualquer pessoa especificamente. Nós poderemos obter, usar, transferir e divulgar informações não-pessoais para
            qualquer finalidade;<br>
          </li>
          <li>
            Poderemos obter informações sobre as atividades dos usuários em nosso aplicativo e na plataforma web. Essas
            informações são agregadas e usadas para nos ajudar a fornecer informações abalizadas para os nossos clientes e
            entender quais partes de nossa tecnologia, produtos e serviços atraem mais interesse. Dados agregados são
            considerados informações não-pessoais para fins desta Política de Privacidade;<br>
          </li>
          <li>
            Se combinarmos informações não-pessoais com informações pessoais, a informação combinada será tratada como
            informação pessoal enquanto essa informação permanecer agregada.<br>
          </li>
        </ol>
      </ul>
      <p>
        <b>
          Avaliação do Serviços
        </b>
      </p>
      <ul>
        <ol style="padding-inline-start: 0px;">
          <li>
            Podemos utilizar suas informações para contatar você com relação a sua opinião a respeito de nossos serviços e
            de nossos parceiros, e para ocasionalmente notificar você a respeito de alterações ou desenvolvimentos
            importantes no aplicativo ou em nossos serviços;<br>
          </li>
          <li>
            O envio de comentários e feedback nos autoriza a publicá-los e utilizá-los no e em quaisquer materiais de
            marketing ou publicidade. Para tanto, apenas identificaremos você através de seu nome de cadastro, foto do
            perfil e da sua cidade de residência;<br>
          </li>
          <li>
            Os feedbacks sobre os serviços dos ANUNCIANTES credenciados também poderão ser compartilhados com as mesmas, a
            fim de conhecimento e para eventuais contatos com o USUÁRIO com o intuito de solucionar um problema;<br>
          </li>
          <li>
            São vedados comentários ou feedback que: (a) contiver qualquer material difamatório, obsceno ou ofensivo; (b)
            promover a violência ou discriminação; (c) infringir os direitos de propriedade intelectual de terceiros; (d)
            quebrar qualquer direito legal de propriedade de um terceiro (assim como um dever de sigilo); (e) promover
            atividade ilegal ou invadir a privacidade de terceiros; (f) ser utilizados para se passar por outra pessoa ou
            representar incorretamente sua afiliação a outra pessoa;<br>
          </li>
          <li>
            A olissy se reserva o direito de editar ou mesmo excluir os comentários e informações que violem os
            termos citados anteriormente.<br>
          </li>
        </ol>
      </ul>
      <p>
        <b>
          Uso de Cartão de Crédito
        </b>
      </p>
      <ul>
        <ol style="padding-inline-start: 0px;">
          <li>
            A aquisição de qualquer produto pelo olissy só poderá ser efetuada pelas bandeiras de cartão de crédito
            disponibilizadas no aplicativo ou plataforma web com cartão de crédito válido e emitido no Brasil;<br>
          </li>
          <li>
            O usuário deverá proceder com cuidado no processo de inserção dos dados do cartão de crédito, evitando erro de
            digitação do número do cartão, da data de validade, do dígito verificador ou de qualquer outra informação
            referente ao cartão, no caso de dados erroneamente imputados o cliente fica ciente de que a compra não será
            finalizada com sucesso, bem como deverá efetuar nova solicitação de compra e estará novamente sujeito às
            condições de disponibilidade de inventário neste novo momento;<br>
          </li>
          <li>
            Para segurança do usuário, as informações do cartão do crédito inseridas no aplicativo no momento da compra,
            serão criptografadas de acordo com as normas internacionais de compliance do PCI-DSS. O número do cartão de
            crédito fornecido, será registrado diretamente no banco de dados de modo criptografado. Ao receber os dados do
            cartão, o ANUNCIANTE realizará a efetivação da transação, ocasião em que informará você se a compra está ou não
            liberada e o motivo.<br>
          </li>
        </ol>
      </ul>
      <p>
        <b>
          Divulgação para Terceiros
        </b>
      </p>
      <p>
      </p>
      <ul>
        <ol style="padding-inline-start: 0px;">
          <li>
            Prestadores de Serviço: Nós podemos utilizar empresas terceirizadas e indivíduos para facilitar nosso serviço,
            prover o serviço em nosso nome, executar atividades relacionadas ao serviço, incluindo, mas não se limitando à
            manutenção dos serviços, gerenciamento de banco de dados, análise de dados e melhoria de funcionalidades, ou nos
            auxiliar em analisar como o nosso serviço é usado. Essas empresas ou indivíduos têm acesso à sua informação
            pessoal apenas para executar tarefas em nosso favor e são obrigados a não usar ou divulgar tais informações para
            nenhuma outra finalidade;<br>
          </li>
          <li>
            A olissy poderá ser obrigado por lei, processo, litígio e/ou determinações de autoridades públicas ou
            governamentais dentro ou fora do país em que você reside, a divulgar suas informações pessoais. Nós também
            poderemos divulgar informações sobre você se entendermos que essa divulgação tem por finalidade a segurança
            nacional, exigência legal ou outros assuntos de importância pública ou quando a divulgação for necessária ou
            apropriada. Nós também poderemos divulgar informações sobre você se nós entendermos que a divulgação é
            razoavelmente necessária para fazer valer nossos termos e condições ou proteger nossas operações ou usuários.
            Além disso, no caso de uma reestruturação, fusão ou venda, poderemos transferir toda e qualquer informação
            pessoal que obtivemos ao terceiro aplicável.<br>
          </li>
        </ol>
      </ul>
      <p>
        <b>
          Disposições Gerais
        </b>
      </p>
      <ul>
        <ol style="padding-inline-start: 0px;">
          <li>
            A olissy poderá atualizar a sua Política de Privacidade periodicamente, sempre informando sobre
            alterações em nosso site e na atualização da presente Política de Privacidade;<br>
          </li>
          <li>
            Para fins deste instrumento, o termo ANUNCIANTES engloba farmácias, drogarias, cosméticas, lojas de
            suplementos, farmácias de manipulação, homeopáticas, entre outros que estiverem devidamente cadastrados no
            olissy com produtos divulgados pelo aplicativo e plataforma web.<br>
          </li>
        </ol>
      </ul>
      <p>
        <b>
          Dúvidas sobre Privacidade
        </b>
      </p>
      <p>
      </p>
      <ul>
        <ol style="padding-inline-start: 0px;">
          <li>
            Se você tiver algum questionamento ou dúvida com relação à Política de Privacidade da olissy ou
            qualquer prática descrita aqui, entre em contato conosco através do link <b>Fale Conosco</b> ou através do
            e-mail <b>contato@olissy.com.br</b>.<br>
          </li>
        </ol>
      </ul>
    </div>
  </div>
</div>

