<div class="container">
  <section class="invoice box box-widget espacamentos-card" id="print-section">
    <div class="row ">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-globe"></i>
          {{ invoice.storeName }}
          <small class="pull-right">
            Date: {{ formatarDataTime(invoice.orderDate) }}
          </small>
        </h2>
      </div>
    </div>
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        <strong>Loja</strong>
        <address>
          {{ invoice.storeName }}<br />
          {{ invoice.storeCity }}<br />
          {{ invoice.storeStreet }}<br />
          {{ invoice.storeNeighborhood }}<br />
          {{ invoice.storeCellPhone | mask: '(00) 0 0000-0000'}}<br>
          {{ invoice.storeEmail }}
        </address>
      </div>
      <div class="col-sm-4 invoice-col">
        <strong>Cliente</strong>
        <address>
          {{ invoice.clientName }} {{ invoice.clientLastName }}<br />
          {{ invoice.clientCity }}
          {{ invoice.clientStreet }}<br />
          {{ invoice.clientNeighborhood }}<br />
          {{ invoice.clientCellPhone | mask: '(00) 0 000-0000'}}<br />
          {{ invoice.clientEmail }}
        </address>
      </div>
      <div class="col-sm-4 invoice-col">
        <b>Invoice ID:</b> {{ invoice.PRIMARY_KEY }}<br />
        <b>Pagamento:</b> {{ invoice.clientMethodPayment }}<br />
        <b>Estado:</b> {{ invoice.orderState }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Qtd</th>
              <th>Produto</th>
              <th>valor</th>
            </tr>
          </thead>
          <tbody *ngFor="let invoice of invoice.product">
            <tr>
              <td>{{ invoice.quantities }}</td>
              <td>{{ invoice.productName }}</td>
              <td>{{ invoice.productPriceOrigin | currency: "BRL" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <p class="lead">Observações:</p>
        <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
          # Este pedido foi <b>{{ invoice.orderState }}</b><br />
          # Métodos de Pagamento foi feito em
          <b>{{ invoice.clientMethodPayment }}</b><br />
          # Endereço do pedido: <b>{{ invoice.clientAddressFull }}</b>
        </p>
      </div>
      <div class="col-md-6 col-xs-12">
        <p class="lead">Montantes</p>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th style="width:50%">Subtotal:</th>
                <td class="text-right">{{ invoice.totalOrderValue | currency: "BRL" }}</td>
              </tr>
              <tr>
                <th>Tax (0.0%)</th>
                <td class="text-right">{{ 0.0 | currency: "BRL" }}</td>
              </tr>
              <tr>
                <th>Plataforma:</th>
                <td class="text-right">{{ invoice.taxing | currency: "BRL" }}</td>
              </tr>
              <tr>
                <th>Entrega:</th>
                <td class="text-right">{{ invoice.taxaDelivery | currency: "BRL" }}</td>
              </tr>
              <tr>
                <th>Total:</th>
                <td class="text-right"> {{ calculateTotalOrder(invoice.totalOrderValue, invoice.taxing, invoice.taxaDelivery) | currency: "BRL" }}</td> 
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
    </div>

    <div class="row no-print">
      <div class="col-xs-12">
        <a [routerLink]="['/invoice-list']" class="btn btn-default pull-left">
          <i class="fa fa-reply"></i> voltar
        </a>
        <button type="button" (click)="print()" class="btn btn-success pull-right">
          <i class="fa fa-print"></i> Imprimir
        </button>
      </div>
    </div>
  </section>
</div>