a{
  cursor: pointer;
  text-decoration:none;
  color: #555
}

a:hover{
  color: #666
}

.notHaveOrder-main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  margin-top: 10%;
}

.notHaveOrder-main img {
  width: 200px;
}

.notHaveOrder-main span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.btn-primary  {
  color: #fff;
  background-color: #c71581;
  border-color: #b31374;
}

.btn-primary:hover {
  color: #fff;
  background-color: #c71581;
  border-color: #b31374;
}

img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.container {
  margin-top: 10px;
}