<div class="container">
  <div *ngIf="invoice == 0" class="notHaveOrder-main">
    <img src="/assets/plataform/cart.png"/>
    <span>Você não possui pedidos finalizados</span>
  </div>

  <div *ngIf="userType == 1">
    <div *ngFor="let invoice of invoice" style="margin-top: 10px">
      <a [routerLink]="['/invoice-detail', invoice.PRIMARY_KEY]">
        <div class="info-box">
          <span class="info-box-icon">
            <img [src]="invoice.storeImageUrl" style="vertical-align: 0px;"/>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">{{ invoice.storeName }}</span>
            <span class="info-box-number">
              {{ formatarDataTime(invoice.orderDate) }}
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div *ngIf="loading && invoice.length != 0 && userType == 1" class="col-md-12 col-xs-12" style="padding-bottom: 30px; padding-right: 0px; padding-left: 0px;">
    <button type="submit" class="btn btn-primary btn-block btn-flat btn-mais" (click)="loadingPlusProductClient()">
      Carregar mais
    </button>
  </div>

  <div class="row" *ngIf="!loading && invoice.length != 0 && userType == 1">
    <div class="login-logo">
      <i class="fa fa-refresh fa-spin fa-2x"></i>
    </div>
  </div>

  <div *ngIf="userType == 2">
    <div *ngFor="let invoice of invoice" style="margin-top: 10px">
      <a [routerLink]="['/invoice-detail', invoice.PRIMARY_KEY]">
        <div class="info-box">
          <span class="info-box-icon">
            <img [src]="invoice.clientImageUrl" style="vertical-align: 0px;"/>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">
              {{ invoice.clientName }}
              {{ invoice.clientLastName }}
            </span>
            <span class="info-box-number">
              {{ formatarDataTime(invoice.orderDate) }}
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div *ngIf="loading && invoice.length != 0 && userType == 2" class="col-md-12 col-xs-12" style="padding-bottom: 30px; padding-right: 0px; padding-left: 0px;">
    <button type="submit" class="btn btn-primary btn-block btn-flat btn-mais" (click)="loadingPlusProductStore()">
      Carregar mais
    </button>
  </div>

  <div class="row" *ngIf="!loading && invoice.length != 0 && userType == 2">
    <div class="login-logo">
      <i class="fa fa-refresh fa-spin fa-2x"></i>
    </div>
  </div>
</div>