
.mensagem-mobile{
  width: 278;
}

@media only screen and (max-width: 769px) {
  .mensagem-mobile{
    width: 300px;
  }
  .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 0px;
    left: 0px; 
  }
}


.info-box-texts {
  display: block;
  font-size: 14px;
  font-weight: normal; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  width: 100%;
}


menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
}


.main-header .navbar .nav>li>a>.label {
  top: 15px;
  right: 13px;
}
