
input.ng-invalid.ng-touched{
  border: 1px solid red;
}

input.ng-valid.ng-touched{
  border: 1px solid green;
}

select.ng-valid.ng-touched{
  border: 1px solid green;
}

select.ng-invalid.ng-touched{
  border: 1px solid red;
}

select.ng-pristine.ng-touched{
  border: 1px solid red;
}

input.ng-valid.ng-touched.input-buscar-produto{
  border: 1px solid #ccc;
}

input.ng-pristine.ng-touched.input-buscar-produto{
  border: 1px solid #ccc;
}

input.ng-invalid.ng-touched.input-buscar-produto{
  border: 1px solid #ccc;
}

select.ng-valid.ng-touched.select-buscar-por{
  border: 1px solid #ccc;
}

select.ng-pristine.ng-touched.select-buscar-por{
  border: 1px solid #ccc;
}

select.ng-invalid.ng-touched.select-buscar-por{
  border: 1px solid #ccc;
}

select.ng-valid.ng-touched.select-em-venda{
  border: 1px solid #ccc;
}

select.ng-pristine.ng-touched.select-em-venda{
  border: 1px solid #ccc;
}

select.ng-invalid.ng-touched.select-em-venda{
  border: 1px solid #ccc;
}

.linkCabecarioVoltraEstrela{
  cursor: pointer;
  text-decoration:none;
  color: #000
}

.linkCabecarioVoltraEstrela:hover{
  color: #000
}

.page-header {
  border-bottom: 0px solid #eee;
}

@media only screen and (max-width: 600px) {
  .page-header {
    margin: 5px 0px 5px 0px;
    font-size: 14px;
  }
  .button-order-mobile{
    width: 100%;
  }
 }
