<div class ="column-fixed" >
    <div  class="row head-mensagem-center-desktop"  style="background: #c71582;">
        <div class="col-sm-9  " >
            <div class="box-heder with-border  " style="padding: 0px; background:  #c71582; border-color: rgba(0, 0, 0, 0.2);  z-index:999">
                <button [routerLink]="['/store-message-contact']" class="btn btn-primary btn-flat" style="padding: 10px 30px 11px 10px; border: 0px solid #fff; background: #c71582;">
                    <i class="fa  fa-chevron-left"></i>
                </button>
                <div class="box-title pull-right" style="padding: 0px 10px 5px 5px; color:#fff; border: 0px solid #fff;">
                    <img class="img-circle" width="32" [src]="header.photoContact" alt="Message User Image">
                </div>    
                <button class="btn btn-primary btn-flat pull-right" style="padding: 5px 5px 5px 5px; border: 0px solid #fff; background: #c71582;">
                    {{ header.nameContact }}
                </button>
            </div>
        </div> 
    </div> 
</div> 
        
        
<section>
    <div class="containers" >
        <div id="content" >
            <div class="box-primary direct-chat direct-chat-success box-body" >
                 <div class="row msn-mensagem-center-desktop" style="padding-bottom:50px;">

                    <div *ngFor="let text of mensagem?.message" class="col-sm-6" style="margin-bottom:0px;margin-top:40px;">

                        <div *ngIf="text.FOREIGN_KEY == mensagem.FOREIGN_KEY_STORE" class="direct-chat-msg right">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-timestamp pull-left">
                                    {{ formatarDataTime(text.data) }}
                                    <i *ngIf="text.view" class="fa fa-check" style="color:  #7ABA7A"></i>
                                    <i *ngIf="!text.view" class="fa fa-check" style="color:  #666"></i>
                                </span>
                            </div>
                            <img class="direct-chat-img" [src]="text.photo" alt="Message User Image">
                            <div class="direct-chat-text" style="background:  #7ABA7A; border-color: rgba(0, 0, 0, 0.2); color:#fff">
                                <span class="direct-chat-name pull-left">
                                    {{ text.name }}
                                </span>
                                <br>
                                {{ text.text }}
                            </div>
                        </div>
                    
                        <div *ngIf="text.FOREIGN_KEY == mensagem.FOREIGN_KEY_CLIENT" class="direct-chat-msg">
                            <div class="direct-chat-info clearfix" >
                                <span class="direct-chat-timestamp pull-right">
                                    {{ formatarDataTime(text.data) }}
                                </span>
                            </div>
                            <img class="direct-chat-img" [src]="text.photo" alt="Message User Image">
                            <div class="direct-chat-text" style=" background:  #4285f4; border-color: rgba(0, 0, 0, 0.2);color:#fff; ">
                            <span class="direct-chat-name pull-left">{{ text.name }}</span><br>
                                {{ text.text }}
                            </div>
                        </div>

                    </div>  

               </div>
            </div>
        </div>
    </div>
</section>
        
<footer style="padding: 5px; margin: 0px; background-color:  #c71582; height: 60px;" >
    <div [formGroup]="formularioMessage" novalidate class="box-footer" style=" padding: 0px; margin: 0px; border: 0px solid #ccc; background:  #c71582;">
        <div class="row footer-mensagem-center-desktop">
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text"  formControlName="message" (keyup.enter)="sendMessage()" autocomplete="off" required placeholder="Digite uma mensagem..." class="form-control" style="border-radius: 50px; height: 50px;">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat" (click)="sendMessage()" style="border:  2px solid #fff;background: #c71582;height: 50px; width: 50px;border-radius: 90px; margin-left: 5px">
                            <i class="fa fa-send"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
        