<br />
<ul class="sidebar-menu" data-widget="tree">
  <li routerLinkActive="active">
    <a routerLink="/login">
      <i class="fa fa-user"></i>
      <span>Login</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/register">
      <i class="fa fa-user-plus"></i>
      <span>Cadastro</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/store">
      <i class="fa fa-group"></i><span>Lojas</span>
    </a>
  </li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-pencil"></i>
      <span>Termos</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu" style="background: #a0166a;">
      <li routerLinkActive="active">
        <a routerLink="/terms-of-accession" style="color: #ffe2f4;">
          Termos de adesão
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/privacy-policy" style="color: #ffe2f4;">
          Política de privacidade
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/exchange-devolution" style="color: #ffe2f4;">
          Troca e devolução
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/terms-of-use" style="color: #ffe2f4;">
          Termos de uso
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/adhesion-contract" style="color: #ffe2f4;">
          Contrato de adesão
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/prohibited-products" style="color: #ffe2f4;">
          Produtos proibidos
        </a>
      </li>
    </ul>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/about">
      <i class="fa fa-info-circle"></i>
      <span>Sobre Olissy</span>
    </a>
  </li>
</ul>
