 <br />
  <div class="pesquisa-margin-bottom">
    <!-- <mt-pesquisa [boscar_por]='"category"'></mt-pesquisa> -->
    <mt-pesquisa [boscar_por]='"category"'></mt-pesquisa>
  </div> 

<div class="container">
  <div *ngFor="let product of result.product" class="col-md-12 col-xs-12 center" style="top: 25px; margin-bottom: 10px">
    <div *ngFor="let store of result.store" class="menu-item-info-box card" style="cursor: pointer">
      <div *ngIf="store.FOREIGN_KEY == product.FOREIGN_KEY"  class="box-header with-border" style="padding: 5px 0px 0px 5px">
        <div class="user-block">
          <div style="display:flex; flex-wrap: nowrap; justify-content: space-between; align-items:baseline;">
            <span [routerLink]="['/store-page',store?.FOREIGN_KEY]">
              <img class="img-circle" [src]="store?.storeImageUrl" alt="User Image">
              <span *ngIf="store?.storeOpenOrClosed  == true" class="username" style="position: relative; top: 9px; line-height: 11px; display:flex; 	flex-direction: column;">
                <a class="nameStore">{{ store?.storeName }}</a>
                <p style="font-size:12px" class="text-success"><i class="fa fa-circle text-success" style="font-size:9px"></i> Aberto</p>
              </span>
              <span *ngIf="store?.storeOpenOrClosed  == false" class="username" style="position: relative; top: 9px; line-height: 11px; display:flex; 	flex-direction: column;">
                <a class="nameStore">{{ store?.storeName }}</a>
                <p style="font-size:12px" class="text-danger"><i class="fa fa-circle text-danger" style="font-size:9px"></i> Fechado</p>
              </span>
            </span>
            <span class="pull-right" style="margin-right: 10px;">
              <span class="username" (click)="selectDisplayStoreInfo(store)" data-keyboard="false" data-toggle="modal" data-target="#displayStoreInfo" style="position: relative; top: 14px; width: 35px">
                <a class="nameStore" style="font-size: 25px">
                  <i class="fa  fa-info-circle"></i>
                </a>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div *ngFor="let productDB of result.productDataBase"  class="col-md-12 col-xs-12" [routerLink]="['/product-page', product.PRIMARY_KEY]" style="padding-top: 0px; padding-bottom: 5px;">
        <div *ngIf="productDB.PRIMARY_KEY == product.PRIMARY_KEY_PRODUCT_DB && store.FOREIGN_KEY == product.FOREIGN_KEY"  id="carousel-example-generic" class="carousel slide imagemMobile" data-interval="false">
          <div class="carousel-inner">
            <div class="item active">
              <img [src]="productDB.productImageUrl || ''" style="width: 100%" alt="Photo" alt="Photo">
            </div>
          </div>
        </div>
      </div>  
      <div *ngFor="let productDB of result.productDataBase" >
        <div *ngIf="productDB.PRIMARY_KEY == product.PRIMARY_KEY_PRODUCT_DB && store.FOREIGN_KEY == product.FOREIGN_KEY">
          <div [routerLink]="['/product-page', product.PRIMARY_KEY]" style="margin: 5px 5px 10px 5px; padding:0px 0px 10px 0px ;" data-keyboard="false" data-backdrop="static" data-toggle="modal" data-target="#atualizar">
            <span class="menu-item-info-box-text">
              {{productDB.productName}}
            </span>
            <a class="produtos">
              <span class="menu-item-info-box-text" style="font-size: 14px; font-weight: normal; text-transform: none;">
                {{ productDB?.productSession }}, {{ productDB?.productType }} <b>marca{{ productDB?.provider }}</b> generico? <b>{{ productDB?.andGeneric }}</b>
              </span>
            </a> 
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
              <span class="menu-item-info-box-price">
                {{ product.productPrice | currency: 'BRL'}}
              </span>
              <button type="button" class="btn btn-default btn-xs pull-right" style="font-size: 16px;border-radius: 0px; border: 0px solid #EE3233; background: #fff; color:#666">
                <b>{{ product.productQuantities }} Produtos</b>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-12 col-xs-12 center" style="top: 5px; margin-bottom: 50px">
    <div class="col-md-12 col-xs-12 card" style="padding-bottom: 30px; padding-right: 0px; padding-left: 0px;" *ngIf="loading">
      <button type="submit" class="btn btn-primary btn-block btn-flat btn-mais" (click)="loadingPlusProduct()">
        Carregar mais
      </button>
    </div>
    <div class="row" *ngIf="!loading">
      <div class="login-logo">
        <i class="fa fa-refresh fa-spin fa-2x"></i>
      </div>
    </div>
  </div>
  
  <form>
    <div class="modal fade" id="displayStoreInfo">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="box-footer" style="border-top: 0px solid #f4f4f4;">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">Loja</h5>
                    <span class="description-text">
                      {{ displayStoreInfo?.storeName }}
                      <br>
                    </span>
                  </div>
                  </div>
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">Contatos</h5>
                    <span class="description-text" style="text-transform: none;">
                      {{ displayStoreInfo?.storeEmail }}
                      <br>
                    </span>
                    <span class="description-text">
                      {{ displayStoreInfo?.storeCellPhone | mask: '(00) 0 0000-0000' }}
                      <br>
                    </span>
                    <span class="description-text">
                      {{ displayStoreInfo?.storeTelephone | mask: '(00) 0000-0000'}}
                    </span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">
                      Endereço
                    </h5>
                    <span class="description-text">
                      {{ displayStoreInfo?.storeCity }}
                      <br>
                    </span>
                    <span class="description-text">
                      {{ displayStoreInfo?.storeNeighborhood }}
                      <br>
                    </span>
                    <span class="description-text">
                      {{ displayStoreInfo?.storeStreet }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>   
  <form>
    <div class="modal fade" id="displayShoppingCart">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="box-footer" style="border-top: 0px;">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <a data-dismiss="modal" [routerLink]="['/complete-orders', FOREIGN_KEY_STORE_ORDER_CART ]" class="btn btn-success btn-block" style="margin: 0px; color: #fff; font-size:14px">
                    <b>Mostrar meu pedido</b>
                  </a>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>  
</div>
