

img {
  border: 0px solid #31cc48;
}


.linkCabecarioVoltraEstrela{
  cursor: pointer;
  text-decoration:none;
  color: #000;
  padding-right: 10px;
  background-color: #fff;
}

.linkCabecarioVoltraEstrela:hover{
  color: #000;
  background-color: #fff;
}

.produtos{
  text-decoration:none;
  color: #555
}

.produtos:hover{
  color: #555
}

.nameStore{
  font-family: 'Thasadith', sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #fff;
}

.nameStore:hover{
  color: #fff;
  background-color: transparent;
}

.box-title:hover{
  color: #000;
  background-color: rgb(255, 255, 255);
}

.detail-active {
  border-bottom: 2px solid #b31377;
}

.removerEspacoEntreCabecarioLoja{
  padding: 10px 0px 0px 0px
}
@media only screen and (max-width: 600px) {
  .removerEspacoEntreCabecarioLoja{
    padding: 0px 0px 0px 0px
  }
}
@media only screen and (max-width: 600px) {
  .collumn-mobile{
    padding-right: 0px;
    padding-left: 0px;
  }
  .box-body dl {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .collumn-mobile{
    padding-right: 0px;
    padding-left: 0px;
  }
  .box-body dl {
    font-size: 14px;
  }
}

.painel{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.center{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: -2px;
}

.painel-left{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.box {
  width: 500px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 0px; 
  padding-left: 0px; 
}

.storeOpen{
  color: #31cc48;
  font-family: 'Thasadith', sans-serif;
  font-weight: 900;
  font-size: 16px;
}


.storeClosed{
  color: #ff6451;
  font-family: 'Thasadith', sans-serif;
  font-weight: 900;
  font-size: 16px;
}



.box-header.with-border {
  border-bottom: 0px solid #f4f4f4; 
}

.box-header {
  padding: 0px 10px 0px 0px;
}

.font-thasadith{
  font-family: 'Thasadith', sans-serif;
  font-weight: 900;
  color: #000;
}

.border-icons-a{
  background-color: #33333396;;
  border-radius: 100px;
  padding: 6px 8px 5px 8px;
  margin-left: 0px;
  margin: 9px 0px 0px -5px;
  position: absolute;
}

.border-icons-b{
  background-color: #33333396;;
  border-radius: 100px;
  padding: 6px 8px 5px 8px;
}

.border-icons-c {
  background-color: #33333396;;
  border-radius: 100px;
  padding: 4px 9px 0px 9px;
  margin: 9px 0px 0px 0px;
}

.border-icons-d {
  background-color: #33333396;;
  border-radius: 100px;
  padding: 3px 9px 5px 9px;
}

.border-icons-e {
  background-color: #33333396;;
  border-radius: 100px;
  padding: 5px 9px 5px 9px;
}

.wallpaper{
  height: calc( 100vh - 50px );
  width: 100%;
  background-color: rgb(0, 0, 0); /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display:flex; 	
  flex-direction: column;
  border-bottom-right-radius: 0px; 
  border-bottom-left-radius: 0px;
}

.box-img-detail {
  width: 50px;
  height: 50px;
}

.h{
  display: initial;
  align-items: center;
  justify-content: space-between;
  /*ie10*/
  display: -ms-flexbox;
  -ms-flex-preferred-size: 50px;
  -ms-flex-align: center; /*vertical*/
  -ms-flex-line-pack: distribute; /*or justify*/
}
.f{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*ie10*/
  display: -ms-flexbox;
  -ms-flex-preferred-size: 50px;
  -ms-flex-align: center; /*vertical*/
  -ms-flex-line-pack: distribute; /*or justify*/
}

.f {
  /*ie10 short content*/
  margin-top: auto; 
}

.storeOpen > i{
  font-size: 12px;
  color: #02c16ad1;
  border: #fff solid 2px;
  border-radius: 100px;
  background-color: #02c16ad1;
  padding: 0px 1px 0px 1px;
}

.storeOpen{
  top: -15px;
  left: -15px;
  position: relative;
}

.storeClosed > i{
  font-size:12px;
  color: #ff6451;
  border: #fff solid 2px;
  border-radius: 100px;
  background-color: #ff6451;
  padding: 0px 1px 0px 1px;
}

.storeClosed{
  top: -15px;
  left: -15px;
  position: relative;
}
