
.profile-user-img {
  border: 0px solid #d2d6de;
}
.text-muted {
  color: #ee2778;
}
.box.box-primary {
  border-top-color: transparent;
}

@media all and (max-width: 600px) {
  .container {
    padding-right: 0px; 
    padding-left: 0px; 
  }

  .box {
    border-radius: 0px;
    border-radius: 0px;
    border-top: 0px;
    margin-bottom: 0px;
  } 
  .margin-top-box{
    margin-top: 0px !important;
  }
}

.margin-top-box{
  margin-top: 30px;
}
