<div class="container">
  <section *ngIf="!loading">
    <br />
    <div class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive" [src]="formularioAbrirMinhaLoja.controls.imageDisplay.value" alt="User profile picture" />
        <label class="filebutton" style="width:100%;">
          <div class="widget-user-image">
            <div style="width:100%;  padding: 15px;" class="btn btn-default"
              [class.alert-success]="
                this.formularioAbrirMinhaLoja.controls['imageNew'].valid &&
                (this.formularioAbrirMinhaLoja.controls['imageNew'].dirty ||
                this.formularioAbrirMinhaLoja.controls['imageNew'].touched)
              "
              [class.alert-danger]="
                this.formularioAbrirMinhaLoja.controls['imageNew'].invalid &&
                (this.formularioAbrirMinhaLoja.controls['imageNew'].dirty ||
                this.formularioAbrirMinhaLoja.controls['imageNew'].touched)
              "><b>Inserir Imagem</b>
            </div>
          </div>
          <span hidden>
            <input type="file"  class="filebutton2" (change)="uploadFileImagem($event)" />
          </span>
        </label>
        <ul class="list-group list-group-unbordered">
          <form [formGroup]="formularioAbrirMinhaLoja" novalidate>
            <div class="form-group">
              <label for="exampleInputEmail1">*CNPJ</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                [imask]="cnpjMask"
                [unmask]="true"
                minlength="14"
                formControlName="storeCNPJ"
                required
                placeholder="Insira CNPJ"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeCNPJ.valid &&
                  (formularioAbrirMinhaLoja.controls.storeCNPJ.dirty ||
                  formularioAbrirMinhaLoja.controls.storeCNPJ.touched)
                "><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeCNPJ.invalid &&
                  (formularioAbrirMinhaLoja.controls.storeCNPJ.dirty ||
                  formularioAbrirMinhaLoja.controls.storeCNPJ.touched)
                "><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">
                Nome da Loja
              </label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="storeName"
                required
                placeholder="Ex: Padaria do Vovô"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeName.valid &&
                  (formularioAbrirMinhaLoja.controls.storeName.dirty ||
                  formularioAbrirMinhaLoja.controls.storeName.touched)
                "><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeName.invalid &&
                  (formularioAbrirMinhaLoja.controls.storeName.dirty ||
                  formularioAbrirMinhaLoja.controls.storeName.touched)
                "><i class="fa fa-remove"></i>Campo Obrigatorio</span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Horário de funcionamento</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="storeHours"
                required
                placeholder="Ex: Funciona de segunda à sexta, de 8h às 23h"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeHours.valid &&
                  (formularioAbrirMinhaLoja.controls.storeHours.dirty ||
                  formularioAbrirMinhaLoja.controls.storeHours.touched)
                "><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeHours.invalid &&
                  (formularioAbrirMinhaLoja.controls.storeHours.dirty ||
                  formularioAbrirMinhaLoja.controls.storeHours.touched)
                "><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">
                Tempo de entrega do seu produto
              </label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="storeDeliveryEstimate"
                required
                placeholder="Ex: 25 minutos"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeDeliveryEstimate.valid &&
                  (formularioAbrirMinhaLoja.controls.storeDeliveryEstimate.dirty ||
                  formularioAbrirMinhaLoja.controls.storeDeliveryEstimate.touched)
                "><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeDeliveryEstimate.invalid &&
                  (formularioAbrirMinhaLoja.controls.storeDeliveryEstimate.dirty ||
                  formularioAbrirMinhaLoja.controls.storeDeliveryEstimate.touched)
                "><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">
                Sobre sua Loja
              </label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="storeAbout"
                required
                placeholder="Ex: A Padaria do Vovô tem 2 anos de mercado. Fazemos os melhores doces e pães. Compre e confira."
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeAbout.valid &&
                  (formularioAbrirMinhaLoja.controls.storeAbout.dirty ||
                  formularioAbrirMinhaLoja.controls.storeAbout.touched)
                "><i class="fa fa-check"></i>Ok
                </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeAbout.invalid &&
                  (formularioAbrirMinhaLoja.controls.storeAbout.dirty ||
                    formularioAbrirMinhaLoja.controls.storeAbout.touched)
                "
                ><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>

            <div class="form-group">
              <label for="checkbox-cart-payment" style="margin-bottom: 0px;">Forma de Pagamentos</label>
              <div *ngFor="let check of checkPayment; let i=index">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [checked]="check.checked" [value]="check.value" (change)="onCheckChange($event)">
                    {{check.description}}
                  </label>
                </div>
              </div>
              <span 
                class="help-block"
                style="color:green"
                *ngIf="checkPaymentStatus == true"><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="checkPaymentStatus == false"><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="checkbox-cart-payment" style="margin-bottom: 0px;">Taxa de Entrega</label>
              <div *ngFor="let taxa of TaxaDelivery; let i=index">
                <div  *ngIf="taxa.rule == false" class="checkbox">
                  <label>
                    <input type="checkbox" [checked]="taxa.checked" [value]="taxa.value" (change)="setTaxaDelivery($event)">
                    {{taxa.description}}
                  </label>
                </div>
                <div  *ngIf="taxa.rule == true && taxa.value == 'deliveryFreeAbove'" class="checkbox">
                  <label>
                    <input type="checkbox" id="deliveryFreeAbove" [checked]="taxa.checked" [value]="taxa.value" (change)="setTaxaDelivery($event)" data-keyboard="false" data-toggle="modal" data-target="#displayTaxaDeliveryAbove">
                    {{taxa.description}}
                  </label>
                </div>
                <div  *ngIf="taxa.rule == true && taxa.value == 'deliveryBy'" class="checkbox">
                  <label>
                    <input type="checkbox" id="deliveryBy"  [checked]="taxa.checked" [value]="taxa.value" (change)="setTaxaDelivery($event)" data-keyboard="false" data-toggle="modal" data-target="#displayTaxaDeliveryBy">
                    {{taxa.description}}
                  </label>
                </div>
              </div>
              <span 
                class="help-block"
                style="color:green"
                *ngIf="taxaDeliveryStatus == true"><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="taxaDeliveryStatus == false"><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">
                Email da sua loja
              </label>
              <input
                type="text"
                disabled
                class="form-control"
                autocomplete="off"
                formControlName="storeEmail"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label for="cep">
                CEP
              </label>
              <input
                type="text"
                class="form-control"
                (keyup)="setCep($event.target.value)"
                autocomplete="off"
                [imask]="cepMask"
                [unmask]="true"
                minlength="8"
                formControlName="storeCEP"
                placeholder="Enter cep"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  this.formularioAbrirMinhaLoja.controls['storeCEP'].valid &&
                  (this.formularioAbrirMinhaLoja.controls['storeCEP'].dirty ||
                  this.formularioAbrirMinhaLoja.controls['storeCEP'].touched)
                "><i class="fa fa-check"></i>Ok
              </span>
            </div>
            <div class="form-group">
              <label for="state">
                Estados
              </label>
              <select formControlName="storeState" (change)="setState($event.target.value)" class="form-control" required>
                <option *ngFor="let state of states" [value]="state.sigla">
                  {{ state.nome }}
                </option>
              </select>
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  this.formularioAbrirMinhaLoja.controls['storeState'].valid &&
                  (this.formularioAbrirMinhaLoja.controls['storeState'].dirty ||
                  this.formularioAbrirMinhaLoja.controls['storeState'].touched)
                "><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  this.formularioAbrirMinhaLoja.controls['storeState'].invalid &&
                  (this.formularioAbrirMinhaLoja.controls['storeState'].dirty ||
                  this.formularioAbrirMinhaLoja.controls['storeState'].touched)
                "><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div> 
            <div class="form-group">
              <label for="exampleInputEmail1">
                cidade
              </label>
              <select formControlName="storeCity" class="form-control" required>
                <option *ngFor="let city of citys"[value]="city">
                  {{ city }}
                </option>
              </select>
              <span 
                class="help-block"
                style="color:green"
                *ngIf="
                  this.formularioAbrirMinhaLoja.controls['storeCity'].valid &&
                  (this.formularioAbrirMinhaLoja.controls['storeCity'].dirty ||
                  this.formularioAbrirMinhaLoja.controls['storeCity'].touched)
                "><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  this.formularioAbrirMinhaLoja.controls['storeCity'].invalid &&
                  (this.formularioAbrirMinhaLoja.controls['storeCity'].dirty ||
                  this.formularioAbrirMinhaLoja.controls['storeCity'].touched)
                "><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">bairro</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="storeNeighborhood"
                required
                placeholder="Enter bairro"
              />
              <span class="help-block" style="color:green"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeNeighborhood.valid &&
                  (formularioAbrirMinhaLoja.controls.storeNeighborhood.dirty ||
                  formularioAbrirMinhaLoja.controls.storeNeighborhood.touched)
                "><i class="fa fa-check"></i>Ok
              </span>

              <span class="help-block" style="color:red"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeNeighborhood.invalid &&
                  (formularioAbrirMinhaLoja.controls.storeNeighborhood.dirty ||
                  formularioAbrirMinhaLoja.controls.storeNeighborhood.touched)
                "><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>

            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">rua</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="storeStreet"
                required
                placeholder="Enter rua"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeStreet.valid &&
                  (formularioAbrirMinhaLoja.controls.storeStreet.dirty ||
                  formularioAbrirMinhaLoja.controls.storeStreet.touched)
                "><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeStreet.invalid &&
                  (formularioAbrirMinhaLoja.controls.storeStreet.dirty ||
                  formularioAbrirMinhaLoja.controls.storeStreet.touched)
                "><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">celular</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                [imask]="cellPhoneMask"
                [unmask]="true"
                minlength="11"
                formControlName="storeCellPhone"
                required
                placeholder="Enter celular"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeCellPhone.valid &&
                  (formularioAbrirMinhaLoja.controls.storeCellPhone.dirty ||
                  formularioAbrirMinhaLoja.controls.storeCellPhone.touched)
                "><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeCellPhone.invalid &&
                  (formularioAbrirMinhaLoja.controls.storeCellPhone.dirty ||
                  formularioAbrirMinhaLoja.controls.storeCellPhone.touched)
                "><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">telefone</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                [imask]="phoneMask"
                [unmask]="true"
                minlength="10"
                formControlName="storeTelephone"
                required
                placeholder="Enter telefone"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeTelephone.valid &&
                  (formularioAbrirMinhaLoja.controls.storeTelephone.dirty ||
                  formularioAbrirMinhaLoja.controls.storeTelephone.touched)
                "><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formularioAbrirMinhaLoja.controls.storeTelephone.invalid &&
                  (formularioAbrirMinhaLoja.controls.storeTelephone.dirty ||
                  formularioAbrirMinhaLoja.controls.storeTelephone.touched)
                "><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
          </form>
        </ul>
        <button class="btn btn-success btn-block" (click)="abrirMinhaLoja()">
          <b>
            Abrir minha loja
          </b>
        </button>
      </div>
    </div>
  </section>
  <div *ngIf="loading">
    <div class="login-logo">
      Aguarde
    </div>
    <div class="row">
      <div class="login-logo">
        <i class="fa fa-refresh fa-spin fa-2x"></i>
      </div>
    </div>
  </div>
</div>
<form>
  <div class="modal fade" id="displayTaxaDeliveryAbove">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="box-footer" style="border-top: 0px;">
            <div class="row">
              <div style="display: flex; justify-content: center; margin-bottom: 15px;"><b>{{ this.TaxaDelivery[2].description }}</b></div>
              <div class="col-md-12 col-sm-12 col-xs-12" style="display: flex;">
                <div class="input-group" >
                  <span class="input-group-addon">R$</span>
                  <input type="number" class="form-control" value="0.00"  placeholder="0.00" (click)="setTaxaDeliveryAbobeTaxa($event.target.value)" (keyup)="setTaxaDeliveryAbobeTaxa($event.target.value)">
                </div>
                &nbsp;&nbsp;
                <div class="input-group">
                  <input type="number" value="0.00" placeholder="0.00" class="form-control" (click)="setTaxaDeliveryAboveKmValue($event.target.value)" (keyup)="setTaxaDeliveryAboveKmValue($event.target.value)">
                  <span class="input-group-addon">/KM</span>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</form> 
<form>
  <div class="modal fade" id="displayTaxaDeliveryBy">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="box-footer" style="border-top: 0px;">
            <div class="row">
              <div style="display: flex; justify-content: center; margin-bottom: 15px;"><b>{{ this.TaxaDelivery[3].description }}</b></div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon">R$</span>
                  <input type="text" class="form-control" value="0.00" placeholder="0.00" (click)="setTaxaDeliveryByKmValue($event.target.value)" (keyup)="setTaxaDeliveryByKmValue($event.target.value)">
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</form> 
