
<div class="container">
    <div style="margin-top: 10px">
        <a  [routerLink]="['/admin-payment-list-detail', '123456' ]">
          <div class="info-box">
            <span class="info-box-icon">
                <img class="box-img-detail" src="/assets/plataform/avatar.png"/>
            </span>
            <div class="info-box-content">
                <div class="box-start">
                    <span class="info-box-text">
                        <b>Utrafarma</b>
                    </span>
                    <span class="info-box-number">
                        R$945.25
                    </span>
                </div>
                <div class="box-end">
                    <span class="info-box-number">
                        <b class="info-box-text-open">Aberto</b>
                    </span>
                </div>
            </div>
          </div>
        </a>

        <a  [routerLink]="['/admin-payment-list-detail', '123456' ]">
            <div class="info-box">
                <span class="info-box-icon">
                    <img class="box-img-detail" src="/assets/plataform/avatar.png"/>
                </span>
              <div class="info-box-content">
                <div class="box-start">
                    <span class="info-box-text">
                        <b>Utrafarma</b>
                    </span>
                    <span class="info-box-number">
                        R$945.25
                    </span>
                </div>
                  <div class="box-end">
                    <span class="info-box-number">
                        <b class="info-box-text-inPayment">Em Pagamento</b>
                    </span>
                </div>
              </div>
            </div>
        </a>

        <a  [routerLink]="['/admin-payment-list-detail', '123456' ]">
            <div class="info-box">
                <span class="info-box-icon">
                    <img class="box-img-detail" src="/assets/plataform/avatar.png"/>
                </span>
              <div class="info-box-content">
                <div class="box-start">
                    <span class="info-box-text">
                        <b>Utrafarma</b>
                    </span>
                    <span class="info-box-number">
                        R$945.25
                    </span>
                </div>
                  <div class="box-end">
                    <span class="info-box-number">
                        <b class="info-box-text-delay">Atrazados</b>
                    </span>
                </div>
              </div>
            </div>
        </a>

        <a  [routerLink]="['/admin-payment-list-detail', '123456' ]">
            <div class="info-box">
                <span class="info-box-icon">
                    <img class="box-img-detail" src="/assets/plataform/avatar.png"/>
                </span>
              <div class="info-box-content">
                <div class="box-start">
                    <span class="info-box-text">
                        <b>Utrafarma</b>
                    </span>
                    <span class="info-box-number">
                        R$945.25
                    </span>
                </div>
                  <div class="box-end">
                    <span class="info-box-number">
                        <b class="info-box-text-paid">Pago</b>
                    </span>
                </div>
              </div>
            </div>
        </a>
    </div>
</div>
