<link href="https://fonts.googleapis.com/css?family=Thasadith&display=swap" rel="stylesheet">

<div *ngFor="let product of result.product" >
  <div *ngFor="let productDB of result.productDataBase">
    <div *ngIf="productDB.PRIMARY_KEY == product.PRIMARY_KEY_PRODUCT_DB">
      <div  class="col-md-12 col-xs-12 center">
        <div  class="menu-item-info-box card">
          <div>
            <div *ngIf="productDB.PRIMARY_KEY == product.PRIMARY_KEY_PRODUCT_DB" class="col-md-12 col-xs-12" style="padding-top: 10px; padding-bottom: 5px;">
              <span *ngIf="product.description" (click)="setDescription(false, product.index)" class="menu-item-info-box-text"  style="cursor: pointer;">
                {{productDB.productName}}
              </span>  
    
              <span *ngIf="!product.description" (click)="setDescription(true, product.index)" class="menu-item-info-box-text" style="cursor: pointer; white-space: normal">
                {{productDB.productName}}
              </span> 
    
              <div *ngIf="!product.description" style="margin: 0px 0px 10px 5px;">
                
                  <span class="menu-item-info-box-detail" style="width:100%;">
                    <label style="width:100%; font-weight: normal;">
                      <p style="margin-bottom: 0px;">
                        <b>Sessão: </b>{{ productDB?.productSession }}
                      </p>
                    </label>
                  </span>
                  <span class="menu-item-info-box-detail" style="width:100%;">
                    <label style="width:100%; font-weight: normal;">
                      <p style="margin-bottom: 0px;">
                        <b>Categoria: </b>{{ productDB?.productCategory }}
                      </p>
                    </label>
                  </span>
                  <span class="menu-item-info-box-detail" style="width:100%;">
                    <label style="width:100%; font-weight: normal;">
                      <p style="margin-bottom: 0px;">
                        <b>Tipo: </b>{{ productDB?.productType }}
                      </p>
                    </label>
                  </span>
                  <span class="menu-item-info-box-detail" style="width:100%;">
                    <label style="width:100%; font-weight: normal;">
                      <p style="margin-bottom: 0px;">
                        <b>Generico: </b>{{ productDB?.andGeneric }}
                      </p>
                    </label>
                  </span>
                  <span class="menu-item-info-box-detail" style="width:100%;">
                    <label style="width:100%; font-weight: normal;">
                      <p style="margin-bottom: 0px;">
                        <b>Fornecedor: </b>{{ productDB?.provider }}
                      </p>
                    </label>
                  </span>
                <h5 style="margin-top: 0px;">
                  <div [innerHTML]="productDB?.productDescription"></div>
                </h5>
              </div> 
    
    
    
    
              <div id="carousel-example-generic" class="carousel slide imagemMobile" data-interval="false">
                <div class="carousel-inner">
                  <div class="item active">
                    <a [href]="productDB.productImageUrl" target="_blank">
                      <img [src]="productDB.productImageUrl || ''" style="width: 100%" alt="Photo" alt="Photo">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="not-select-text" *ngFor="let productDB of result.productDataBase" >
            <div *ngIf="productDB.PRIMARY_KEY == product.PRIMARY_KEY_PRODUCT_DB">
              <div style="margin: 5px 5px 5px 5px; padding:0px 0px 0px 0px ;">
                <div class="row" style=" margin-left: 0px; margin-right: 0px;">
                  <span class="menu-item-info-box-price font" style="font-size: 25px; color:#000">
                    {{ product.productPriceOrigin ? (product.productPriceOrigin | currency: "BRL")  : (product.productPrice | currency: "BRL") }}
                    <span style="font-size: 12px; background-color: #2cce2fd1; border-radius: 10px; color: aliceblue; color: #ffffff;padding: 5px; top: -20px; position: relative;">
                      <b>
                        &nbsp;{{ product.productQuantities }}&nbsp;
                      </b>
                    </span>
                  </span>

                    <span class="pull-right" style="margin-right: 5px; margin-top: 10px;">
                      <a (click)="incrementarItemCarrinho(product, productDB)" class="adicionar-carrinho" >
                        Adicionar
                      </a>
                    </span>
                    <span class="pull-right" *ngIf="product.quantities > 0" style="margin-top: 10px;">
                      <a class="adicionar-carrinho" style="color: #666; font-size:14px; margin:0px 15px 0px 15px">
                      <b>  {{ product.quantities }} </b>
                      </a>
                    </span>
                    <span class="pull-right" *ngIf="product.quantities > 0" style="margin-top: 10px;">
                      <a (click)="decrementarItemCarrinho(product)" class="remover-carrinho">
                        Remover
                      </a>
                    </span>
                  
                </div>
              </div>
    
    
    
              <div class="container-react-user">
    
                <div *ngIf="!LOGIN" class="container-love">
                  <i class="fa  fa-heart-o" style="font-size: 24px; margin-right: 3px; color: #555;"></i>
                  <b *ngIf="product.love == 0">Amar</b>   
                  <b *ngIf="product.love > 0">{{ product.love }}</b> 
                </div> 
    
                <div *ngIf="reactLoading && LOGIN" (click)="setLove(product)" class="container-love">
                  <i *ngIf="!product.react" class="fa  fa-heart-o" style="font-size: 24px; margin-right: 3px; color: #555;"></i>
                  <i *ngIf="product.react" class="fa  fa-heart" style="font-size: 24px; margin-right: 3px; color: #ff6451;"></i>
                  <b *ngIf="product.love == 0">Amar</b>   
                  <b *ngIf="product.love > 0">{{ product.love }}</b> 
                </div> 
    
                <div *ngIf="!reactLoading" class="container-love" >
                  <i class="fa fa-heart" style="font-size: 24px; margin-right: 3px; color: #999999ba;"></i>
                  <b *ngIf="product.love == 0">Amar</b>   
                  <b *ngIf="product.love > 0">{{ product.love }}</b> 
                </div> 
    
                <div class="container-commit" (click)="setComment(product.PRIMARY_KEY)" data-keyboard="false" data-toggle="modal" data-target="#displayComment">        
                  <i class="fa  fa-comment-o" style="font-size: 24px; margin-right: 3px; color: #555;"></i>
                  <b *ngIf="product.comment == 0 || product.comment == null ">Comentar</b>   
                  <b *ngIf="product.comment > 0">{{ product.comment }}</b> 
                </div>
    
                <div class="container-cart">
                  <i class="fa  fa-star-o" style="font-size: 24px; margin-right: 3px; color: #555;"></i>
                  <b *ngIf="product.sale == 0">Vendido</b>   
                  <b *ngIf="product.sale > 0">{{ product.sale }}</b>  
                </div>
              </div>
    
    
    
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-xs-12 center" style="padding-bottom: 0px; padding-right: 0px; padding-left: 0px;" *ngIf="loading && result.product != 0">
  <button type="submit" class="btn btn-primary btn-block btn-flat btn-mais card" (click)="loadingPlusProduct()">
    Carregar mais
  </button>
</div>

<div class="row" *ngIf="!loading && result.product != 0">
  <div class="login-logo">
    <i class="fa fa-refresh fa-spin fa-2x"></i>
  </div>
</div>

<div class="col-md-12 col-xs-12 center" *ngIf="result.product == 0">
  <div class="box box-solid card">
    <div class="box-header with-border">
      <div class="user-block">
        <span class="username center">
          Esta loja não possui produtos
        </span>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-xs-12"  *ngIf="TotalValorDoPedido() != 0">
  <div class="col-md-12 col-xs-12">
    <footer class="main-footer text-center btn-primary" data-keyboard="false" data-toggle="modal" data-target="#displayShoppingCart" >
      <i style="font-size:18px"class="fa fa-shopping-cart"></i> &nbsp; <b style="border-radius: 100px;padding:5px; background-color:rgba(0,0,0,0.2); ">{{  TotalProdutoCarrinho() }}</b>
    </footer>
  </div>
</div>
   
<form>
  <div class="modal fade" id="displayShoppingCart">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="box-footer" style="border-top: 0px;">
            <div class="row">
              <div class="box-solid" style="border:0px">
                <mt-carrinho></mt-carrinho>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form> 


<form>
<div class="modal fade mobile" id="displayComment" style="padding-right: 0px">
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="row" *ngIf="comments.status">
        <div class="login-logo">
          <i class="fa fa-refresh fa-spin fa-2x" style="margin-top: 20px;"></i>
        </div>
      </div>
      <div  *ngIf="!comments.status" class="modal-header" style=" background-color: #C71585">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fa fa-fw fa-close"></i></span></button>
        <h4 class="modal-title" style="color: #fff;">{{ this.comments.post.length }} Comentarios</h4>
      </div>

      <div *ngIf="comments.post.length != 0" id="content" style=" padding: 0px 10px 0px 10px;">
        <div class="box-primary direct-chat direct-chat-success box-body" >
          <div class="row msn-mensagem-center-desktop">
            <div *ngFor="let comment of comments.post" style="margin-bottom:0px;">
              <div  class="direct-chat-msg">
                <img class="direct-chat-img" [src]="comment.commentImageUrl">
                <div class="direct-chat-text" style="background: #f0f2f5;color: #444; border: 1px solid #f0f2f5; ">
                  <span class="direct-chat-name pull-left"> {{ comment.commentName }} </span>
                  <span class="direct-chat-name pull-right" style=" font-size: 12px; font-weight: normal; color: #65676b;"> {{ formatDate(comment.commentDate) }} </span><br>
                  {{ comment.commentText }}
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
      <div *ngIf="!comments.status" class="modal-footer" style="padding: 0px; text-align: start; border-top: 0px solid #e5e5e5;background-color: #d2d6de;">
        <div *ngIf="comments.post.length != 0" class="box box-default collapsed-box box-solid" style="cursor: pointer; margin-bottom: 0px; box-shadow: none;">
          <div class="box-header with-border">
            <div *ngIf="commentPlus" class="box-title" (click)="setCommentPlus()" style="align-items: center; display: flex; justify-content: center;">
              Mais Comentarios 
            </div>
            <div *ngIf="!commentPlus" class="box-title" style="align-items: center; display: flex; justify-content: center;">
              <i class="fa fa-refresh fa-spin fa-1x"></i>
            </div>
          </div>
        </div>
        <form *ngIf="LOGIN" [formGroup]="formularioComentario" style="margin: 5px 2px 5px 4px; background-color: #d2d6de;">
          <!-- <div class="img-responsive img-circle img-sm pull-right" style="margin-right: 10px;"> 
            <button type="button" (click)="publicarComentario()" class="btn btn-default btn-xs">
              <i class="fa  fa-send-o" style="font-size: 25px"></i>
            </button>
          </div> -->
          <div class="img-push">
            <input type="text" formControlName="commentText" class="form-control input-sm" (keyup.enter)="publicarComentario()" placeholder="Comente Você Também ...">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</form>
