a{
  cursor: pointer;
  text-decoration:none;
  color: #000
}

a:hover{
  color: #666
}

.notHaveOrder-main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  margin-top: 10%;
}

.notHaveOrder-main img {
  width: 200px;
}

.notHaveOrder-main span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.btn-primary  {
  color: #fff;
  background-color: #c71581;
  border-color: #b31374;
}

.btn-primary:hover {
  color: #fff;
  background-color: #c71581;
  border-color: #b31374;
}

.container {
  margin-top: 10px;
}

.info-box-icon{
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 12px;
  line-height: 44px;
  
}

.info-box-icon-open{
  background: #337ab7;
  color: #fff;
}

.info-box-text-open{
  color: #00b361;
}

.info-box-icon-inPayment{
  background: #f3ec12;
  color: #fff;
}

.info-box-text-inPayment{
  color: #f3ec12;
}

.info-box-icon-paid{
  background: #00b361;
  color: #fff;
}

.info-box-text-paid{
  color: #00b361;
}

.info-box-icon-delay{
  background: red;
  color: #fff;
}

.info-box-text-delay{
  color: red;
}

.info-box-number {
  display: flex;
  font-weight: bold;
  font-size: 40px;
  justify-content: center;
}

.info-box-text {
  display: flex;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: flex-end;
  text-transform: initial;
}