<br />
<ul class="sidebar-menu" data-widget="tree">
  <li>
    <a routerLink="client-message-contact">
      <i class="fa fa-envelope"></i> <span>Mensagens</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="client-order">
      <i class="fa fa-bell"></i> <span>Pedidos</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="client-panel">
      <i class="fa fa-television"></i> <span>Painel</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="client-user-change-registration">
      <i class="fa fa-user"></i> <span>Usuario</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="invoice-list">
      <i class="fa fa-shopping-cart"></i> <span>Nota Fiscal</span>
    </a>
  </li>
</ul>
