<div class="container">
  <div class="col--hidden col-md-12" style="margin-top: 10px; padding-left: 0px;padding-right: 0px;">
    <h3 class="col-form-label">Termos de Uso</h3>
    <div class="bg-white rounded p-2 mt-1" style="text-align: justify;text-justify: inter-word;">
      <div class="row">
        <div class="col-12">
        </div>
      </div>
      Para a utilização do Marketplace “olissy”, destacamos algumas informações da contratação do serviço e outros
      temas relevantes para facilitar a sua experiência na plataforma:<p></p>
      <p>
        <b>
          1. MARKETPLACE
        </b>
      </p>
      <p>
        Marketplace trata-se de um local de compras e vendas de produtos. No ambiente online isso se traduz em um espaço
        virtual onde a farmacia empresa permite que outros lojistas anunciem seus produtos e serviços através da
        plataforma do olissy. Assim, o olissy, é como se fosse um shopping center virtual, onde vários
        lojistas vendem seus produtos e serviços diretamente aos consumidores. Podemos dizer então que o olissy é
        um facilitador de compras através de uma plataforma web/mobile, onde um usuário Vendedor pode oferecer seus
        próprios produtos e/ou serviços diretamente a usuários Compradores. O serviço prestado pelo olissy é o
        oferecimento desta plataforma aos usuários, com inúmeras funcionalidades, permitindo que usuários Vendedores e
        Compradores se aproximem e realizem transações diretamente entre si.</p>
      <p>
        <br>
        <b>
          2. ANUNCIANTES
        </b>&nbsp;
      </p>
      <p>
        Ao acessar o olissy e pesquisar um produto e/ou conteúdo, o usuário Comprador terá várias ofertas
        relacionadas ao produto e/ou conteúdo que procura. Essas ofertas se referem aos produtos vendidos e entregues
        diretamente pelo usuário Vendedor. Atenção: quando você, usuário Comprador, escolher um produto, usuários
        Vendedores, você estará sujeito às regras e condições de oferta disponibilizada por este usuário Vendedor. O
        olissy não regula preço, prazo de entrega e condições da oferta, sendo estas feitas exclusivamente pelo
        usuário Vendedor. Desta forma, o usuário Comprador está ciente e de acordo que, ao comprar um produto e/ou serviço
        diretamente de um usuário Vendedor, o olissy não será responsável pelo conteúdo, prazo de entrega e
        condições da oferta do usuário Vendedor.</p>
      <p>
        <br>
        <b>
          3. COMO IDENTIFICAR À QUAL ANUNCIANTE PERTENCE O PRODUTO DIVULGADO?&nbsp;
        </b>
      </p>
      <p>
        Nos produtos exibidos pelo olissy, identificamos com a Logomarca do respectivo Anunciante/Usuário Vendedor
        na parte superior esquerda do Box na exibição do produto, como também nas telas de Resumo do Pedido, Processamento
        da Transação e Detalhe do Pedido.</p>
      <p>
        <br>
        <b>
          4. PRODUTOS E SERVIÇOS OFERECIDOS NO olissy
        </b>
      </p>
      <p>
        O usuário Vendedor poderá expor à venda todo e qualquer produto e serviço que esteja em conformidade com a
        legislação brasileira e como os Termos e Condições Gerais de Uso. Não é permitido ainda oferecer produtos e/ou
        serviços que não possuam autorização específica de órgãos reguladores competentes e/ou que violem direitos de
        terceiros.
      </p>
      <p>
        <br>
        <b>
          5. A QUEM SE APLICAM AS CONDIÇÕES DOS TERMOS E CONDIÇÕES DE USO DO MARKETPLACE?&nbsp;
        </b>
      </p>
      <p>
        Estes Termos e Condições de Uso do Marketplace se aplicam a todos os usuários do Site Vendedores ou Compradores.
        Ao utilizar o Marketplace do olissy o usuário declara que leu, compreendeu e aceitou estes Termos e
        Condições de Uso do Marketplace, os Termos e Condições Gerais de Uso do Marketplace, a Política de Privacidade do
        olissy.
      </p>
      <p>
        <br>
        <br>
      </p>
      <p>
        <b>
          TERMOS E CONDIÇÕES DE USO DO MARKETPLACE - CONTRATO DO ANUNCIANTE&nbsp;&nbsp;
        </b>
        <br>
      </p>
      <p>
        Estes Termos e Condições de Uso do Marketplace (ou Contrato) aplicam-se aos usuários Vendedores e Compradores dos
        serviços oferecidos pela olissy APP SA. (olissy), com sede na Rua ***********
        **************, CEP **.***-***, na cidade de ***********/** inscrito no CNPJ/MF sob
        n°00.000.000/0000-00, por meio da plataforma qualquer pessoa (adiante usuário), que utilize os serviços do
        olissy deverá ter lido, entendido e aceitado estes Termos e Condições de Uso do Marketplace.<br>
        <br>
      </p>
      <p>
        <b>
          1. OBJETO
        </b>
        <br>
        <br>
        1.1. O objeto deste Contrato é estabelecer as regras e condições para disponibilização de produtos e serviços por
        terceiros denominados usuários Vendedores, bem como as condições de utilização da plataforma para a compra destes
        produtos e serviços pelos usuários Compradores.</p>
      <p>
        1.2. O olissy autoriza os usuários Vendedores a anunciarem seus produtos e serviços diretamente na
        plataforma, desde que respeitados os termos e condições deste Contrato.</p>
      <p>
        <br>
        <b>
          2. OBRIGAÇÕES DO USUÁRIO VENDEDOR
        </b>
      </p>
      <p>
        2.1. Será de exclusiva responsabilidade de o usuário Vendedor estabelecer diretamente as características, o
        preço, a forma de entrega e as demais condições de sua oferta, sem interferência do olissy.</p>
      <p>
        2.2. O usuário Vendedor é o único responsável pelos anúncios e condições das suas ofertas de produtos e serviços
        disponibilizados no Marketplace e declara estar ciente que deverá honrar integralmente todas as ofertas
        anunciadas, incluindo, mas não se limitando, aquelas que eventualmente possuam erros de preços e/ou equívocos de
        quaisquer condições dos produtos e serviços disponibilizados pelo usuário Vendedor.</p>
      <p>
        2.3. Fica estabelecido que, ao oferecer diretamente produtos e/ou serviços no Marketplace, o usuário Vendedor se
        obriga a cumprir a Legislação em vigor e as regras do olissy, incluindo, mas não se limitando a:</p>
      <p>
        • Lei 8.078/1990 - Código de Defesa do Consumidor;<br>
        • Lei 12.965/2014 – Marco Civil da Internet;<br>
        • Decreto 7.692/2013;<br>
        • Leis de Entrega;<br>
        • Termos e Condições Gerais de Uso do olissy;<br>
        • Política de entrega, troca e devolução de produtos; e<br>
        • Anexos deste Contrato.</p>
      <p>
        2.4. O usuário Vendedor somente disponibilizará produtos e/ou serviços que estejam sob seu controle. O usuário
        Vendedor autoriza, desde já, o olissy a efetuar todo e qualquer cancelamento de compra e devolução dos
        devidos recursos ao usuário Comprador sempre que por este solicitado, de acordo com a legislação em vigor, ou caso
        o olissy identifique, a seu único e exclusivo critério, risco na operação.</p>
      <p>
        2.5. O usuário Vendedor deverá reparar eventuais vícios e/ou defeitos dos produtos e/ou serviços por ele
        anunciados, bem como informar eventual cancelamento da compra a pedido do usuário Comprador. Neste caso, caberá ao
        usuário Vendedor realizar a coleta do produto cancelado no endereço indicado pelo usuário Comprador, sem ônus
        adicional.</p>
      <p>
        2.6. Ao definir as condições da oferta, o usuário Vendedor declara ser integralmente responsável pelos produtos
        e/ou serviços disponibilizados aos usuários Compradores, incluindo as características do produto e/ou serviço,
        preço, forma e prazos de entrega, além de todas as condições relacionadas à oferta.
      </p>
      <p>
        2.7. O usuário Vendedor se obriga a:&nbsp;
      </p>
      <p>
        (i) Integrar sua plataforma eletrônica ao olissy, diretamente ou por meio de integradores, desde que
        compatíveis com a tecnologia do olissy. A integração deverá manter as ofertas publicadas no olissy
        sempre atualizadas no prazo máximo de 1 hora, a partir da alteração do conteúdo na plataforma do usuário Vendedor;
      </p>
      <p>
        (ii) Garantir que as ofertas tenham, no mínimo, as mesmas condições comerciais oferecidas na plataforma do
        usuário Vendedor e nos demais portais e sites em que o usuário Vendedor ofereça seus produtos e/ou serviços. Esta
        condição não se aplica às formas de pagamento oferecidas, que no olissy serão definidas a exclusivo
        critério do olissy;&nbsp;
      </p>
      <p>
        (iii) Responsabilizar-se diretamente em relação aos produtos e/ou serviços por ele oferecidos, pelo atendimento
        pré e pós venda aos usuários Compradores na ferramenta disponibilizada pelo olissy, por telefone e/ou
        canais eletrônicos, a exemplo, mas não se limitando ao atendimento por e-mail, através de uma equipe contratada e
        treinada pelo usuário Vendedor para tal fim, respeitadas as condições estabelecidas no presente Contrato;&nbsp;
      </p>
      <p>
        (iv) Responsabilizar-se pelo resultado de serviços prestados por eventuais contratados para atendimento dos
        usuários Compradores;
        <br>
        <br>
        <br>
        (v) Inativar imediatamente a divulgação e venda de produtos e/ou serviços cuja disponibilização e comercialização
        esteja impossibilitada por qualquer motivo;&nbsp;
      </p>
      <p>
        (vi) Cumprir com suas próprias obrigações tributárias em relação aos produtos e/ou serviços por ele oferecidos a
        usuários Compradores, em cumprimento à legislação em vigor, inclusive em relação à emissão dos respectivos
        documentos fiscais diretamente aos usuários Compradores, não podendo imputar ao olissy quaisquer ônus em
        relação ao cumprimento destas obrigações.
      </p>
      <p>
        2.8. O usuário Vendedor declara que possui ferramentas de segurança aptas a garantir a integridade e a
        confidencialidade do recolhimento, registro, armazenamento e utilização de quaisquer dados dos usuários
        Compradores, responsabilizando-se pela utilização indevida e não autorizada destes dados, inclusive em obediência
        a eventual legislação posterior a este Contrato que regule especificamente a proteção de dados.
      </p>
      <p>
        2.9. O usuário Vendedor reconhece e declara que não terá acesso a plataforma de qualquer usuário Comprador por
        meio do olissy, mas tão somente a um e-mail mascarado para eventual contato que se faça necessário.
      </p>
      <p>
        2.10. O usuário Vendedor se compromete a não utilizar os dados dos usuários Compradores para divulgações
        publicitárias e qualquer outro fim que não o cumprimento deste Contrato, salvo mediante expressa autorização do
        usuário Comprador diretamente no Site do usuário Vendedor. Ao enviar qualquer tipo de publicidade ao usuário
        Comprador, observados os limites desta cláusula, o usuário Vendedor se compromete a cumprir integralmente o
        disposto no Código de Autorregulamentação do Email Marketing.
      </p>
      <p>
        2.11. As Partes acordam que o olissy poderá disponibilizar aos usuários Compradores mecanismos de “rating”
        ou “ranking” para avaliação da performance dos usuários Vendedores no Marketplace. O sistema de avaliação será
        feito exclusivamente com informações inseridas pelos usuários Compradores, não tendo o olissy qualquer
        ingerência e/ou direito de editar os conteúdos publicados, exceto, nos casos de conteúdos de baixo calão e/ou que
        violem a legislação em vigor.
      </p>
      <p>
        <br>
        <b>
          3. OBRIGAÇÕES DO USUÁRIO COMPRADOR
        </b>
      </p>
      <p>
        3.1. Para realizar transações no Marketplace do olissy, o usuário Comprador deverá ler, compreender e
        aceitar expressamente o presente Termo e Condições de Uso do Marketplace, bem como os demais documentos neste
        relacionados, especialmente o Termos e Condições de Uso Gerais, que contempla a Política de Privacidade e demais
        anexos.
      </p>
      <p>
        3.2. O usuário Comprador declara estar ciente das responsabilidades e obrigações dos usuários Vendedores
        descritas neste Contrato, reconhecendo que ao comprar um produto e/ou serviço diretamente de um usuário Vendedor,
        o olissy não possuirá qualquer responsabilidade pelo conteúdo, prazo de entrega, atendimento e condições da
        oferta do usuário Vendedor, cabendo ao olissy apenas promover a aproximação entre os usuários Vendedor e
        Comprador, por meio da sua plataforma de Marketplace Web/Mobile.
      </p>
      <p>
        3.3. Ao realizar transações no Marketplace do olissy, o usuário Comprador autoriza, expressamente, que o
        olissy disponibilize seus dados ao usuário Vendedor do qual será adquirido o produto ou serviço pelo
        usuário Comprador, para que este concretize a transação.
      </p>
      <p>
        3.4. Os Termos e Condições de Uso do Marketplace do olissy estão sujeitos a constante melhoria e
        aprimoramento. Assim, o olissy se reserva o direito de modificar a qualquer momento, de forma unilateral, o
        presente documento. Os novos Termos e Condições de uso do Marketplace entrarão em vigor após 10 (dez) dias
        contados de sua publicação no Portal. Caso o usuário Comprador não esteja de acordo com as novas regras, deverá
        entrar em contato com os canais de atendimento do olissy, hipótese em que se considerará rescindido seu
        vínculo contratual com o olissy, devendo, no entanto, ser cumpridas todas as obrigações assumidas até o
        momento da efetiva rescisão.
      </p>
      <p>
        3.5. O usuário Comprador deverá cumprir com suas próprias obrigações tributárias, em cumprimento à legislação em
        vigor, não podendo imputar ao olissy quaisquer ônus em relação ao cumprimento destas obrigações.</p>
      <p>
        <br>
        <b>
          4. OBRIGAÇÕES DO olissy
        </b>
        <br>
        <br>
        4.1. O olissy será responsável pelo desenvolvimento do Marketplace, incluindo, mas não se limitando a, toda
        estrutura física e tecnológica para a manutenção do serviço prestado.
      </p>
      <p>
        4.1.1. O olissy oferece ainda as ferramentas necessárias ao checkout e processo de pagamento (diretamente
        ou por meio de serviços prestados por terceiros), bem como ferramentas para comunicações via e-mail relacionadas
        ao status do pedido.
      </p>
      <p>
        4.2. Obriga-se o olissy a:&nbsp;
      </p>
      <p>
        (i) Prestar ao usuário Vendedor as informações possíveis e relevantes para o cumprimento do objeto do presente
        Contrato, incluindo informações adicionais sobre o desenvolvimento do funcionamento do Marketplace;&nbsp;
      </p>
      <p>
        (ii) Manter seu portal funcionando de forma que os produtos e/ou serviços oferecidos pelo usuário Vendedor sejam
        disponibilizados publicamente a todos os usuários Compradores;&nbsp;
      </p>
      <p>
        (iii) Manter em seu portal, por si ou por terceiros, ferramentas destinadas ao registro das informações dos
        usuários Compradores, especialmente em relação às informações cadastrais, registro das vendas e gerenciamento de
        pagamentos;&nbsp;
      </p>
      <p>
        (iv) Efetuar, por si ou por terceiros, os repasses ao usuário Vendedor em relação às transações efetuadas no
        Marketplace em decorrência do presente Contrato, efetuando as devidas retenções pelas tarifas por utilização do
        serviço de Marketplace, bem como demais retenções legais caso aplicáveis;&nbsp;
      </p>
      <p>
        (v) Envidar os melhores esforços para divulgar o Marketplace nos canais publicitários disponíveis.
      </p>
      <p>
        4.3. O olissy poderá oferecer atendimento pós-venda básico, com os seguintes serviços: confirmação de
        pagamento, problemas no pagamento, informações de pedido, status do pedido, prazo de entrega estabelecido pelo
        usuário Vendedor.
      </p>
      <p>
        4.4. Quando o cancelamento da compra for solicitado pelo usuário Comprador através do Marketplace, o Farmácias
        APP deverá endereçar referida solicitação ao respectivo usuário Vendedor para que adote todas as providências
        necessárias, conforme cláusula 2.4.
      </p>
      <p>
        <br>
      </p>
      <p>
        <br>
      </p>
      <p>
        <b>
          5. PUBLICAÇÕES DE ANÚNCIOS DAS OFERTAS
        </b>
      </p>
      <p>
        5.1. O usuário Vendedor, ao publicar as ofertas no Marketplace, deverá indicar as informações detalhadas e
        completas sobre os produtos e/ou serviços oferecidos, incluindo as formas de entrega disponíveis, prazos de
        entrega, custos de frete e demais informações necessárias para a oferta do produto e/ou serviço ao usuário
        Comprador, observada a legislação aplicável.
      </p>
      <p>
        5.2. Para publicar as ofertas no Marketplace, as imagens do usuário Vendedor deverão ter o tamanho mínimo de 400
        x 400 pixels ou 40 kbytes,&nbsp;fundo branco, sem qualquer marca d’agua, logo e/ou quaisquer informações do
        usuário Vendedor e com a indicação do código de identificação individual de cada item – ID do SKU, sob pena de não
        integração dos produtos e/ou serviços no Marketplace.
      </p>
      <p>
        5.3. O olissy não poderá assegurar o êxito de qualquer negociação realizada pelo usuário Vendedor.
      </p>
      <p>
        <br>
      </p>
      <p>
        <b>
          6. RESPONSABILIDADE PELA INTEGRAÇÃO DOS ANÚNCIOS
        </b>
      </p>
      <p>
        6.1. O usuário Vendedor deverá, para integração no Marketplace do olissy, disponibilizar seus produtos
        e/ou serviços por meio de plataforma online, mantida diretamente pelo usuário Vendedor ou por serviços oferecidos
        por empresas especializadas.
      </p>
      <p>
        6.2. O usuário Vendedor será responsável por todos os seus anúncios de produtos e/ou serviços veiculados no
        Marketplace por meio de integrador próprio ou oferecidos por terceiros incluindo, mas não se limitando, eventuais
        cobranças e negociações realizadas.
      </p>
      <p>
        6.3. O usuário Vendedor reconhece que o olissy não possui qualquer ingerência ou responsabilidade no que
        diz respeito à relação entre o usuário Vendedor e o integrador, bem como que não poderá assumir qualquer obrigação
        ou, ainda, conceder qualquer direito que possa ser conflitante com o disposto no presente Contrato.
      </p>
      <p>
        <br>
      </p>
      <p>
        <br>
      </p>
      <p>
        <b>
          7. PRÁTICAS VEDADAS
        </b>
      </p>
      <p>
        7.1. O usuário Vendedor não poderá, entre outras atitudes previstas neste Contrato:&nbsp;
      </p>
      <p>
        (i) Manipular os preços dos produtos e/ou serviços anunciados no Marketplace;
        <br>
        <br>
        (ii) Interferir nas negociações entre outros usuários Vendedores;&nbsp;
      </p>
      <p>
        (iii) Anunciar produtos proibidos pelas políticas do olissy constantes neste Contrato e na legislação
        aplicável ao produto e ou serviços disponibilizado à venda;&nbsp;
      </p>
      <p>
        (iv) Agredir, caluniar, injuriar ou difamar outros usuários Vendedores.
      </p>
      <p>
        7.2. A prática de quaisquer atos descritos acima poderá ser sancionada pelo olissy, com o consequente e
        imediato cancelamento ou suspensão do usuário Vendedor no Marketplace, sem prejuízo das ações legais cabíveis.
      </p>
      <p>
        <br>
        <b>
          8. TARIFAS E PAGAMENTOS
        </b>
      </p>
      <p>
        8.1. O usuário Vendedor pagará ao olissy tarifa pela utilização do serviço de Marketplace correspondente a
        um percentual sobre o valor do produto e/ou serviço anunciado, denominado “Tarifa”. A Tarifa poderá, ainda, ser
        composta pela soma do mesmo percentual a ser aplicado sobre o valor do frete cobrado de usuários compradores,
        frete este repassado ao usuário Vendedor que contrata diretamente serviços de transporte.
      </p>
      <p>
        8.2. O olissy disponibilizará relatórios mensais para o usuário Vendedor demonstrando o valor a ser
        pago/retido a título de Tarifa. O relatório mensal será sempre fechado no dia 30 de cada mês e disponibilizado no
        dia 05 do mês seguinte (ou no quinto dia útil subsequente) e conterá as Tarifas relacionadas às transações
        realizadas pelo usuário Vendedor nos 30 (trinta) dias anteriores à data do fechamento do relatório.&nbsp;
      </p>
      <p>
        8.3. O repasse dos valores apurados e refletidos no referido relatório mensal será realizado uma vez por mês,
        toda segunda quinta-feira do mês subsequente a disponibilização do referido relatório, podendo haver alteração nas
        datas de repasse, sem necessidade de prévio aviso.
      </p>
      <p>
        8.4. O usuário Vendedor deverá apontar eventuais divergências no relatório de Tarifas, formalmente, em até 05
        (cinco) dias úteis a contar da liberação do relatório de vendas, hipótese em que o olissy analisará tais
        divergências e procederá, caso necessário, com as devidas correções para o débito/repasse (conciliação) de
        eventuais diferenças no mês subsequente.
      </p>
      <p>
        8.5. Para solicitar um estorno ao olissy, o usuário Vendedor deverá informar da forma definida pelo
        olissy:&nbsp;
      </p>
      <p>
        (i) Número do pedido;
      </p>
      <p>
        (ii) Item a ser ressarcido;&nbsp;
      </p>
      <p>
        (iii) Valor a ser ressarcido;
      </p>
      <p>
        (iv) Data do pedido; e&nbsp;
      </p>
      <p>
        (v) Motivo do ressarcimento.
      </p>
      <p>
        8.6. O olissy, ao processar os pedidos de estorno, reterá/cobrará, também à título de tarifa pela
        utilização do serviço, o equivalente a 5% (cinco por cento) do valor total da compra cancelada. Eventual
        conciliação financeira será realizada na fatura seguinte ao da realização do estorno.
      </p>
      <p>
        8.7. Após a disponibilização do relatório de transações, o olissy emitirá a Nota Fiscal referente às
        Tarifas aplicáveis, que deverão ser pagas pelo usuário Vendedor em até 15 (quinze) dias contados da emissão da
        Nota Fiscal ou debitadas, em até 15 (quinze) dias contados da emissão da Nota Fiscal, de valores a serem
        repassados ao usuário Vendedor pelas transações realizadas. Qualquer ingresso futuro de valores a serem repassados
        ao usuário Vendedor em razão de operações realizadas no Marketplace poderá ser utilizado pelo olissy para
        quitar eventuais débitos pendentes.
      </p>
      <p>
        8.8. O atraso no pagamento pelo usuário Vendedor das Tarifas devidas ao olissy resultará em multa
        contratual de 2% (dois por cento) do valor da respectiva Nota Fiscal, acrescida de juros de mora de 1% (um por
        cento) ao mês, calculados até a data do efetivo pagamento. Fica facultada a rescisão contratual, a exclusivo
        critério do olissy, caso a inadimplência permaneça sem justo motivo por mais de 30 (trinta) dias corridos
        após o envio de notificação por escrito ao usuário Vendedor relatando o inadimplemento, ressalvado ainda o direito
        do olissy de reclamar indenização.
      </p>
      <p>
        8.9. As responsabilidades decorrentes dos tributos devidos em razão deste Contrato serão de responsabilidade
        daquele que a lei definir como contribuinte, em especial quanto aos valores percebidos a título de Tarifa.</p>
      <p>8.10. O olissy diretamente, ou por meio de terceiros definidos a seu exclusivo critério, poderá oferecer
        serviços de gerenciamento de pagamento ao usuário Vendedor para pagamento de seus produtos e/ou serviços, podendo
        ser cobradas tarifas pela utilização de referido serviço.
      </p>
      <p>
        8.11. As Partes deverão guardar e manter disponível todas as informações e comprovantes referentes aos
        cancelamentos, ressarcimentos e devoluções pelo período de 05 (cinco) anos, podendo a outra Parte no caso de
        eventual ação judicial movida pelo comprador e/ou terceiro solicitar à Parte detentora de tais informações, que
        deverá prontamente disponibilizá-las.
      </p>
      <p>
        <br>
      </p>
      <p>
        <b>
          9. DIREITOS AUTORAIS E PROPRIEDADE INTELECTUAL
        </b>
      </p>
      <p>
        9.1. O usuário Vendedor é o único responsável pelos produtos e/ou serviços por ele oferecidos no Marketplace,
        pela entrega destes, bem como pelo serviço de pós-venda relacionado ao atendimento aos usuários Compradores;
      </p>
      <p>
        9.2. O olissy é o único responsável pelos danos causados a seus usuários por defeitos ou vícios relativos
        exclusivamente à prestação do serviço de Marketplace no olissy, desde que o olissy tenha dado causa
        aos referidos defeitos ou vícios.
      </p>
      <p>
        9.3. O usuário Vendedor concorda em manter indene o olissy, seus diretores, gerentes,empregados e agentes
        em relação a todas e quaisquer responsabilidades, obrigações, perdas, danos, penalidades, ações, decisões,
        processos, custos, despesas, multas, condenações, incluindo, mas não se limitando, honorários ou desembolsos de
        qualquer natureza decorrentes dos produtos e serviços oferecidos pelo usuário Vendedor por meio do Marketplace,
        e/ou pelo descumprimento das demais obrigações deste instrumento.
      </p>
      <p>
        9.4. Nenhuma das Partes terá qualquer tipo de responsabilidade, frente à outra Parte, por defeitos técnicos e/ou
        operacionais oriundos do sistema de usuários Compradores.
      </p>
      <p>
        9.5. As Partes reconhecem que não é de responsabilidade do olissy qualquer dano, prejuízo ou perda
        sofridos pelo usuário Vendedor em razão de falhas na internet, no sistema ou no servidor utilizado pelo usuário
        Vendedor decorrentes de condutas de terceiros, vírus ou caso fortuito e/ou força maior.
      </p>
      <p>
        9.6. O usuário Vendedor declara ser o único e exclusivo responsável pela existência, quantidade, qualidade,
        estado, integridade ou legitimidade dos produtos por ele ofertados no Marketplace, estando o usuário Comprador
        ciente e de acordo com o aqui estabelecido. As Partes isentam, portanto, o olissy de toda e qualquer
        responsabilidade neste sentido.
      </p>
      <p>
        <br>
        <b>
          10. PROPRIEDADE INTELECTUAL
        </b>
      </p>
      <p>
        O usuário Vendedor direta ou indiretamente, não fará ou autorizará o uso das marcas, logotipos, slogans, imagens,
        patentes, modelos de utilidade, desenhos industriais, segredos industriais ou outra propriedade intelectual da
        olissy APP SA, suas afiliadas, controladas, controladoras e demais empresas do seu grupo econômico (“Propriedade
        Intelectual”), salvo se necessário para a execução do presente Contrato e exclusivamente durante sua vigência,
        desde que mediante prévia autorização por escrito da olissy APP SA.

        10.2. A olissy APP SA é titular do marketplace&nbsp;www.olissy.com&nbsp;(olissy) e detém todos os
        direitos sobre a autoria, propriedade intelectual, aparência, design, funcionalidade e todos os demais aspectos da
        tecnologia, sendo que tais direitos não poderão ser utilizados, reproduzidos e/ou copiados sem a expressa
        autorização do olissy APP SA.

        10.3. O usuário Vendedor declara que as marcas, nomes empresariais título de estabelecimento, expressão de
        propaganda, slogans, imagens ou qualquer outra propriedade intelectual por ele e/ou empresas do mesmo grupo
        econômico utilizadas para a sua própria identificação, não infringem quaisquer direitos de propriedade intelectual
        de terceiros. Ainda, declara que seus produtos e/ou serviços expostos à venda no marketplace olissy não
        violam ou infringem patente, direito autoral, marca, nome comercial, trade dress, imagem, desenho industrial,
        segredo comercial ou, sem limitação, quaisquer direitos de propriedade intelectual de terceiros, declarando o
        usuário Vendedor, por fim, que o presente Contrato não viola quaisquer cessões, licenças ou concessões outorgadas
        e firmadas entre si e terceiros.

        10.4. O usuário Vendedor concorda em manter indene a olissy APP SA, seus diretores, gerentes, empregados e agentes
        em relação a todas e quaisquer responsabilidades, obrigações, perdas, danos, penalidades, ações, decisões,
        processos, custos, despesas, multas, condenações, incluindo, mas não se limitando, honorários ou desembolsos de
        qualquer natureza decorrentes de quaisquer violações e/ou alegações de violação de direito autoral e/ou de
        propriedade industrial de terceiros durante ou após a vigência do presente Contrato.

        10.5. O usuário Vendedor concede ao olissy APP SA / olissy, licença gratuita e não exclusiva, livre
        royalties, durante o período de vigência do Contrato para publicação, utilização, reprodução, distribuição,
        transmissão e exibição das marcas e nome comercial do usuário Vendedor em relação à execução deste Contrato.

        10.6. A olissy APP SA / olissy poderá remover anúncio do usuário Vendedor caso receba alguma denúncia,
        reclamação ou questionamento de terceiros titular de marca.</p>
      <p>
        <br>
        <b>
          11. CONFIDENCIALIDADE
        </b>
      </p>
      <p>
        11.1. O usuário Vendedor se obriga, por si e seus sócios, prepostos, empregados e/ou subcontratados, durante todo
        o período de vigência deste Contrato e por 5 (cinco) anos após o seu término ou rescisão, a manter o mais completo
        e absoluto sigilo e confidencialidade sobre toda e qualquer informação relacionada com as atividades desenvolvidas
        pelas Partes, sejam elas diretamente relacionadas ao objeto deste Contrato ou não, sob pena de responder pelas
        perdas e danos e demais cominações legais decorrentes de tal violação.
      </p>
      <p>
        11.2. O usuário Vendedor obriga-se a exigir dos seus eventuais colaboradores e subcontratados as mesmas condições
        de sigilo assumidas no presente Contrato, respondendo solidariamente com estes em todas as infrações eventualmente
        cometidas.
      </p>
      <p>
        11.3. Não serão consideradas informações confidenciais aquelas que sejam de conhecimento público na época da sua
        transmissão a terceiros, bem como aquelas requisitadas por autoridade governamental ou decisão judicial, desde que
        a parte receptora notifique previamente a parte reveladora, para que esta tome as medidas necessárias que entender
        cabíveis.
      </p>
      <p>
        11.4. Na hipótese de término deste Contrato por qualquer razão, todos os documentos, dados ou materiais
        referentes ao olissy em poder do usuário Vendedor ou de seus subcontratados, deverão ser imediatamente
        devolvidos ao olissy, mediante protocolo de entrega, no endereço constante no preâmbulo deste Contrato.
      </p>
      <p>
        <br>
        <b>
          12. VIGÊNCIA E RESCISÃO
        </b>
      </p>
      <p>
        12.1. Este Contrato vigorará desde a data do seu aceite e por prazo indeterminado. As Partes poderão rescindi-lo
        mediante o envio de comunicação prévia e por escrito com antecedência de 30 (trinta) dias, sem qualquer ônus ou
        indenizações, ressalvadas as obrigações pendentes.
      </p>
      <p>
        12.2. O presente Contrato poderá ainda ser automaticamente rescindido, a qualquer tempo, de pleno direito, nas
        seguintes hipóteses:&nbsp;
      </p>
      <p>
        (i) insolvência, liquidação judicial ou extrajudicial, recuperação judicial ou extrajudicial ou falência de uma
        das Partes;&nbsp;
      </p>
      <p>
        (ii) alteração do objeto social de qualquer das Partes, que inviabilize a execução do Contrato;&nbsp;
      </p>
      <p>
        (iii) reestruturação societária, fusão, cisão ou incorporação de qualquer das Partes, bem como havendo qualquer
        participação societária do usuário Vendedor ou empresas coligadas com concorrentes do olissy;&nbsp;
      </p>
      <p>
        (iv) motivos de caso fortuito ou força maior, na forma definida em Lei, que impossibilitem a execução deste
        Contrato por mais de 30 (trinta) dias, desde que tal circunstância seja imediatamente notificada à outra
        Parte;&nbsp;
      </p>
      <p>
        (v) inadimplemento, por qualquer das PARTES, de qualquer das cláusulas e/ou condições do Contrato, caso a Parte
        inadimplente não sane a falta no prazo de 30 (trinta) dias corridos após o recebimento de notificação por escrito
        pela Parte inocente, relatando o inadimplemento, hipótese esta em que a Parte inocente terá o direito de reclamar
        indenização; e, (vi) não observância do quanto previsto nas Práticas Vedadas constantes na cláusula 7.
      </p>
      <p>
        12.3. O usuário Vendedor poderá ainda rescindir o Contrato caso não concorde com a alteração da Tarifa. Neste
        caso, após a manifestação expressa da discordância no prazo previsto na cláusula 8.2., o Contrato será
        automaticamente rescindido no prazo de 30 (trinta) dias, período este em que deverão ser mantidas todas as
        obrigações contratuais.
      </p>
      <p>
        12.4. As Partes reconhecem que, além das responsabilidades e obrigações das Partes que dadas a sua natureza
        sobreviverão à extinção do Contrato, permanecerá a obrigação de confidencialidade prevista na cláusula 11.1, bem
        como a concessão de licença gratuita prevista na cláusula 10.5., ambas do presente instrumento.
      </p>
      <p>
        <br>
        <b>
          13. MEDIAÇÕES E CONFLITOS
        </b>
      </p>
      <p>
        <b>
          13.1. Reclamações recebidas pelo olissy
        </b>
      </p>
      <p>
        13.1.1. É facultado ao olissy intervir no atendimento das reclamações dos usuários Compradores do
        Marketplace, especialmente nos seguintes casos:&nbsp;
      </p>
      <p>
        (i) o usuário Comprador não recebe o produto e/ou serviço adquirido do usuário Vendedor no prazo ofertado;&nbsp;
      </p>
      <p>
        (ii) o produto e/ou serviço recebido é diferente do descrito na página do produto e/ou serviço;&nbsp;
      </p>
      <p>
        (iii) o produto e/ou serviço recebido apresenta vício ou defeito; e/ou (iv) o usuário Comprador desejar devolver
        o produto e não é atendido pelo usuário Vendedor. Nestas hipóteses, entre outras, o olissy mediará a
        solução do problema entre os usuários Comprador e Vendedor, seguidos os procedimentos descritos nesta cláusula.
      </p>
      <p>
        13.1.2. Recebida a reclamação do usuário Comprador, o olissy encaminhará a ocorrência ao usuário Vendedor,
        que deverá apresentar solução definitiva ao usuário Comprador, sempre no prazo de 2 (dois) dias úteis (contados do
        envio da reclamação pelo olissy).
      </p>
      <p>
        13.1.3. Findo o prazo para solução da ocorrência sem resposta ou solução por parte do usuário Vendedor, a equipe
        de atendimento do olissy poderá optar pelo cancelamento da transação e o ressarcimento integral dos valores
        pagos ao usuário Comprador.
      </p>
      <p>
        <br>
      </p>
      <p>
        <b>
          13.2. &nbsp;Reclamações recebidas diretamente pelo usuário Vendedor
        </b>
      </p>
      <p>
        13.2.1. Caso a reclamação seja feita pelo usuário Comprador diretamente junto ao usuário Vendedor, o usuário
        Vendedor deverá notificar o olissy sobre os casos de cancelamento do pedido nos seguintes prazos:
      </p>
      <ul>
        <li>
          Motivo do Cancelamento;<br>
        </li>
        <li>
          Prazo para notificação do olissy;<br>
        </li>
        <li>
          Atraso/demora na entrega de produto e/ou serviço;<br>
        </li>
        <li>
          1 dia útil contado da reclamação do usuário Comprador;<br>
        </li>
        <li>
          Vício ou defeito de produto e/ou serviço;<br>
        </li>
        <li>
          1 dia útil contado do recebimento do produto no centro de distribuição do usuário Vendedor;<br>
        </li>
        <li>
          Produto e/ou serviço diferente do adquirido;<br>
        </li>
        <li>
          1 dia útil contado do recebimento do produto no centro de distribuição do usuário Vendedor;<br>
        </li>
        <li>
          Atraso na coleta do produto no endereço do usuário Comprador;<br>
        </li>
        <li>
          1 dia útil contado da reclamação do usuário Comprador.<br>
        </li>
      </ul>
      <p>
        13.2.2. Caso chegue ao conhecimento do olissy que a reclamação de um usuário Comprador não foi comunicada
        pelo usuário Vendedor nos prazos descritos nesta cláusula, poderá o olissy proceder imediatamente ao
        cancelamento da transação e o ressarcimento integral dos valores pagos ao usuário Comprador.
      </p>
      <p>
        <br>
      </p>
      <p>
        <b>
          13.3. Condições Gerais para atendimento ou cancelamento do pedido do usuário Comprador
        </b>
      </p>
      <p>
        13.3.1. Aberta uma reclamação pelo usuário Comprador, em qualquer canal, a solução apresentada pelo usuário
        Vendedor deverá sempre estar de acordo com a legislação em vigor, em especial o Código de Defesa do Consumidor.
      </p>
      <p>
        13.3.2. Caso seja solicitada pelo usuário Comprador a troca/devolução de algum produto, o usuário Vendedor deverá
        realizar a coleta do produto conforme os prazos mínimos estabelecidos no Anexo “Tabela de Prazos para Coleta de
        Produtos”.
      </p>
      <p>
        13.3.3. Nos casos de cancelamento do pedido pelo usuário Comprador, especialmente decorrente de falhas
        ocasionadas pelo usuário Vendedor, serão normalmente cobradas pelo olissy as tarifas por utilização do
        serviço de Marketplace.
      </p>
      <p>
        13.3.4. O olissy cobrará do usuário Vendedor, através de descontos em faturas vincendas, todas as tarifas
        devidas pela prestação dos serviços de Marketplace, bem como todo e qualquer custo comprovadamente arcado pelo
        olissy com o cancelamento/ressarcimento do usuário Comprador.
      </p>
      <p>
        <br>
        <b>
          14. DISPOSIÇÕES GERAIS
        </b>
      </p>
      <p>
        14.1. As Partes declaram que detém todos os direitos necessários à formalização deste Contrato, assumindo, a tal
        respeito, toda a responsabilidade perante a outra Parte e/ou terceiros.
      </p>
      <p>
        14.2. As Partes garantem, para todos os fins e efeitos, que cumprem os padrões de seu setor e/ou segmento de
        mercado e atua em conformidade com a legislação brasileira.
      </p>
      <p>
        14.3. As Partes deverão cumprir&nbsp;
      </p>
      <p>
        (i) todas as normas legais (leis federais, estaduais, municipais e internacionais, regras e regulamentos e
        exigências governamentais) atualmente vigentes, bem como normas que se tornarem vigentes relacionadas à
        privacidade, confidencialidade ou segurança das informações obtidas;&nbsp;
      </p>
      <p>
        (ii) todos os padrões da indústria aplicáveis às matérias de privacidade, proteção de dados, confidencialidade ou
        segurança da informação;&nbsp;
      </p>
      <p>
        (iii) as políticas de privacidade aplicáveis, declarações ou notificações que sejam fornecidos por escrito.
      </p>
      <p>
        14.4. O olissy espera que os usuários Vendedores que anunciem seus produtos e/ou serviços diretamente na
        plataforma &nbsp;ajam com ética e de maneira consistente com o Código de Ética do olissy.
      </p>
      <p>
        14.5. Qualquer omissão ou tolerância de qualquer das Partes em exigir o fiel cumprimento dos termos e condições
        deste Contrato não constituirá novação, perdão ou renúncia, nem afetará o direito da Parte de exigir seu
        cumprimento a qualquer tempo.
      </p>
      <p>
        14.6. Fica expressamente estipulado que não se estabelece entre as Partes, por força deste Contrato, nenhuma
        relação de sociedade, associação, consórcio, representação, agência, joint venture ou responsabilidade subsidiária
        ou solidária, tampouco implica a existência de qualquer vínculo empregatício entre as Partes, seus sócios,
        administradores, empregados, prepostos e/ou subcontratados, correndo por conta e responsabilidade exclusiva de seu
        contratante todas as obrigações fiscais, trabalhistas, infortunísticas (acidentes de trabalho), fundiárias (FGTS)
        e previdenciárias decorrentes de sua relação com aqueles.
      </p>
      <p>
        14.7. Todas as notificações, avisos, citações, intimações e quaisquer outros dados requeridos ou necessários
        entre as Partes deverão ser feitos por escrito e serão entregues ou remetidos para a outra Parte nominalmente na
        pessoa de seu representante legal informado no momento do cadastro junto ao olissy.
      </p>
      <p>
        14.15. Qualquer alteração de endereço físico ou eletrônico do usuário Vendedor ou Comprador deverá ser
        imediatamente atualizado na plataforma. Até que seja feita essa atualização, serão válidos e eficazes os avisos,
        as comunicações, as notificações e as interpelações enviadas para o endereço informado. As Partes reconhecem que
        todas as mensagens enviadas por meio eletrônico constituem evidência e prova legal em âmbito judicial.
      </p>
      <p>
        14.16. Os compromissos e obrigações assumidos pelas Partes no âmbito do presente Contrato são passíveis de
        execução específica, nos termos dos artigos 461, 466-A e seguintes, do Código de Processo Civil, servindo este
        instrumento como título executivo extrajudicial, nos termos do artigo 585, II, do Código de Processo Civil,
        reconhecendo as Partes, desde logo, que o simples pagamento de perdas e danos poderá não constituir a compensação
        total e adequada no caso de inadimplemento de obrigação assumida neste Contrato.
      </p>
      <p>
        14.17. Sem prejuízo de outras medidas cabíveis, o olissy poderá advertir, suspender, temporária ou
        definitivamente o usuário Vendedor no Marketplace, cancelar os seus anúncios, iniciando ações legais cabíveis e/ou
        suspendendo a prestação de seus serviços se:&nbsp;
      </p>
      <p>
        (i) O usuário Vendedor não cumprir qualquer dispositivo destes Termos e Condições de Uso do Marketplace e demais
        políticas do olissy;&nbsp;
      </p>
      <p>
        (ii) O usuário Vendedor descumprir com seus deveres;&nbsp;
      </p>
      <p>
        (iii) O usuário Vendedor praticar atos fraudulentos ou dolosos;&nbsp;
      </p>
      <p>
        (iv) Caso qualquer informação fornecida pelo usuário Vendedor esteja incorreta; e
      </p>
      <p>
        (v) Caso o olissy entenda que os anúncios ou qualquer atitude do usuário Vendedor tenha causado algum dano
        a terceiros ou ao próprio olissy ou, ainda, que possa causar. Nos casos de suspensão do usuário Vendedor,
        todos os anúncios ativos e/ou ofertas realizadas serão automaticamente cancelados.
      </p>
      <p>
        14.18. Os Termos e Condições de Uso do Marketplace estão sujeitos a constante melhoria e aprimoramento. Assim, o
        olissy se reserva o direito de modificar a qualquer momento, de forma unilateral, o presente Termos e
        Condições de Uso. Os novos Termos e Condições de Uso entrarão em vigor após 10 (dez) dias contados de sua
        publicação no olissy. Caso os usuários Vendedores e usuários Compradores não estejam de acordo com as novas
        regras, deverão entrar em contato com os canais de atendimento do olissy, hipótese em que se considerará
        rescindido seu vínculo contratual com o olissy, devendo, no entanto, ser cumpridas todas as obrigações
        assumidas até o momento da efetiva rescisão. Não havendo manifestação no prazo estipulado, será entendido como
        aceito os novos Termos e Condições de Uso do Marketplace e o Contrato continuará vinculando as Partes.
      </p>
      <p>
        14.19. Anexos - São parte integrante e inseparável destes Termos e Condições de Uso do Marketplace os seguintes
        documentos e/ou seções do olissy indicados a seguir. Estes documentos podem ser consultados no próprio
        Site, clicando na página correspondente:<br>
        <br>
        • Termos e Condições Gerais de uso do olissy;<br>
        • Política de entrega, troca e devolução de produtos;<br>
        • Contrato de Adesão.
      </p>
      <p>
        <br>
      </p>
      <p>
        <b>
          15. LEI APLICÁVEL E FORO DE ELEIÇÃO
        </b>
      </p>
      <p>
        15.1. Estes Termos e Condições de Uso do Marketplace são regidos pelas Leis do Brasil. Para todas as
        controvérsias e questões relacionadas e estes Termos e Condições as partes elegem o foro da Comarca de ******** -
        ES. Ficam excluídas desta regra as questões em que o Usuário se enquadre no conceito legal de Consumidor, situação
        em que qualquer.
      </p>
      <p>
        <br>
        <b>
          16. ENDEREÇO PARA ENVIO DE CORRESPONDÊNCIAS
        </b>
      </p>
      <p>
        16.1. Todas as requisições, correspondências, notificações ou pedidos de informação deverão ser enviadas para o
        endereço da olissy APP SA. (olissy), Rua ***************************************, CEP *****-***, **********,***************.
      </p>
      <br>
    </div>
  </div>
</div>