.profile-user-img {
  border: 0px solid #d2d6de;
}
.box.box-primary {
  border-top-color: #c71582;
}

.btn-primary {
  color: #fff;
  background-color: #c71582;
  border-color: #b31374;
}

.checkbox, .radio {
  margin-top: 0px; 
}