<div class="container">
  <section *ngIf="!loading">
    <br />
    <div class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive" [src]="formStores.controls.imageDisplay.value" alt="User profile picture"/>
        <label class="filebutton" style="width:100%;">
          <div class="widget-user-image">
            <div style="width:100%;  padding: 15px;" class="btn btn-default">
              <b>Inserir Imagem</b>
            </div>
          </div>
          <span hidden>
            <input type="file" class="filebutton2" (change)="uploadFileImagem($event)"/>
          </span>
        </label>
        <ul class="list-group list-group-unbordered">
          <form [formGroup]="formStores" novalidate>
            <div class="form-group">
              <label for="exampleInputEmail1">Nome da Loja</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="storeName"
                required
                placeholder="Ex: Padaria do Vovô"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formStores.controls.storeName.valid &&
                  (formStores.controls.storeName.dirty ||
                  formStores.controls.storeName.touched)
                "
              ><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formStores.controls.storeName.invalid &&
                  (formStores.controls.storeName.dirty ||
                  formStores.controls.storeName.touched)
                "
              ><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Horário de funcionamento</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="storeHours"
                required
                placeholder="Ex: Funciona de segunda à sexta, de 8h às 23h"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formStores.controls.storeHours.valid &&
                  (formStores.controls.storeHours.dirty ||
                  formStores.controls.storeHours.touched)
                "
              ><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formStores.controls.storeHours.invalid &&
                  (formStores.controls.storeHours.dirty ||
                  formStores.controls.storeHours.touched)
                "
              ><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Tempo de entrega do seu produto</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="storeDeliveryEstimate"
                required
                placeholder="Ex: 25 minutos"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formStores.controls.storeDeliveryEstimate.valid &&
                  (formStores.controls.storeDeliveryEstimate.dirty ||
                  formStores.controls.storeDeliveryEstimate.touched)
                "
              ><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formStores.controls.storeDeliveryEstimate.invalid &&
                  (formStores.controls.storeDeliveryEstimate.dirty ||
                  formStores.controls.storeDeliveryEstimate.touched)
                "
              ><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Sobre sua Loja</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="storeAbout"
                required
                placeholder="Ex: A Padaria do Vovô tem 2 anos de mercado. Fazemos os melhores doces e pães. Compre e confira."
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formStores.controls.storeAbout.valid &&
                  (formStores.controls.storeAbout.dirty ||
                  formStores.controls.storeAbout.touched)
                "
              ><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formStores.controls.storeAbout.invalid &&
                  (formStores.controls.storeAbout.dirty ||
                  formStores.controls.storeAbout.touched)
                "
              ><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email da sua loja</label>
              <input
                type="text"
                disabled
                class="form-control"
                autocomplete="off"
                formControlName="storeEmail"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">CNPJ</label>
              <input
                type="text"
                disabled
                [imask]="cnpjMask"
                [unmask]="true"
                class="form-control"
                autocomplete="off"
                formControlName="storeCNPJ"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">cidade</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="storeCity"
                required
                placeholder="Enter cidade"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formStores.controls.storeCity.valid &&
                  (formStores.controls.storeCity.dirty ||
                  formStores.controls.storeCity.touched)
                "
              ><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formStores.controls.storeCity.invalid &&
                  (formStores.controls.storeCity.dirty ||
                  formStores.controls.storeCity.touched)
                "
              ><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">bairro</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="storeNeighborhood"
                required
                placeholder="Enter bairro"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formStores.controls.storeNeighborhood.valid &&
                  (formStores.controls.storeNeighborhood.dirty ||
                  formStores.controls.storeNeighborhood.touched)
                "
              ><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formStores.controls.storeNeighborhood.invalid &&
                  (formStores.controls.storeNeighborhood.dirty ||
                  formStores.controls.storeNeighborhood.touched)
                "
              ><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">rua</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="storeStreet"
                required
                placeholder="Enter rua"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formStores.controls.storeStreet.valid &&
                  (formStores.controls.storeStreet.dirty ||
                  formStores.controls.storeStreet.touched)
                "
              ><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formStores.controls.storeStreet.invalid &&
                  (formStores.controls.storeStreet.dirty ||
                  formStores.controls.storeStreet.touched)
                "
              ><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">celular</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                [imask]="cellPhoneMask"
                [unmask]="true"
                minlength="11"
                formControlName="storeCellPhone"
                required
                placeholder="Enter celular"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formStores.controls.storeCellPhone.valid &&
                  (formStores.controls.storeCellPhone.dirty ||
                  formStores.controls.storeCellPhone.touched)
                "
              ><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formStores.controls.storeCellPhone.invalid &&
                  (formStores.controls.storeCellPhone.dirty ||
                  formStores.controls.storeCellPhone.touched)
                "
              ><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">telefone</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                [imask]="phoneMask"
                [unmask]="true"
                minlength="10"
                formControlName="storeTelephone"
                required
                placeholder="Enter telefone"
              />
              <span
                class="help-block"
                style="color:green"
                *ngIf="
                  formStores.controls.storeTelephone.valid &&
                  (formStores.controls.storeTelephone.dirty ||
                  formStores.controls.storeTelephone.touched)
                "
              ><i class="fa fa-check"></i>Ok
              </span>
              <span
                class="help-block"
                style="color:red"
                *ngIf="
                  formStores.controls.storeTelephone.invalid &&
                  (formStores.controls.storeTelephone.dirty ||
                  formStores.controls.storeTelephone.touched)
                "
              ><i class="fa fa-remove"></i>Campo Obrigatorio
              </span>
            </div>
          </form>
        </ul>
        <button class="btn btn-primary btn-block" (click)="alterarCadastroLoja()">
          <b>Alterar Cadastro da loja</b>
        </button>
      </div>
    </div>
  </section>
  <div *ngIf="loading">
    <div class="login-logo">
      Aguarde
    </div>
    <div class="row">
      <div class="login-logo">
        <i class="fa fa-refresh fa-spin fa-2x"></i>
      </div>
    </div>
  </div>
</div>