<div class="container">
    <section class="content" style="padding: 15px 0px 15px 0px;">
      <section class="invoice box box-widget" style="margin: 0px 0px;">
        <form [formGroup]="formularioPedido" novalidate>
          <div class="row">
            <div class="col-xs-4">
              <h2 (click)="historyNavigateBack()" class="page-header linkCabecarioVoltraEstrela">
                <i class="fa fa fa-reply"></i> Voltar
              </h2>
            </div>
          </div>
          <div class="row invoice-info">
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label class="control-label" for="clientAddressFull">
                  Digite seu Endereço
                </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="clientAddressFull"
                  required
                  minlength="5"
                  autocomplete="off"
                  placeholder="Digite seu Endereço"
                  id="clientAddressFull"
                />
                <span
                  class="help-block button-alert-danger"
                  style="color:#FFF; padding: 5px;"
                  *ngIf="
                    this.formularioPedido.controls['clientAddressFull'].invalid &&
                    (this.formularioPedido.controls['clientAddressFull'].dirty ||
                    this.formularioPedido.controls['clientAddressFull'].touched)
                  "><b>Digite seu Endereço de entrega</b>
                </span>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label class="control-label" for="clientCellPhone">
                  Digite seu numero de celular
                </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="clientCellPhone"
                  [imask]="cellPhoneMask"
                  [unmask]="true"
                  required
                  minlength="11"
                  autocomplete="off"
                  placeholder="Telefone"
                  id="clientCellPhone"
                />
                <span
                  class="help-block button-alert-danger"
                  style="color:#FFF; padding: 5px;"
                  *ngIf="
                    this.formularioPedido.controls['clientCellPhone'].invalid &&
                    (this.formularioPedido.controls['clientCellPhone'].dirty ||
                    this.formularioPedido.controls['clientCellPhone'].touched)
                  ">Digite o numero do seu <b>CELULAR</b>
                </span>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label class="control-label" for="message">
                  Taxa de entrega
                </label>
                <button
                  class="btn btn-block btn-default"
                  data-keyboard="false" data-toggle="modal" data-target="#displayRateOfDelivery"
                  (click)="setMessageRateOfDelivery()"
                  [ngClass]="{ 'border-color-green': this.formularioPedido.get('rateOfDelivery').value }"
                >
                <b>{{ buttonTaxaDelivery }}</b>
                </button>
                <span
                class="help-block button-alert-danger"
                style="color:#FFF; padding: 5px;"
                *ngIf="TaxaDeliveryStatus">
                Clique acima e escolhe a opção de <b>TAXA</b>
              </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="lead">Itens do Pedido:</span>
            </div>
            <div class="col-xs-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="text-center">Quantidade</th>
                    <th>Item</th>
                    <th class="text-right">Preço</th>
                    <th class="text-right"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of produtos; let i = index">
                    <td class="text-center">
                      <a  class="btn btn-sm" style="color:rgb(102, 98, 98)">
                        <i class="fa fa-minus"></i>
                      </a>
                      {{ item.quantities }}
                      <a class="btn btn-sm" style="color:rgb(102, 98, 98)">
                        <i class="fa fa-plus"></i>
                      </a>
                    </td>
                    <td>{{ item.productName }}</td>
                    <td class="text-right">
                      {{ item.productPriceOrigin | currency: "BRL" }}
                    </td>
                    <td class="text-right">
                      <a class="btn btn-sm danger">
                        <i class="fa fa-remove"></i>
                      </a>
                    </td>
                  </tr>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">  <span class="lead" style="font-size:14px">
                <b>Escolhe a forma de Pagamento</b></span>
                <select class="form-control" formControlName="clientMethodPayment" id="clientMethodPayment">
                  <option value="null" disabled hidden>
                    << Forma de Pagamento? >>
                  </option>
                  <option  *ngIf="FormaPagamento[0].checked" [value]="FormaPagamento[0].value">
                    {{ FormaPagamento[0].description }}
                  </option>
                  <option  *ngIf="FormaPagamento[1].checked" [value]="FormaPagamento[1].value">
                    {{ FormaPagamento[1].description }}
                  </option>
                  <option  *ngIf="FormaPagamento[2].checked" [value]="FormaPagamento[2].value">
                    {{ FormaPagamento[2].description }}
                  </option>
                </select>
                <span class="help-block button-alert-danger" style="color:#FFF; padding: 5px;"
                  *ngIf="
                    formularioPedido.controls.clientMethodPayment.invalid &&
                    (formularioPedido.controls.clientMethodPayment.dirty ||
                    formularioPedido.controls.clientMethodPayment.touched)
                  "><b>Clique acima e escolhe a opção de pagamento</b>
                </span>
              </div>
              <div class="form-group" *ngIf="formularioPedido.value.clientMethodPayment == 'money'">
                <label class="control-label" for="clientCellPhone2">
                  Informe o valor do troco
                </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="informChange"
                  autocomplete="off"
                  placeholder="Informe o valor do troco"
                />
                <span class="help-block button-alert-danger" style="color:#FFF; padding: 5px;"
                *ngIf="
                  formularioPedido.controls.informChange.invalid &&
                  (formularioPedido.controls.informChange.dirty ||
                  formularioPedido.controls.informChange.touched)
                "><b>Digite o valor do troco</b>
              </span>
              </div>
  
            </div>
            <div class="col-sm-6 col-xs-12">
              <span class="lead">Montantes:</span>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Subtotal:</th>
                      <td class="text-right">
                        {{ TotalValorDoPedido() | currency: "BRL" }}
                      </td>
                    </tr>
                    <tr>
                      <th>Tax (0.0%):</th>
                      <td class="text-right">{{ 0 | currency: "BRL" }}</td>
                    </tr>
                    <tr>
                      <th>Plataforma:</th>
                      <td class="text-right">{{ formularioPedido.value.taxing | currency: "BRL" }}</td>
                    </tr>
                    <tr>
                      <th>Entrega:</th>
                      <td class="text-right">{{ formularioPedido.value.taxaDelivery }}</td>
                    </tr>
                    <tr>
                      <th>Total:</th>
                      <td class="text-right">
                        {{ calculateTotalOrder(formularioPedido.value.totalOrderValue,formularioPedido.value.taxing, formularioPedido.value.taxaDelivery) }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-xs-12">
            <button *ngIf="buttonconcluded" class="btn btn-success pull-right button-order-mobile button-alert" style="font-size:18px;" (click)="concluirPedido()">
              <b>ENVIAR PEDIDO</b>
            </button>
            <button *ngIf="!buttonconcluded" type="button" class="btn btn-default pull-right btn-finish" style="font-size: 18px">  
              <div >
                <b>Enviando Pedido</b> &nbsp; <i class="fa fa-refresh fa-spin fa-1x"></i>
              </div> 
          </button>
          </div>
        </div>
      </section>
    </section>
  </div>
  <form>
    <div class="modal fade" id="displayRateOfDelivery">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Escolhe a opção da taxa de entrega, que mais se aproxima da sua localidade</h4>
          </div>
          <div class="modal-body">
            <div class="form-group"> 
              <div *ngFor="let taxa of TaxaDelivery; let i=index"> 
                <div  *ngIf="taxa.rule == false" class="checkbox" style="display: flex; align-items: baseline;" >               
                  <input type="radio" [id]="taxa.value" [value]="taxa.value" [checked]="taxa.checked" name="rateOfDelivery" (change)="setTaxaDelivery($event, i)" >
                  <label [for]="taxa.value" [ngClass]="taxa.value == 'negotiateRateLivery' ? 'alert alert-warning alert-dismissible' : 'alert alert-success alert-dismissible'">{{taxa.description}}</label>
                </div>
                <div  *ngIf="taxa.rule == true && taxa.value == 'deliveryFreeAbove'" class="checkbox" style="display: flex; align-items: baseline;" >
                  <input type="radio" [id]="taxa.value" [value]="taxa.value" [checked]="taxa.checked" name="rateOfDelivery"  (change)="setTaxaDelivery($event, i)">
                  <label [for]="taxa.value" class="alert alert-info alert-dismissible">{{taxa.description}}</label>
                </div>
                <div  *ngIf="taxa.rule == true && taxa.value == 'deliveryBy'" class="checkbox" style="display: flex; align-items: baseline;" >
                  <input type="radio" [id]="taxa.value" [value]="taxa.value" [checked]="taxa.checked" name="rateOfDelivery"  (change)="setTaxaDelivery($event, i)">
                  <label [for]="taxa.value" class="alert alert-danger ess alert-dismissible">{{taxa.description}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div *ngIf="this.formularioPedido.get('rateOfDelivery').value == false">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Cancelar
              </button>
            </div>
            <div *ngIf="this.formularioPedido.get('rateOfDelivery').value">
              <button type="button" class="btn button-alert" style="color: #fff;" data-dismiss="modal">
                Ocultar
              </button>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>
  </form> 