<div class="container">
  <section class="content" style="padding-top: 30px">
    <div class="jumbotron box">
      <h2>
        Pedido Enviado</h2>
      <p>
        <b>
          Para iniciar um pedido é necessario a confirmação de ambas as parte, ou seja (Cliente/Loja)
        </b>
      </p>
      <p style="color: green;">
        <b>
          Aguarde a confirmação da loja
        </b>
      </p>
      <br />
      <a [routerLink]="['/product']" class="btn btn-success" style="width: 100%">
        VOLTAR PARA HOME
      </a>
    </div>
  </section>
</div>