.btn-default {
    padding: 15px;
}

.modal-footer .btn-default {
    padding: 6px;
    background-color: #565656;
    color: #ecf0f5;
}

.row{
    background-color: #ecf0f5;
}

.modal-body{
    background-color: #ecf0f5;
}

.modal-footer {
    background-color: #565656;
}

