<div class="div-start-new-open center">
    <button type="button" (click)="startNewOpen()" class="btn btn-success btn-start-new-open">
        Iniciar Nova Abertura
    </button>
</div>

<div class="container">
    <div style="margin-top: 10px">
        <a  [routerLink]="['/admin-payment-list', '123456' ]">
          <div class="info-box">
            <span class="info-box-icon info-box-icon-b info-box-icon-open">
               <b style=" font-size: 12px; ">R$95.845.25</b>
            </span>
            <div class="info-box-content">
                <div class="box-start">
                    <span class="info-box-text">
                        <b>Aberto</b>
                    </span>
                    <span class="info-box-number">
                        01/02/2020 
                        <br>
                        01/03/2020 
                    </span>
                </div>
                <div class="box-end">
                    <span class="info-box-number">
                        <b class="info-box-text-open">Aberto:</b> 4.894
                        <br>
                        <b class="info-box-text-paid">Pagos:</b> 0
                        <br>
                        <b class="info-box-text-inPayment">Em pagamento:</b> 0
                        <br>
                        <b class="info-box-text-delay">Atrazados:</b> 0
                    </span>
                </div>
            </div>
          </div>
        </a>

        <a  [routerLink]="['/admin-payment-list', '123456' ]">
            <div class="info-box">
              <span class="info-box-icon info-box-icon-b info-box-icon-inPayment">
                 <b style=" font-size: 12px; ">R$95.845.25</b>
              </span>
              <div class="info-box-content">
                  <div class="box-start">
                      <span class="info-box-text">
                          <b>Em pagamento</b>
                      </span>
                      <span class="info-box-number">
                          01/02/2020 
                          <br>
                          01/03/2020 
                      </span>
                  </div>
                  <div class="box-end">
                    <span class="info-box-number">
                        <b class="info-box-text-open">Aberto:</b> 15.445
                        <br>
                        <b class="info-box-text-paid">Pagos:</b> 9.846
                        <br>
                        <b class="info-box-text-inPayment">Em pagamento:</b> 5.609
                        <br>
                        <b class="info-box-text-delay">Atrazados:</b> 0
                    </span>
                </div>
              </div>
            </div>
        </a>

        <a  [routerLink]="['/admin-payment-list', '123456' ]">
            <div class="info-box">
              <span class="info-box-icon info-box-icon-b info-box-icon-paid">
                 <b style=" font-size: 12px; ">R$95.845.25</b>
              </span>
              <div class="info-box-content">
                  <div class="box-start">
                      <span class="info-box-text">
                          <b>Feixado</b>
                      </span>
                      <span class="info-box-number">
                          01/02/2020 
                          <br>
                          01/03/2020 
                      </span>
                  </div>
                  <div class="box-end">
                    <span class="info-box-number">
                        <b class="info-box-text-open">Aberto:</b> 15.445
                        <br>
                        <b class="info-box-text-paid">Pagos:</b> 9.846
                        <br>
                        <b class="info-box-text-inPayment">Em pagamento:</b> 0
                        <br>
                        <b class="info-box-text-delay">Atrazados:</b> 5.609
                    </span>
                </div>
              </div>
            </div>
        </a>
    </div>
</div>
